n8n-workflows/mundial-alta-stop.json
{
  "name": "🌍 Mundial 2026 — WhatsApp ALTA / STOP",
  "nodes": [
    {
      "id": "aaaa0001",
      "name": "Kapso Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "parameters": {
        "path": "mundial-kapso",
        "responseMode": "onReceived",
        "httpMethod": "POST",
        "options": {}
      },
      "notesInFlow": true,
      "notes": "ENDPOINT para Kapso:\nProducción: https://TU-N8N/webhook/mundial-kapso\nTest:       https://TU-N8N/webhook-test/mundial-kapso"
    },
    {
      "id": "aaaa0002",
      "name": "Parsear Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 400],
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nlet phone = '';\nlet messageText = '';\n\n// Formato Kapso directo\nif (body.from) {\n  phone = String(body.from);\n  messageText = typeof body.text === 'string' ? body.text : (body.text?.body || body.message || '');\n}\n// Formato Meta WhatsApp Cloud API\nelse if (body.entry?.[0]?.changes?.[0]?.value?.messages) {\n  const msg = body.entry[0].changes[0].value.messages[0];\n  phone = msg.from;\n  messageText = msg.text?.body || '';\n}\n// Fallback\nelse {\n  phone = String(body.phone || body.sender || body.wa_id || body.from || '');\n  messageText = String(body.message || body.body || body.text || '');\n}\n\nphone = phone.replace(/[\\s+\\-().]/g, '');\n\nconst msgUp = messageText.trim().toUpperCase();\nlet action = 'OTHER';\nif (msgUp.includes('ALTA') && msgUp.includes('MUNDIAL')) action = 'ALTA';\nelse if (msgUp === 'STOP' || msgUp.startsWith('STOP ')) action = 'STOP';\n\nreturn [{ json: { phone, messageText, action, timestamp: new Date().toISOString() } }];"
      }
    },
    {
      "id": "aaaa0003",
      "name": "¿Es ALTA?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "ifalta1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "ALTA",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaaa0004",
      "name": "Leer Suscriptores",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [920, 260],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "PEGAR_SPREADSHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Suscriptores", "mode": "name" },
        "filtersUI": {},
        "options": { "returnAllMatchingRows": true }
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "AGREGAR_CREDENTIAL_GOOGLE_SHEETS", "name": "Google Sheets" }
      },
      "notesInFlow": true,
      "notes": "Conecta tu credencial de Google Sheets\ny reemplaza el Spreadsheet ID."
    },
    {
      "id": "aaaa0005",
      "name": "Verificar Si Existe",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 260],
      "parameters": {
        "jsCode": "const phone = $('Parsear Mensaje').first().json.phone;\nconst rows = $input.all();\n\nconst found = rows.find(r => {\n  const rowPhone = String(r.json.phone || r.json.Phone || '').replace(/[\\s+]/g, '');\n  const active = String(r.json.active || r.json.Active || 'FALSE').toUpperCase();\n  return rowPhone === phone && active === 'TRUE';\n});\n\nreturn [{ json: {\n  phone,\n  alreadyActive: !!found,\n  timestamp: $('Parsear Mensaje').first().json.timestamp\n}}];"
      }
    },
    {
      "id": "aaaa0006",
      "name": "¿Ya Suscrito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1400, 260],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "ifsub1",
              "leftValue": "={{ $json.alreadyActive }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaaa0007",
      "name": "Agregar Suscriptor",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1640, 140],
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "PEGAR_SPREADSHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Suscriptores", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "phone": "={{ $json.phone }}",
            "subscribed_at": "={{ $json.timestamp }}",
            "active": "TRUE",
            "name": ""
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "AGREGAR_CREDENTIAL_GOOGLE_SHEETS", "name": "Google Sheets" }
      }
    },
    {
      "id": "aaaa0015",
      "name": "GPT Bienvenida",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1880, 140],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Eres el asistente oficial del portal mundial.rodai.io para el Mundial 2026. Escribes en español, tono entusiasta pero profesional, para WhatsApp. Máximo 200 caracteres. Solo *negrita* si es necesario. Sin markdown pesado. Siempre termina el mensaje con: Responde STOP para cancelar."
            },
            {
              "role": "user",
              "content": "Genera un mensaje de confirmación de suscripción para alertas del Mundial 2026. El usuario acaba de escribir ALTA. Incluye que recibirá: alerta 30 min antes de cada partido, avisos de goles y resultado final."
            }
          ]
        },
        "options": {
          "maxTokens": 220
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "DNniMXGQP8C9zu5z",
          "name": "OpenAi account 2"
        }
      },
      "notesInFlow": true,
      "notes": "Usa la misma credencial OpenAI del RODAI AGENTE V2.\nModelo: gpt-4.1-mini (~$0.0001/msg)"
    },
    {
      "id": "aaaa0016",
      "name": "Extraer Bienvenida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 140],
      "parameters": {
        "jsCode": "// El nodo OpenAI devuelve el texto en message.content o content\nconst output = $input.first().json;\nconst text = output.message?.content || output.content || output.choices?.[0]?.message?.content || '✅ ¡Suscrito al Mundial 2026! Recibirás alertas de partidos, goles y resultados. Responde STOP para cancelar.';\nconst phone = $('Parsear Mensaje').first().json.phone;\nreturn [{ json: { phone, mensajeGenerado: text.trim() } }];"
      }
    },
    {
      "id": "aaaa0008",
      "name": "Enviar Bienvenida",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2360, 140],
      "parameters": {
        "method": "POST",
        "url": "https://api.kapso.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer PEGAR_KAPSO_API_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phone, type: 'text', text: { body: $json.mensajeGenerado } }) }}",
        "options": {}
      },
      "notesInFlow": true,
      "notes": "Ventana 24h activa — el usuario acaba\nde escribir ALTA. Sin riesgo de spam."
    },
    {
      "id": "aaaa0017",
      "name": "GPT Ya Suscrito",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1640, 380],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Asistente del Mundial 2026 para WhatsApp. Español, tono amigable. Máximo 120 caracteres."
            },
            {
              "role": "user",
              "content": "El usuario ya está suscrito. Dile de forma simpática que ya lo tenemos registrado y que le llegará todo. Recuérdale que puede cancelar con STOP."
            }
          ]
        },
        "options": {
          "maxTokens": 100
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "DNniMXGQP8C9zu5z",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "id": "aaaa0018",
      "name": "Extraer Ya Suscrito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 380],
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst text = output.message?.content || output.content || output.choices?.[0]?.message?.content || '⚽ Ya estás en la lista del Mundial 2026. Responde STOP para cancelar.';\nconst phone = $('Parsear Mensaje').first().json.phone;\nreturn [{ json: { phone, mensajeGenerado: text.trim() } }];"
      }
    },
    {
      "id": "aaaa0009",
      "name": "Enviar Ya Suscrito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2120, 380],
      "parameters": {
        "method": "POST",
        "url": "https://api.kapso.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer PEGAR_KAPSO_API_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phone, type: 'text', text: { body: $json.mensajeGenerado } }) }}",
        "options": {}
      }
    },
    {
      "id": "aaaa0010",
      "name": "¿Es STOP?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [920, 560],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "combinator": "and",
          "conditions": [
            {
              "id": "ifstop1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "STOP",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "aaaa0011",
      "name": "Buscar Suscriptor STOP",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1160, 480],
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "PEGAR_SPREADSHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Suscriptores", "mode": "name" },
        "filtersUI": {
          "values": [
            { "lookupColumn": "phone", "lookupValue": "={{ $('Parsear Mensaje').first().json.phone }}" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "AGREGAR_CREDENTIAL_GOOGLE_SHEETS", "name": "Google Sheets" }
      }
    },
    {
      "id": "aaaa0012",
      "name": "Marcar Inactivo",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1400, 480],
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "PEGAR_SPREADSHEET_ID_AQUI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Suscriptores", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": { "active": "FALSE" },
          "matchingColumns": ["phone"],
          "schema": []
        },
        "options": {}
      },
      "credentials": {
        "googleSheetsOAuth2Api": { "id": "AGREGAR_CREDENTIAL_GOOGLE_SHEETS", "name": "Google Sheets" }
      }
    },
    {
      "id": "aaaa0019",
      "name": "GPT Confirmar Baja",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1640, 480],
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Asistente del Mundial 2026. WhatsApp. Español. Tono cálido. Máximo 150 caracteres."
            },
            {
              "role": "user",
              "content": "El usuario pidió darse de baja (STOP). Confirma la baja, sé amigable, dile que puede volver escribiendo ALTA Mundial 2026."
            }
          ]
        },
        "options": {
          "maxTokens": 120
        }
      },
      "credentials": {
        "openAiApi": {
          "id": "DNniMXGQP8C9zu5z",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "id": "aaaa0020",
      "name": "Extraer Texto Baja",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1880, 480],
      "parameters": {
        "jsCode": "const output = $input.first().json;\nconst text = output.message?.content || output.content || output.choices?.[0]?.message?.content || '✅ Te dimos de baja. Si quieres volver escribe ALTA Mundial 2026. ¡Hasta pronto! 👋';\nconst phone = $('Parsear Mensaje').first().json.phone;\nreturn [{ json: { phone, mensajeGenerado: text.trim() } }];"
      }
    },
    {
      "id": "aaaa0013",
      "name": "Confirmar Baja",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2120, 480],
      "parameters": {
        "method": "POST",
        "url": "https://api.kapso.io/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer PEGAR_KAPSO_API_KEY_AQUI" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $json.phone, type: 'text', text: { body: $json.mensajeGenerado } }) }}",
        "options": {}
      }
    },
    {
      "id": "aaaa0014",
      "name": "Ignorar Mensaje",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 680],
      "parameters": {}
    }
  ],
  "connections": {
    "Kapso Webhook": {
      "main": [[{ "node": "Parsear Mensaje", "type": "main", "index": 0 }]]
    },
    "Parsear Mensaje": {
      "main": [[{ "node": "¿Es ALTA?", "type": "main", "index": 0 }]]
    },
    "¿Es ALTA?": {
      "main": [
        [{ "node": "Leer Suscriptores", "type": "main", "index": 0 }],
        [{ "node": "¿Es STOP?", "type": "main", "index": 0 }]
      ]
    },
    "Leer Suscriptores": {
      "main": [[{ "node": "Verificar Si Existe", "type": "main", "index": 0 }]]
    },
    "Verificar Si Existe": {
      "main": [[{ "node": "¿Ya Suscrito?", "type": "main", "index": 0 }]]
    },
    "¿Ya Suscrito?": {
      "main": [
        [{ "node": "GPT Ya Suscrito", "type": "main", "index": 0 }],
        [{ "node": "Agregar Suscriptor", "type": "main", "index": 0 }]
      ]
    },
    "Agregar Suscriptor": {
      "main": [[{ "node": "GPT Bienvenida", "type": "main", "index": 0 }]]
    },
    "GPT Bienvenida": {
      "main": [[{ "node": "Extraer Bienvenida", "type": "main", "index": 0 }]]
    },
    "Extraer Bienvenida": {
      "main": [[{ "node": "Enviar Bienvenida", "type": "main", "index": 0 }]]
    },
    "GPT Ya Suscrito": {
      "main": [[{ "node": "Extraer Ya Suscrito", "type": "main", "index": 0 }]]
    },
    "Extraer Ya Suscrito": {
      "main": [[{ "node": "Enviar Ya Suscrito", "type": "main", "index": 0 }]]
    },
    "¿Es STOP?": {
      "main": [
        [{ "node": "Buscar Suscriptor STOP", "type": "main", "index": 0 }],
        [{ "node": "Ignorar Mensaje", "type": "main", "index": 0 }]
      ]
    },
    "Buscar Suscriptor STOP": {
      "main": [[{ "node": "Marcar Inactivo", "type": "main", "index": 0 }]]
    },
    "Marcar Inactivo": {
      "main": [[{ "node": "GPT Confirmar Baja", "type": "main", "index": 0 }]]
    },
    "GPT Confirmar Baja": {
      "main": [[{ "node": "Extraer Texto Baja", "type": "main", "index": 0 }]]
    },
    "Extraer Texto Baja": {
      "main": [[{ "node": "Confirmar Baja", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "946060f9d03aae3a7f3b3745b5597dd04f16e907beb9bc1e644b546ce2299e41"
  }
}
