workflows/backups/2026-06-12/paypal-ipn.json
{"updatedAt":"2026-06-11T17:20:15.275Z","createdAt":"2026-06-11T05:30:54.691Z","id":"E3IIXbz7TKxVUlpL","name":"💳 Mundial 2026 — PayPal IPN","description":null,"active":true,"isArchived":false,"nodes":[{"id":"pp-wh","name":"PayPal IPN — Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"paypal-ipn","responseMode":"onReceived","responseData":"firstEntryJson"},"webhookId":"ebd28ae5-e366-46b1-bf0a-0ecff1b34f13"},{"id":"pp-if","name":"¿Pago completado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body.payment_status }}","rightValue":"Completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"pp-db","name":"Buscar suscriptor por nombre","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[500,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `SELECT * FROM suscriptores WHERE LOWER(name) ILIKE '%${($json.body.first_name + ' ' + $json.body.last_name).toLowerCase().replace(/'/g, \"''\")}%' AND active = true LIMIT 1` }}"},"alwaysOutputData":true},{"id":"pp-activate","name":"Activar suscriptor pagado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[750,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `UPDATE suscriptores SET paid = true, paid_at = NOW(), demo_only = false WHERE id = ${$('Buscar suscriptor por nombre').first().json.id} RETURNING id, name, phone, platform` }}"}},{"id":"pp-tg","name":"Notificar Erick — Pago recibido","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,-100],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '💳 PAGO RECIBIDO PayPal\\n\\n👤 ' + $('PayPal IPN — Webhook').first().json.body.first_name + ' ' + $('PayPal IPN — Webhook').first().json.body.last_name + '\\n📧 ' + ($('PayPal IPN — Webhook').first().json.body.payer_email || '') + '\\n💵 $' + ($('PayPal IPN — Webhook').first().json.body.mc_gross || '') + '\\n\\n✅ Suscriptor activado: ' + ($('Buscar suscriptor por nombre').first().json.name || '') + ' (' + ($('Buscar suscriptor por nombre').first().json.platform || '') + ' ' + ($('Buscar suscriptor por nombre').first().json.phone || $('Buscar suscriptor por nombre').first().json.telegram_chat_id || '') + ')' }}","additionalFields":{"appendAttribution":false}},"webhookId":"b1aa03f5-a000-4271-b884-c449e0af2c5e"},{"id":"pp-tg-notfound","name":"Notificar Erick — Pago sin match","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[500,150],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '💳 *PAGO RECIBIDO — Sin match*\\n\\n👤 ' + $json.body.first_name + ' ' + $json.body.last_name + '\\n📧 ' + $json.body.payer_email + '\\n💵 $' + $json.body.mc_gross + '\\n\\n⚠️ No se encontró suscriptor con ese nombre. Activar manualmente.' }}","additionalFields":{"parse_mode":"Markdown","appendAttribution":false}},"webhookId":"0b19674a-f6e3-43be-9d3d-e8a6ecea734a"},{"id":"pp-if-found","name":"¿Suscriptor encontrado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,-100],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"pp-if-canal","name":"PAGO — ¿Es Telegram?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $('Buscar suscriptor por nombre').first().json.platform }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"pp-conf-tg","name":"PAGO — Confirmar Cliente TG","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1320,220],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"={{ $('Buscar suscriptor por nombre').first().json.telegram_chat_id }}","text":"=✅ ¡Pago confirmado! Tu suscripción al Mundial 2026 quedó activa: los 104 partidos con goles al instante, alertas pre-partido y resultados.\n\n🆘 Ahora tienes acceso a soporte: escribe SOPORTE o AYUDA en cualquier momento y una persona del equipo te atiende.\n\n¡Gracias por unirte! ⚽","additionalFields":{"appendAttribution":false}},"webhookId":"23b85f83-c89b-465d-b2f6-f4a6e137cec4"},{"id":"pp-conf-wa","name":"PAGO — Confirmar Cliente WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,380],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('Buscar suscriptor por nombre').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"✅ ¡Pago confirmado! Tu suscripción al Mundial 2026 quedó activa: los 104 partidos con goles al instante, alertas pre-partido y resultados.\\n\\n🆘 Ahora tienes acceso a soporte: escribe SOPORTE o AYUDA en cualquier momento y una persona del equipo te atiende.\\n\\n¡Gracias por unirte! ⚽\" } } }}"}}],"connections":{"PayPal IPN — Webhook":{"main":[[{"node":"¿Pago completado?","type":"main","index":0}]]},"¿Pago completado?":{"main":[[{"node":"Buscar suscriptor por nombre","type":"main","index":0}],[{"node":"Notificar Erick — Pago sin match","type":"main","index":0}]]},"Buscar suscriptor por nombre":{"main":[[{"node":"¿Suscriptor encontrado?","type":"main","index":0}]]},"Activar suscriptor pagado":{"main":[[{"node":"PAGO — ¿Es Telegram?","type":"main","index":0}]]},"¿Suscriptor encontrado?":{"main":[[{"node":"Activar suscriptor pagado","type":"main","index":0}],[{"node":"Notificar Erick — Pago sin match","type":"main","index":0}]]},"PAGO — ¿Es Telegram?":{"main":[[{"node":"PAGO — Confirmar Cliente TG","type":"main","index":0}],[{"node":"PAGO — Confirmar Cliente WA","type":"main","index":0}]]},"PAGO — Confirmar Cliente TG":{"main":[[{"node":"Notificar Erick — Pago recibido","type":"main","index":0}]]},"PAGO — Confirmar Cliente WA":{"main":[[{"node":"Notificar Erick — Pago recibido","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"EsaoKCXpD3TZMCje"},"staticData":null,"meta":null,"pinData":null,"versionId":"e34ca4b4-9ba5-459b-aaf9-0374d4102e27","activeVersionId":"e34ca4b4-9ba5-459b-aaf9-0374d4102e27","versionCounter":18,"triggerCount":1,"shared":[{"updatedAt":"2026-06-11T05:30:54.694Z","createdAt":"2026-06-11T05:30:54.694Z","role":"workflow:owner","workflowId":"E3IIXbz7TKxVUlpL","projectId":"g2T64qb4JyW1mWdT","project":{"updatedAt":"2026-03-23T02:01:06.896Z","createdAt":"2026-03-23T01:54:43.748Z","id":"g2T64qb4JyW1mWdT","name":"Erick RODAI <admin@rodai.io>","type":"personal","icon":null,"description":null,"creatorId":"111326d0-ca57-4427-a4d0-5c6508637090"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-11T17:20:15.277Z","createdAt":"2026-06-11T17:20:15.277Z","versionId":"e34ca4b4-9ba5-459b-aaf9-0374d4102e27","workflowId":"E3IIXbz7TKxVUlpL","nodes":[{"id":"pp-wh","name":"PayPal IPN — Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,0],"parameters":{"httpMethod":"POST","path":"paypal-ipn","responseMode":"onReceived","responseData":"firstEntryJson"},"webhookId":"ebd28ae5-e366-46b1-bf0a-0ecff1b34f13"},{"id":"pp-if","name":"¿Pago completado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[250,0],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.body.payment_status }}","rightValue":"Completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"pp-db","name":"Buscar suscriptor por nombre","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[500,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `SELECT * FROM suscriptores WHERE LOWER(name) ILIKE '%${($json.body.first_name + ' ' + $json.body.last_name).toLowerCase().replace(/'/g, \"''\")}%' AND active = true LIMIT 1` }}"},"alwaysOutputData":true},{"id":"pp-activate","name":"Activar suscriptor pagado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[750,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `UPDATE suscriptores SET paid = true, paid_at = NOW(), demo_only = false WHERE id = ${$('Buscar suscriptor por nombre').first().json.id} RETURNING id, name, phone, platform` }}"}},{"id":"pp-tg","name":"Notificar Erick — Pago recibido","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1000,-100],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '💳 PAGO RECIBIDO PayPal\\n\\n👤 ' + $('PayPal IPN — Webhook').first().json.body.first_name + ' ' + $('PayPal IPN — Webhook').first().json.body.last_name + '\\n📧 ' + ($('PayPal IPN — Webhook').first().json.body.payer_email || '') + '\\n💵 $' + ($('PayPal IPN — Webhook').first().json.body.mc_gross || '') + '\\n\\n✅ Suscriptor activado: ' + ($('Buscar suscriptor por nombre').first().json.name || '') + ' (' + ($('Buscar suscriptor por nombre').first().json.platform || '') + ' ' + ($('Buscar suscriptor por nombre').first().json.phone || $('Buscar suscriptor por nombre').first().json.telegram_chat_id || '') + ')' }}","additionalFields":{"appendAttribution":false}},"webhookId":"b1aa03f5-a000-4271-b884-c449e0af2c5e"},{"id":"pp-tg-notfound","name":"Notificar Erick — Pago sin match","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[500,150],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '💳 *PAGO RECIBIDO — Sin match*\\n\\n👤 ' + $json.body.first_name + ' ' + $json.body.last_name + '\\n📧 ' + $json.body.payer_email + '\\n💵 $' + $json.body.mc_gross + '\\n\\n⚠️ No se encontró suscriptor con ese nombre. Activar manualmente.' }}","additionalFields":{"parse_mode":"Markdown","appendAttribution":false}},"webhookId":"0b19674a-f6e3-43be-9d3d-e8a6ecea734a"},{"id":"pp-if-found","name":"¿Suscriptor encontrado?","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,-100],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose"},"conditions":[{"leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"}}},{"id":"pp-if-canal","name":"PAGO — ¿Es Telegram?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1100,300],"parameters":{"conditions":{"options":{"caseSensitive":false,"typeValidation":"loose"},"conditions":[{"leftValue":"={{ $('Buscar suscriptor por nombre').first().json.platform }}","rightValue":"telegram","operator":{"type":"string","operation":"equals"}}],"combinator":"and"}}},{"id":"pp-conf-tg","name":"PAGO — Confirmar Cliente TG","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1320,220],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"={{ $('Buscar suscriptor por nombre').first().json.telegram_chat_id }}","text":"=✅ ¡Pago confirmado! Tu suscripción al Mundial 2026 quedó activa: los 104 partidos con goles al instante, alertas pre-partido y resultados.\n\n🆘 Ahora tienes acceso a soporte: escribe SOPORTE o AYUDA en cualquier momento y una persona del equipo te atiende.\n\n¡Gracias por unirte! ⚽","additionalFields":{"appendAttribution":false}},"webhookId":"23b85f83-c89b-465d-b2f6-f4a6e137cec4"},{"id":"pp-conf-wa","name":"PAGO — Confirmar Cliente WA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1320,380],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('Buscar suscriptor por nombre').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"✅ ¡Pago confirmado! Tu suscripción al Mundial 2026 quedó activa: los 104 partidos con goles al instante, alertas pre-partido y resultados.\\n\\n🆘 Ahora tienes acceso a soporte: escribe SOPORTE o AYUDA en cualquier momento y una persona del equipo te atiende.\\n\\n¡Gracias por unirte! ⚽\" } } }}"}}],"connections":{"PayPal IPN — Webhook":{"main":[[{"node":"¿Pago completado?","type":"main","index":0}]]},"¿Pago completado?":{"main":[[{"node":"Buscar suscriptor por nombre","type":"main","index":0}],[{"node":"Notificar Erick — Pago sin match","type":"main","index":0}]]},"Buscar suscriptor por nombre":{"main":[[{"node":"¿Suscriptor encontrado?","type":"main","index":0}]]},"Activar suscriptor pagado":{"main":[[{"node":"PAGO — ¿Es Telegram?","type":"main","index":0}]]},"¿Suscriptor encontrado?":{"main":[[{"node":"Activar suscriptor pagado","type":"main","index":0}],[{"node":"Notificar Erick — Pago sin match","type":"main","index":0}]]},"PAGO — ¿Es Telegram?":{"main":[[{"node":"PAGO — Confirmar Cliente TG","type":"main","index":0}],[{"node":"PAGO — Confirmar Cliente WA","type":"main","index":0}]]},"PAGO — Confirmar Cliente TG":{"main":[[{"node":"Notificar Erick — Pago recibido","type":"main","index":0}]]},"PAGO — Confirmar Cliente WA":{"main":[[{"node":"Notificar Erick — Pago recibido","type":"main","index":0}]]}},"authors":"Erick RODAI","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-11T17:20:15.314Z","id":2152,"workflowId":"E3IIXbz7TKxVUlpL","versionId":"e34ca4b4-9ba5-459b-aaf9-0374d4102e27","event":"activated","userId":"111326d0-ca57-4427-a4d0-5c6508637090"},{"createdAt":"2026-06-11T17:20:15.304Z","id":2151,"workflowId":"E3IIXbz7TKxVUlpL","versionId":"e34ca4b4-9ba5-459b-aaf9-0374d4102e27","event":"deactivated","userId":"111326d0-ca57-4427-a4d0-5c6508637090"}]}}