workflows/backups/2026-06-12/WF1-pre-mute.json
{
 "updatedAt": "2026-06-12T20:00:37.889Z",
 "createdAt": "2026-06-09T01:38:17.228Z",
 "id": "cI5WRRTgnqkInqq0",
 "name": "🌍 Mundial 2026 — Suscripciones",
 "description": null,
 "active": true,
 "isArchived": false,
 "nodes": [
  {
   "parameters": {
    "updates": [
     "message"
    ],
    "additionalFields": {}
   },
   "id": "tg-trigger",
   "name": "Telegram — Mensajes entrantes",
   "type": "n8n-nodes-base.telegramTrigger",
   "typeVersion": 1.1,
   "position": [
    208,
    -76
   ],
   "webhookId": "mundial-telegram-trigger",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   }
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "mundial-logic",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "wh-whatsapp",
   "name": "WhatsApp — ALTA/STOP desde Kapso",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    208,
    1104
   ],
   "webhookId": "e5f41f18-a8a7-44fc-b823-945c3075f1a5"
  },
  {
   "parameters": {
    "httpMethod": "POST",
    "path": "stripe-mundial",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "wh-stripe",
   "name": "Stripe — Pago completado",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    208,
    1496
   ],
   "webhookId": "8c2e14b8-4234-4c7d-8e37-c901f1971096"
  },
  {
   "parameters": {
    "path": "mundial-admin",
    "responseMode": "responseNode",
    "options": {},
    "httpMethod": "GET"
   },
   "id": "wh-admin",
   "name": "Admin — Stats",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    208,
    1816
   ],
   "webhookId": "f121ba0d-d184-47b8-9d94-41c9f771e0bc"
  },
  {
   "parameters": {
    "jsCode": "\nconst item = $input.first().json;\nconst text = (item.message?.text || '').toLowerCase().trim();\nconst hasContact = !!(item.message?.contact?.phone_number);\nlet route = 'pregunta';\nif (hasContact) route = 'contact';\nelse if (text.includes('alta')) route = 'alta';\nelse if (text.includes('stop')) route = 'stop';\nelse if (/^[1-5]$/.test(text)) route = 'feedback';\nelse if (/soporte|ayuda|humano|falla|problema|reclamo|no funciona/.test(text)) route = 'soporte';\nreturn [{ json: { ...item, _route: route } }];\n"
   },
   "id": "tg-parse",
   "name": "TG — Router",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    432,
    -76
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO suscriptores\n  (name, platform, telegram_chat_id, telegram_username,\n   active, demo_only, subscribed_at, created_at, updated_at)\nVALUES (\n  '{{ $json.message.from.first_name || \"\" }}',\n  'telegram',\n  {{ $json.message.from.id }},\n  '{{ $json.message.from.username || \"\" }}',\n  true, true, NOW(), NOW(), NOW()\n)\nON CONFLICT (telegram_chat_id) DO UPDATE SET\n  active            = true,\n  name              = EXCLUDED.name,\n  telegram_username = EXCLUDED.telegram_username,\n  updated_at        = NOW()\nRETURNING telegram_chat_id, name;",
    "options": {}
   },
   "id": "tg-alta-db",
   "name": "TG ALTA — Guardar en DB",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1104,
    -32
   ],
   "webhookId": "8adaa991-b48a-4094-94f6-aeadc22aaae3",
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "chatId": "={{ $json.telegram_chat_id }}",
    "text": "=✅ *¡Listo, {{ $('Telegram — Mensajes entrantes').first().json.message.from.first_name }}!*\n\nYa estás suscrito a las alertas del *Mundial 2026* 🏆\n\nRecibirás:\n⚽ Goles en tiempo real\n🟢 Inicio del partido\n📋 Alineaciones\n🏁 Resultado final\n📊 Resumen del día\n\nEl primer partido de México es el *11 de junio vs Sudáfrica*. ¡Nos vemos ahí! 🇲🇽\n\n_Escribe STOP para cancelar en cualquier momento._",
    "additionalFields": {
     "appendAttribution": false,
     "parse_mode": "Markdown"
    }
   },
   "id": "tg-alta-msg",
   "name": "TG ALTA — Confirmar registro",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    208,
    784
   ],
   "webhookId": "b2090d37-c9fc-4ab4-9071-703d140f98e5",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   }
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "UPDATE suscriptores SET active = false, updated_at = NOW() WHERE telegram_chat_id = {{ $json.message.from.id }};",
    "options": {}
   },
   "id": "tg-stop-db",
   "name": "Telegram STOP — Dar de baja",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1392,
    116
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "chatId": "={{ $('Telegram — Mensajes entrantes').item.json.message.chat.id }}",
    "text": "✅ Te dimos de baja de las alertas del Mundial. Puedes volver cuando quieras enviando ALTA. ¡Hasta pronto!",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "id": "tg-stop-msg",
   "name": "Telegram STOP — Confirmar baja",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1680,
    116
   ],
   "webhookId": "196eb699-273d-42ce-9b61-67a1ac41ce03",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   }
  },
  {
   "parameters": {
    "rules": {
     "values": [
      {
       "conditions": {
        "options": {
         "caseSensitive": false,
         "leftValue": "",
         "typeValidation": "strict",
         "version": 1
        },
        "conditions": [
         {
          "leftValue": "={{ $json.body.message_text }}",
          "rightValue": "ALTA",
          "operator": {
           "type": "string",
           "operation": "contains"
          }
         }
        ],
        "combinator": "and"
       },
       "renameOutput": true,
       "outputKey": "alta"
      },
      {
       "conditions": {
        "options": {
         "caseSensitive": false,
         "leftValue": "",
         "typeValidation": "strict",
         "version": 1
        },
        "conditions": [
         {
          "leftValue": "={{ $json.body.message_text }}",
          "rightValue": "STOP",
          "operator": {
           "type": "string",
           "operation": "contains"
          }
         }
        ],
        "combinator": "and"
       },
       "renameOutput": true,
       "outputKey": "stop"
      }
     ]
    },
    "options": {}
   },
   "id": "wa-parse",
   "name": "WhatsApp — Detectar ALTA o STOP",
   "type": "n8n-nodes-base.switch",
   "typeVersion": 3.2,
   "position": [
    432,
    1104
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO suscriptores (phone, platform, active, demo_only, subscribed_at, created_at, updated_at, country)\nVALUES ('{{ $json.body.phone }}', 'whatsapp', true, true, NOW(), NOW(), NOW(), {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }})\nON CONFLICT (phone) DO UPDATE SET active = true, platform = 'whatsapp', updated_at = NOW(), country = COALESCE(EXCLUDED.country, suscriptores.country);",
    "options": {}
   },
   "id": "wa-alta-db",
   "name": "WhatsApp ALTA — Guardar en DB",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    880,
    1008
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "{ \"status\": \"subscribed\" }",
    "options": {}
   },
   "id": "wa-alta-respond",
   "name": "WhatsApp ALTA — Responder OK",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    1104,
    1008
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "UPDATE suscriptores SET active = false, updated_at = NOW() WHERE phone = '{{ $json.body.phone }}';",
    "options": {}
   },
   "id": "wa-stop-db",
   "name": "WhatsApp STOP — Dar de baja",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    656,
    1200
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "{ \"status\": \"unsubscribed\" }",
    "options": {}
   },
   "id": "wa-stop-respond",
   "name": "WhatsApp STOP — Responder OK",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    880,
    1200
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict",
      "version": 1
     },
     "conditions": [
      {
       "id": "c1",
       "leftValue": "={{ $json.body.type }}",
       "rightValue": "checkout.session.completed",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "stripe-check",
   "name": "Stripe — Es checkout completado?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    432,
    1496
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO suscriptores (phone, email, stripe_session_id, paid, paid_at, active, demo_only, platform, subscribed_at, created_at, updated_at)\nVALUES (\n  COALESCE(NULLIF('{{ $json.body.data.object.customer_details.phone }}', ''), 'stripe_{{ $json.body.data.object.id }}'),\n  '{{ $json.body.data.object.customer_details.email }}',\n  '{{ $json.body.data.object.id }}',\n  true, NOW(), true, false, 'whatsapp', NOW(), NOW(), NOW()\n)\nON CONFLICT (phone) DO UPDATE SET\n  paid = true, paid_at = NOW(), active = true, demo_only = false,\n  email = EXCLUDED.email, stripe_session_id = EXCLUDED.stripe_session_id,\n  updated_at = NOW();\nSELECT phone, email, paid FROM suscriptores WHERE stripe_session_id = '{{ $json.body.data.object.id }}';",
    "options": {}
   },
   "id": "stripe-db",
   "name": "Stripe — Activar suscriptor pagado",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    656,
    1424
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "method": "POST",
    "url": "https://api.kapso.ai/meta/whatsapp/v24.0/597907523413541/messages",
    "sendHeaders": true,
    "headerParameters": {
     "parameters": [
      {
       "name": "Authorization",
       "value": "Bearer b65754e64505dc1de08e536ba6232c79c0f6f10a0b9c4fe6933be70daa3aa213"
      },
      {
       "name": "Content-Type",
       "value": "application/json"
      }
     ]
    },
    "sendBody": true,
    "specifyBody": "json",
    "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Stripe — Activar suscriptor pagado').item.json.phone }}\", \"type\": \"text\", \"text\": { \"body\": \"🏆 ¡Pago confirmado! Bienvenido a Alertas Mundial 2026.\\n\\nRecibirás alertas de todos los partidos hasta el 19 de julio.\\n\\nMéxico juega el 11 jun vs Sudáfrica. ¡Vamos México! 🇲🇽\\n\\nResponde STOP para cancelar.\" } }",
    "options": {}
   },
   "id": "stripe-welcome-wa",
   "name": "Stripe — Bienvenida WhatsApp",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    880,
    1424
   ]
  },
  {
   "parameters": {
    "respondWith": "text",
    "responseBody": "ok",
    "options": {}
   },
   "id": "stripe-respond",
   "name": "Stripe — Responder 200",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    1104,
    1496
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "strict",
      "version": 1
     },
     "conditions": [
      {
       "id": "c1",
       "leftValue": "={{ $('Admin — Stats').first().json['headers']['x-admin-key'] }}",
       "rightValue": "mundial-admin-2026-rodai",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "admin-check-key",
   "name": "Admin — Verificar API Key",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    432,
    1816
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT\n  (SELECT COUNT(*) FROM suscriptores WHERE active = true)::text  AS activos,\n  (SELECT COUNT(*) FROM suscriptores WHERE active = false)::text AS bajas,\n  (SELECT COUNT(*) FROM suscriptores)::text                      AS total,\n  (SELECT COUNT(*) FROM suscriptores WHERE paid = true)::text    AS pagados,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform = 'telegram')::text AS telegram,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform = 'whatsapp')::text AS whatsapp,\n  (SELECT COUNT(*) FROM suscriptores WHERE subscribed_at::date = CURRENT_DATE)::text AS registros_hoy,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform='whatsapp' AND active=true AND last_message_at > NOW() - INTERVAL '23 hours')::text AS wa_ventana_abierta,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform='whatsapp' AND active=true AND (last_message_at IS NULL OR last_message_at <= NOW() - INTERVAL '23 hours'))::text AS wa_ventana_cerrada,\n  (SELECT COUNT(*)::text FROM feedback) AS feedback_total,\n  (SELECT COALESCE(ROUND(AVG(rating),2)::text, 'sin datos') FROM feedback) AS feedback_promedio,\n  (SELECT json_agg(json_build_object('name', name, 'phone', phone, 'ultimo_mensaje', last_message_at) ORDER BY last_message_at DESC)\n     FROM suscriptores WHERE platform='whatsapp' AND active=true AND last_message_at > NOW() - INTERVAL '23 hours') AS ventana_abierta_lista,\n  (SELECT json_agg(json_build_object('name', name, 'phone', phone, 'ultimo_mensaje', last_message_at))\n     FROM suscriptores WHERE platform='whatsapp' AND active=true AND (last_message_at IS NULL OR last_message_at <= NOW() - INTERVAL '23 hours')) AS ventana_cerrada_lista,\n  (SELECT json_agg(row_to_json(t)) FROM (SELECT COALESCE(NULLIF(country,''),'(sin pais)') AS pais, COUNT(*) AS cantidad\n     FROM suscriptores WHERE active=true GROUP BY 1 ORDER BY COUNT(*) DESC) t) AS por_pais,\n  (SELECT json_agg(json_build_object(\n      'id', id, 'name', name, 'phone', phone, 'platform', platform, 'country', country,\n      'active', active, 'paid', paid, 'demo_only', demo_only,\n      'subscribed_at', subscribed_at, 'last_message_at', last_message_at,\n      'telegram_chat_id', telegram_chat_id) ORDER BY id DESC)\n     FROM suscriptores) AS suscriptores",
    "options": {}
   },
   "id": "admin-query",
   "name": "Admin — Consultar DB",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    656,
    1720
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "respondWith": "allIncomingItems",
    "options": {
     "responseHeaders": {
      "entries": [
       {
        "name": "Cache-Control",
        "value": "no-store, no-cache, must-revalidate, proxy-revalidate"
       },
       {
        "name": "Pragma",
        "value": "no-cache"
       },
       {
        "name": "Expires",
        "value": "0"
       }
      ]
     }
    }
   },
   "id": "admin-respond-ok",
   "name": "Admin — Responder stats",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    880,
    1720
   ]
  },
  {
   "parameters": {
    "respondWith": "json",
    "responseBody": "{ \"error\": \"Unauthorized\" }",
    "options": {
     "responseCode": 401
    }
   },
   "id": "admin-respond-401",
   "name": "Admin — Responder 401",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1,
   "position": [
    656,
    1912
   ]
  },
  {
   "parameters": {
    "jsCode": "\nfunction detectCountry(phone) {\n  const p = String(phone || '').replace(/\\D/g, '');\n  if (p.startsWith('502')) return 'Guatemala';\n  if (p.startsWith('503')) return 'El Salvador';\n  if (p.startsWith('504')) return 'Honduras';\n  if (p.startsWith('505')) return 'Nicaragua';\n  if (p.startsWith('506')) return 'Costa Rica';\n  if (p.startsWith('507')) return 'Panamá';\n  if (p.startsWith('509')) return 'Haití';\n  if (p.startsWith('591')) return 'Bolivia';\n  if (p.startsWith('593')) return 'Ecuador';\n  if (p.startsWith('595')) return 'Paraguay';\n  if (p.startsWith('598')) return 'Uruguay';\n  if (p.startsWith('51')) return 'Perú';\n  if (p.startsWith('52')) return 'México';\n  if (p.startsWith('53')) return 'Cuba';\n  if (p.startsWith('54')) return 'Argentina';\n  if (p.startsWith('55')) return 'Brasil';\n  if (p.startsWith('56')) return 'Chile';\n  if (p.startsWith('57')) return 'Colombia';\n  if (p.startsWith('58')) return 'Venezuela';\n  if (p.startsWith('1809') || p.startsWith('1829') || p.startsWith('1849')) return 'Rep. Dominicana';\n  if (p.startsWith('1787') || p.startsWith('1939')) return 'Puerto Rico';\n  if (p.startsWith('1')) return 'USA/Canadá';\n  if (p.startsWith('34')) return 'España';\n  if (p.startsWith('351')) return 'Portugal';\n  if (p.startsWith('33')) return 'Francia';\n  if (p.startsWith('44')) return 'Reino Unido';\n  if (p.startsWith('49')) return 'Alemania';\n  if (p.startsWith('39')) return 'Italia';\n  if (p.startsWith('31')) return 'Países Bajos';\n  if (p.startsWith('32')) return 'Bélgica';\n  if (p.startsWith('81')) return 'Japón';\n  if (p.startsWith('82')) return 'Corea del Sur';\n  if (p.startsWith('86')) return 'China';\n  if (p.startsWith('966')) return 'Arabia Saudita';\n  if (p.startsWith('971')) return 'Emiratos Árabes';\n  if (p.startsWith('52')) return 'México';\n  return null;\n}\n\nconst d = $input.first().json;\nconst phone = d.body?.phone || '';\nconst country = detectCountry(phone);\nreturn [{ json: { ...d, detected_country: country } }];\n"
   },
   "id": "wa_country",
   "name": "WA — Detectar País",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    656,
    1008
   ]
  },
  {
   "parameters": {
    "jsCode": "\nfunction langToCountry(lang) {\n  const map = {\n    'es': 'Latinoamérica/España', 'es-mx': 'México', 'es-ar': 'Argentina',\n    'es-co': 'Colombia', 'es-es': 'España', 'es-cl': 'Chile',\n    'en': 'USA/UK', 'en-us': 'USA', 'en-gb': 'Reino Unido',\n    'pt': 'Brasil/Portugal', 'pt-br': 'Brasil', 'pt-pt': 'Portugal',\n    'fr': 'Francia', 'de': 'Alemania', 'it': 'Italia',\n    'ja': 'Japón', 'ko': 'Corea del Sur', 'zh': 'China',\n    'ar': 'Árabe', 'ru': 'Rusia', 'tr': 'Turquía',\n    'nl': 'Países Bajos', 'pl': 'Polonia', 'uk': 'Ucrania'\n  };\n  return map[(lang||'').toLowerCase()] || null;\n}\n\nconst d = $input.first().json;\nconst lang = d.message?.from?.language_code || '';\nconst country = langToCountry(lang);\nreturn [{ json: { ...d, detected_country: country } }];\n"
   },
   "id": "tg_country",
   "name": "TG — Detectar País",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    880,
    260
   ]
  },
  {
   "parameters": {
    "jsCode": "\nfunction detectCountry(phone) {\n  const p = String(phone||'').replace(/\\D/g,'');\n  if(p.startsWith('502')) return 'Guatemala';\n  if(p.startsWith('503')) return 'El Salvador';\n  if(p.startsWith('504')) return 'Honduras';\n  if(p.startsWith('505')) return 'Nicaragua';\n  if(p.startsWith('506')) return 'Costa Rica';\n  if(p.startsWith('507')) return 'Panamá';\n  if(p.startsWith('591')) return 'Bolivia';\n  if(p.startsWith('593')) return 'Ecuador';\n  if(p.startsWith('595')) return 'Paraguay';\n  if(p.startsWith('598')) return 'Uruguay';\n  if(p.startsWith('51'))  return 'Perú';\n  if(p.startsWith('52'))  return 'México';\n  if(p.startsWith('54'))  return 'Argentina';\n  if(p.startsWith('55'))  return 'Brasil';\n  if(p.startsWith('56'))  return 'Chile';\n  if(p.startsWith('57'))  return 'Colombia';\n  if(p.startsWith('58'))  return 'Venezuela';\n  if(p.startsWith('1809')||p.startsWith('1829')||p.startsWith('1849')) return 'Rep. Dominicana';\n  if(p.startsWith('1'))   return 'USA/Canadá';\n  if(p.startsWith('34'))  return 'España';\n  if(p.startsWith('351')) return 'Portugal';\n  if(p.startsWith('33'))  return 'Francia';\n  if(p.startsWith('44'))  return 'Reino Unido';\n  if(p.startsWith('49'))  return 'Alemania';\n  if(p.startsWith('39'))  return 'Italia';\n  return null;\n}\nconst d = $input.first().json;\nconst phone   = d.message?.contact?.phone_number || '';\nconst name    = [d.message?.contact?.first_name, d.message?.contact?.last_name].filter(Boolean).join(' ');\nconst country = detectCountry(phone);\nreturn [{ json: { ...d, real_phone: phone.replace(/^\\+/,''), real_name: name || d.message?.from?.first_name || '', detected_country: country }}];\n"
   },
   "id": "ct_country",
   "name": "TG Contacto — Detectar País",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    880,
    -224
   ]
  },
  {
   "parameters": {
    "operation": "executeQuery",
    "query": "WITH upsert AS (\n  UPDATE suscriptores\n  SET\n    phone    = '{{ $json.real_phone }}',\n    name     = '{{ $json.real_name }}',\n    active   = true,\n    updated_at = NOW(),\n    country  = {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }},\n    telegram_username = '{{ $json.message.from.username || \"\" }}'\n  WHERE telegram_chat_id = {{ $json.message.from.id }}\n  RETURNING id\n)\nINSERT INTO suscriptores\n  (phone, name, platform, telegram_chat_id, telegram_username, active, demo_only, subscribed_at, created_at, updated_at, country)\nSELECT\n  '{{ $json.real_phone }}',\n  '{{ $json.real_name }}',\n  'telegram',\n  {{ $json.message.from.id }},\n  '{{ $json.message.from.username || \"\" }}',\n  true, true, NOW(), NOW(), NOW(),\n  {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }}\nWHERE NOT EXISTS (SELECT 1 FROM upsert);",
    "options": {}
   },
   "id": "ct_db",
   "name": "TG Contacto — Guardar en DB",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1104,
    -224
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "parameters": {
    "chatId": "={{ $json.message.from.id }}",
    "text": "=✅ *¡Listo, {{ $('Telegram — Mensajes entrantes').first().json.message.from.first_name }}!*\n\nYa estás registrado en las alertas del *Mundial 2026* 🏆\n\nTe avisaremos en tiempo real:\n⚽ Goles\n🟢 Inicio del partido\n🏁 Resultado final\n📋 Resumen del día a las 10 PM\n\nEl primer partido de México es el *11 de junio vs Sudáfrica*. ¡Nos vemos ahí! 🇲🇽\n\n_Escribe STOP para cancelar._",
    "additionalFields": {
     "appendAttribution": false,
     "parse_mode": "Markdown"
    }
   },
   "id": "ct_welcome",
   "name": "TG Contacto — Bienvenida",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1392,
    -224
   ],
   "webhookId": "d539f88e-4eef-4a58-903b-b2d85b376386",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   }
  },
  {
   "parameters": {
    "agent": "toolsAgent",
    "promptType": "define",
    "text": "={{ $('Telegram — Mensajes entrantes').first().json.message.text || 'Hola' }}",
    "options": {
     "systemMessage": "=CONTEXTO EN TIEMPO REAL (usa esto SIEMPRE):\n- FECHA Y HORA ACTUAL: {{ $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') }} (hora El Salvador, UTC-6). HOY es esta fecha — el Mundial YA EMPEZÓ el 11 de junio de 2026.\n\nREGLA DE HORARIOS: la API devuelve horarios en UTC. NUNCA respondas con la hora UTC — convierte SIEMPRE a hora de El Salvador / Ciudad de México (UTC-6) y dilo claro, ejemplo: \"a la 1:00 PM hora El Salvador/CDMX\". Si el usuario menciona ser de otro país, usa su zona horaria.\n\nEres el asistente oficial de RODAI Sport para el Mundial FIFA 2026 (USA, Canadá y México, 11 jun – 19 jul 2026).\n\nCONTEXTO GENERAL:\n- 48 selecciones, 104 partidos, Grupos A–L\n- Fase grupos: 11–26 jun | Octavos: 29 jun–2 jul | Cuartos: 5–6 jul | Semis: 9–10 jul | Final: 19 jul, MetLife Stadium, NJ\n\nHERRAMIENTAS DISPONIBLES — úsalas para responder con datos reales:\n- 🗓️ API Partidos del Día → partidos de hoy o una fecha específica\n- ⚡ API Marcadores en Vivo → marcador actual de partidos en curso\n- 🔍 API Buscar Jugador → estadísticas de un jugador en el torneo\n- 📊 API Tabla de Posiciones → clasificación de los grupos\n- 🏳️ Partidos de Equipo → todos los partidos de un equipo en el Mundial\n\nREGLAS:\n- Para cualquier pregunta sobre partidos, jugadores, resultados, fechas, estadios o tabla → LLAMA la herramienta correspondiente, no respondas de memoria\n- Si la herramienta no devuelve datos → responde: \"No encontré esa información en la API en este momento\"\n- Responde en español (salvo que el usuario escriba en otro idioma)\n- Máximo 150 palabras por respuesta\n- Usa emojis con moderación ⚽🏆\n- NUNCA inventes datos, alineaciones ni estadísticas\n\nHERRAMIENTAS ADICIONALES:\n- 🥇 Goleadores del Mundial → máximos anotadores del torneo\n- 📋 Alineaciones del Partido → titulares y formación (necesita fixture_id: obtenlo primero con Partidos del Día o Marcadores en Vivo)\n- 🎯 Eventos del Partido → goles, tarjetas y cambios minuto a minuto (necesita fixture_id)\n- ⚔️ Historial Entre Equipos → enfrentamientos directos previos (formato id1-id2)\n\nREGLA DE ORO: si no estás 100% seguro de un dato (resultados, horarios, jugadores, estadísticas, goleadores), SIEMPRE consulta una herramienta ANTES de responder. NUNCA digas \"no sé\" o \"no tengo esa información\" sin haber consultado la API primero. Si una herramienta necesita fixture_id o team_id, usa otra herramienta para obtenerlo y encadena las llamadas.\n\nREGLA PAÍS: Si el usuario escribe solo el nombre de un país o 'estoy en X', está respondiendo a nuestra pregunta '¿en qué país estás?' — responde ÚNICAMENTE con los horarios de los próximos partidos del Mundial convertidos a la hora local de ese país (usa la tool de partidos del día; sus horas vienen en hora de El Salvador UTC-6, convierte desde ahí). NO hables del equipo de ese país.\nDATO VERIFICADO: las selecciones de El Salvador, Guatemala, Nicaragua, Perú, Chile y Venezuela NO clasificaron al Mundial 2026 — NUNCA digas que participan.",
     "maxIterations": 8
    },
    "systemMessage": "Eres un asistente experto del Mundial FIFA 2026. \n\nREGLAS CRÍTICAS:\n1. NUNCA uses tu conocimiento previo para responder preguntas sobre partidos, resultados, goles o equipos participantes. SIEMPRE consulta las herramientas disponibles.\n2. Para preguntas sobre \"qué equipos participan\", \"qué selecciones hay\", \"equipos del mundial\" → usa la herramienta \"📊 API Tabla de Posiciones\" para obtener la lista real de la API.\n3. Para partidos de un equipo específico → usa \"🏳️ Partidos de Equipo\" con el team_id correcto.\n4. Si no encuentras datos en la API, dilo claramente. NUNCA inventes.\n5. Responde siempre en español, de forma concisa.\n6. Al final de cada respuesta agrega: \"\\n\\n_Responde STOP para cancelar alertas._\""
   },
   "id": "tg-ai-agent-wc26",
   "name": "TG — AI Agent Mundial",
   "type": "@n8n/n8n-nodes-langchain.agent",
   "typeVersion": 1.7,
   "position": [
    1328,
    456
   ]
  },
  {
   "parameters": {
    "model": {
     "__rl": true,
     "value": "gpt-4o",
     "mode": "list",
     "cachedResultName": "gpt-4o"
    },
    "options": {
     "maxTokens": 400,
     "temperature": 0.7
    }
   },
   "id": "tg-lm-openai-wc26",
   "name": "TG — OpenAI gpt-4o-mini",
   "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
   "typeVersion": 1.2,
   "position": [
    1400,
    680
   ],
   "credentials": {
    "openAiApi": {
     "id": "DNniMXGQP8C9zu5z",
     "name": "OpenAi account 2"
    }
   }
  },
  {
   "parameters": {
    "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
    "text": "={{ $json.output }}",
    "additionalFields": {
     "appendAttribution": false,
     "parse_mode": "Markdown"
    }
   },
   "id": "tg-send-ai-wc26",
   "name": "TG — Enviar Respuesta IA",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1680,
    456
   ],
   "webhookId": "4d31e846-683d-48b6-ba70-cd7e53cc71e3",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   }
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "leftValue": "={{ $json._route }}",
       "rightValue": "contact",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "if_contact_tg",
   "name": "IF Contact TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    656,
    -76
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "leftValue": "={{ $json._route }}",
       "rightValue": "alta",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "if_alta_tg",
   "name": "IF Alta TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    880,
    20
   ]
  },
  {
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "leftValue": "={{ $json._route }}",
       "rightValue": "stop",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   },
   "id": "if_stop_tg",
   "name": "IF Stop TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1104,
    212
   ]
  },
  {
   "id": "tg_check_phone",
   "name": "TG — Verificar teléfono en DB",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1104,
    456
   ],
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT phone FROM suscriptores WHERE telegram_chat_id = {{ $json.message.from.id }} LIMIT 1",
    "options": {}
   },
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   }
  },
  {
   "id": "tg_if_has_phone",
   "name": "TG — IF tiene teléfono",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1328,
    336
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "leftValue": "={{ $json.phone }}",
       "rightValue": "",
       "operator": {
        "type": "string",
        "operation": "isNotEmpty"
       }
      }
     ],
     "combinator": "and"
    }
   }
  },
  {
   "id": "tg_pedir_tel_existente",
   "name": "TG — Pedir teléfono a existente",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1540,
    240
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.telegram.org/bot8228856137:AAFZ2EdaTrv__wgZeowBXsLx-pocmsIUzgM/sendMessage",
    "sendBody": true,
    "specifyBody": "keypair",
    "bodyParameters": {
     "parameters": [
      {
       "name": "chat_id",
       "value": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}"
      },
      {
       "name": "text",
       "value": "📱 Para enviarte alertas del *Mundial 2026* necesito tu número de teléfono.\n\nToca el botón de abajo para compartirlo 👇"
      },
      {
       "name": "parse_mode",
       "value": "Markdown"
      },
      {
       "name": "reply_markup",
       "value": "{\"keyboard\": [[{\"text\": \"\\ud83d\\udcf1 Compartir mi n\\u00famero\", \"request_contact\": true}], [{\"text\": \"\\u274c Ahora no\"}]], \"resize_keyboard\": true, \"one_time_keyboard\": true}"
      }
     ]
    },
    "options": {}
   },
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "webhookId": "efc90bbd-2764-454d-aaab-2f58c05ce7df"
  },
  {
   "id": "if_no_gracias",
   "name": "TG — IF No gracias",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1340,
    360
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "conditions": [
      {
       "leftValue": "={{ ($json.message?.text || '').toLowerCase() }}",
       "rightValue": "no",
       "operator": {
        "type": "string",
        "operation": "contains"
       }
      }
     ],
     "combinator": "and"
    }
   }
  },
  {
   "id": "tg_no_gracias",
   "name": "TG — Confirmar solo Telegram",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1540,
    360
   ],
   "parameters": {
    "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
    "text": "👍 Perfecto. Solo recibirás alertas por Telegram.\n\nEscribe *STOP* en cualquier momento para cancelar.",
    "additionalFields": {
     "appendAttribution": false,
     "parse_mode": "Markdown"
    }
   },
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "webhookId": "c621cd51-dbd1-41b4-9bf1-1f614aa47817"
  },
  {
   "id": "wh-kapso-raw",
   "name": "WhatsApp — Kapso Evento Crudo",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    880,
    -200
   ],
   "parameters": {
    "httpMethod": "POST",
    "path": "mundial-wa-raw",
    "responseMode": "onReceived",
    "responseData": "noData"
   },
   "webhookId": "673004a3-ef5b-4f77-9c92-d4cf9ad9a4b3"
  },
  {
   "id": "wa-raw-parse",
   "name": "WA Raw — Extraer Teléfono y Mensaje",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1080,
    -200
   ],
   "parameters": {
    "mode": "runOnceForAllItems",
    "jsCode": "// Kapso webhook payload — payload version v2\n// Structure: { message: { from, text: { body }, kapso: { content } }, conversation: { contact_name, phone_number } }\n\nconst body = $input.first().json.body || $input.first().json;\n\nlet phone = null;\nlet messageText = '';\nlet contactName = '';\n\n// Kapso v2 — real format (message.from + message.text.body)\nif (body.message && body.message.from) {\n  phone = String(body.message.from).replace('+', '');\n  messageText = (body.message.text?.body || body.message.kapso?.content || '').trim();\n  contactName = body.conversation?.contact_name || '';\n}\n\n// Kapso v2 alt — data.from format\nif (!phone && body.data && body.data.from) {\n  phone = String(body.data.from).replace('+', '');\n  messageText = (body.data.text || body.data.body || '').trim();\n}\n\n// Kapso v1\nif (!phone && body.from) {\n  phone = String(body.from).replace('+', '');\n  messageText = (body.text || body.message || '').trim();\n}\n\n// Meta webhook format\nif (!phone && body.entry) {\n  try {\n    const changes = body.entry[0].changes[0].value;\n    const msg = changes.messages?.[0];\n    phone = msg?.from || changes.contacts?.[0]?.wa_id;\n    messageText = msg?.text?.body || '';\n    contactName = changes.contacts?.[0]?.profile?.name || '';\n    if (phone) phone = String(phone).replace('+', '');\n  } catch(e) {}\n}\n\nif (!phone) {\n  throw new Error('No se pudo extraer el telefono del payload: ' + JSON.stringify(body).substring(0, 200));\n}\n\nconst msgUpper = messageText.toUpperCase();\nconst isAlta = msgUpper.includes('ALTA') || msgUpper.includes('SUSCRIB') || msgUpper.includes('INSCRIB');\nconst isStop = msgUpper === 'STOP' || msgUpper.includes('BAJA') || msgUpper.includes('CANCELAR') || msgUpper.includes('DESUSCRIB');\n\nreturn [{\n  json: {\n    phone,\n    name: contactName,\n    message_text: messageText,\n    action: isAlta ? 'ALTA' : (isStop ? 'STOP' : 'IGNORE'),\n    raw_body: body\n  }\n}];\n"
   }
  },
  {
   "id": "wa-raw-if-alta",
   "name": "WA Raw — ¿Es ALTA?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1280,
    -200
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "conditions": [
      {
       "id": "cond-alta",
       "leftValue": "={{ $json.action }}",
       "rightValue": "ALTA",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   }
  },
  {
   "id": "wa-raw-if-stop",
   "name": "WA Raw — ¿Es STOP?",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1480,
    -100
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "conditions": [
      {
       "id": "cond-stop",
       "leftValue": "={{ $json.action }}",
       "rightValue": "STOP",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    },
    "options": {}
   }
  },
  {
   "id": "wa-raw-alta-db",
   "name": "WA Raw — Guardar Suscriptor",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1680,
    -200
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO suscriptores (phone, platform, active, demo_only, subscribed_at, created_at, updated_at, country)\nVALUES (\n  '{{ $json.phone }}',\n  'whatsapp',\n  true,\n  true,\n  NOW(), NOW(), NOW(),\n  CASE\n    WHEN '{{ $json.phone }}'::text LIKE '503%' THEN 'SV'\n    WHEN '{{ $json.phone }}'::text LIKE '502%' THEN 'GT'\n    WHEN '{{ $json.phone }}'::text LIKE '504%' THEN 'HN'\n    WHEN '{{ $json.phone }}'::text LIKE '505%' THEN 'NI'\n    WHEN '{{ $json.phone }}'::text LIKE '506%' THEN 'CR'\n    WHEN '{{ $json.phone }}'::text LIKE '507%' THEN 'PA'\n    WHEN '{{ $json.phone }}'::text LIKE '52%'  THEN 'MX'\n    WHEN '{{ $json.phone }}'::text LIKE '1%'   THEN 'US'\n    ELSE 'OTRO'\n  END\n)\nON CONFLICT (phone) DO UPDATE SET\n  active = true,\n  platform = 'whatsapp',\n  updated_at = NOW()\nRETURNING id, phone, platform, active",
    "options": {}
   }
  },
  {
   "id": "wa-raw-stop-db",
   "name": "WA Raw — Dar de Baja",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1680,
    -50
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "parameters": {
    "operation": "executeQuery",
    "query": "UPDATE suscriptores SET active = false, updated_at = NOW()\nWHERE phone = '{{ $json.phone }}' AND platform = 'whatsapp'\nRETURNING id, phone, active",
    "options": {}
   }
  },
  {
   "id": "tg_typing",
   "name": "TG — Typing...",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    1108,
    456
   ],
   "parameters": {
    "method": "POST",
    "url": "https://api.telegram.org/bot8228856137:AAFZ2EdaTrv__wgZeowBXsLx-pocmsIUzgM/sendChatAction",
    "sendBody": true,
    "specifyBody": "keypair",
    "bodyParameters": {
     "parameters": [
      {
       "name": "chat_id",
       "value": "={{ $('Telegram — Mensajes entrantes').first().json.message.chat.id }}"
      },
      {
       "name": "action",
       "value": "typing"
      }
     ]
    },
    "options": {}
   }
  },
  {
   "id": "api-football-tool-hoy",
   "name": "🗓️ API Partidos del Día",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1128,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "date",
       "value": "={{ $fromAI('date', 'Fecha en formato YYYY-MM-DD. Si el usuario pregunta por hoy usa la fecha actual. Ejemplo: 2026-06-11', 'string') }}"
      },
      {
       "name": "season",
       "value": "2026"
      },
      {
       "name": "league",
       "value": "1"
      },
      {
       "name": "timezone",
       "value": "America/El_Salvador"
      }
     ]
    },
    "toolDescription": "Consulta los partidos del Mundial FIFA 2026 para una fecha específica. Devuelve fixture_id, equipos (home/away), horario, estadio, resultado parcial si hay. Úsalo cuando el usuario pregunta por partidos de hoy, mañana, o una fecha específica. IMPORTANTE: las fechas/horas devueltas YA ESTÁN en hora de El Salvador (timezone aplicado) — NO las conviertas de nuevo.",
    "optimizeResponse": false,
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth"
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "api-football-tool-live",
   "name": "⚡ API Marcadores en Vivo",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1328,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "live",
       "value": "all"
      },
      {
       "name": "season",
       "value": "2026"
      },
      {
       "name": "league",
       "value": "1"
      }
     ]
    },
    "toolDescription": "Consulta los partidos del Mundial 2026 que se están jugando AHORA MISMO en tiempo real. Devuelve marcador actual, goles (quién anotó, minuto), tarjetas y minuto del partido. Úsalo cuando el usuario pregunte por partidos en vivo, el marcador actual, o qué está pasando en este momento.",
    "optimizeResponse": false,
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth"
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tool-jugador",
   "name": "🔍 API Buscar Jugador",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1528,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/players",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "search",
       "value": "={{ $fromAI('player_name', 'Nombre del jugador a buscar, ej: Ronaldo, Mbappe, Messi', 'string') }}"
      },
      {
       "name": "league",
       "value": "1"
      },
      {
       "name": "season",
       "value": "2026"
      }
     ]
    },
    "toolDescription": "Busca estadísticas y datos de un jugador específico en el Mundial 2026. Usa para responder preguntas sobre goles, asistencias, tarjetas o datos de un jugador. También sirve para confirmar si un jugador está en el torneo.",
    "optimizeResponse": false,
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth"
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tool-standings",
   "name": "📊 API Tabla de Posiciones",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1728,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/standings?league=1&season=2026",
    "toolDescription": "Consulta la tabla de posiciones/clasificación de los grupos del Mundial 2026. Devuelve posiciones, puntos, goles a favor y en contra de cada selección en su grupo.",
    "optimizeResponse": false,
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth"
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tool-equipo-v3",
   "name": "🏳️ Partidos de Equipo",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1928,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures?league=1&season=2026&team={team_id}",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Partidos de un equipo en el Mundial 2026. Pasa team_id numérico. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 Uruguay=7 Paraguay=2380 Ecuador=2382 Panama=11 Canada=5529 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 PaisesBajos=1118 Belgica=1 Croacia=3 Suiza=15 Austria=775 Marruecos=31 Senegal=13 Egipto=32 Ghana=1504 Sudafrica=1531 ArabiaSaudita=23 Iran=22 Japon=12 CoreaSur=17 Australia=20 Tunez=28",
    "placeholderDefinitions": {
     "values": [
      {
       "name": "team_id",
       "description": "numeric team ID",
       "type": "number"
      }
     ]
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "if_feedb",
   "name": "IF Feedback TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2,
   "position": [
    1400,
    600
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "strict"
     },
     "conditions": [
      {
       "leftValue": "={{ $json._route }}",
       "rightValue": "feedback",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    }
   }
  },
  {
   "id": "tg-feedback-db",
   "name": "TG FEEDBACK — Guardar Rating",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.5,
   "position": [
    1650,
    500
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "parameters": {
    "operation": "executeQuery",
    "query": "={{ `INSERT INTO feedback (phone, plataforma, rating, created_at) VALUES ('tg_' || '${$json.message?.chat?.id}', 'telegram', ${parseInt($json.message?.text?.trim())}, NOW()) RETURNING id` }}"
   }
  },
  {
   "id": "tg-feedback-reply",
   "name": "TG FEEDBACK — Responder Gracias",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1900,
    500
   ],
   "credentials": {
    "telegramApi": {
     "id": "JlQ5HJwkbCFMq7bW",
     "name": "Telegram Bot Mundial"
    }
   },
   "parameters": {
    "operation": "sendMessage",
    "chatId": "={{ $('IF Feedback TG').first().json.message?.chat?.id }}",
    "text": "={{ '¡Gracias por tu calificación ' + $('IF Feedback TG').first().json.message?.text?.trim() + '/5! ⭐ Tu opinión nos ayuda a mejorar.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores.' }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "webhookId": "18273315-007e-43c2-930e-7c2a78b85e30"
  },
  {
   "id": "tg-tool-new-0",
   "name": "🥇 Goleadores del Mundial",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1100,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/players/topscorers?league=1&season=2026",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Tabla de goleadores del Mundial 2026: quién lleva más goles en el torneo, con equipo y estadísticas. Úsala cuando pregunten por el máximo goleador, pichichi, bota de oro o quién ha anotado más."
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tg-tool-new-1",
   "name": "📋 Alineaciones del Partido",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1280,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures/lineups?fixture={fixture_id}",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Alineaciones titulares, suplentes y formación táctica de un partido. NECESITA fixture_id numérico: obtenlo PRIMERO llamando 'API Partidos del Día' o 'API Marcadores en Vivo' (campo fixture.id). Úsala cuando pregunten quién juega, el once titular, la formación.",
    "placeholderDefinitions": {
     "values": [
      {
       "name": "fixture_id",
       "description": "numeric fixture ID from fixtures endpoint",
       "type": "number"
      }
     ]
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tg-tool-new-2",
   "name": "🎯 Eventos del Partido",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1460,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures/events?fixture={fixture_id}",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Eventos minuto a minuto de un partido: goles (con autor y asistencia), tarjetas amarillas/rojas, cambios, VAR. NECESITA fixture_id numérico: obtenlo PRIMERO con 'API Partidos del Día' o 'API Marcadores en Vivo'. Úsala cuando pregunten quién anotó, en qué minuto, tarjetas, expulsados.",
    "placeholderDefinitions": {
     "values": [
      {
       "name": "fixture_id",
       "description": "numeric fixture ID from fixtures endpoint",
       "type": "number"
      }
     ]
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tg-tool-new-3",
   "name": "⚔️ Historial Entre Equipos",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    1640,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures/headtohead?h2h={team_ids}",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Últimos enfrentamientos directos entre dos equipos (historial head-to-head). Pasa team_ids en formato 'id1-id2', ejemplo '16-1504' para Mexico vs Ghana. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 CoreaSur=17 Sudafrica=1531 Chequia=770. Úsala cuando pregunten cómo les ha ido entre sí, quién ha ganado históricamente.",
    "placeholderDefinitions": {
     "values": [
      {
       "name": "team_ids",
       "description": "two team IDs joined by hyphen, e.g. 16-1504",
       "type": "string"
      }
     ]
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "tg-if-soporte",
   "name": "IF Soporte TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1300,
    980
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "typeValidation": "loose"
     },
     "conditions": [
      {
       "leftValue": "={{ $json._route }}",
       "rightValue": "soporte",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ],
     "combinator": "and"
    }
   }
  },
  {
   "id": "tg-sop-notif",
   "name": "TG SOPORTE — Notificar Erick",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1520,
    900
   ],
   "onError": "continueRegularOutput",
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "parameters": {
    "chatId": "675855669",
    "text": "=🆘 SOPORTE Telegram\n\n👤 {{ $json.message?.from?.first_name }}\n💬 {{ $json.message?.text }}\n\n👉 Escríbele directo: {{ $json.message?.from?.username ? 'https://t.me/' + $json.message.from.username : 'tg://user?id=' + $json.message?.from?.id }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "webhookId": "97b8b78b-06c0-4464-9630-34a5415fe608"
  },
  {
   "id": "tg-sop-reply",
   "name": "TG SOPORTE — Responder Usuario",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1740,
    900
   ],
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "parameters": {
    "chatId": "={{ $('IF Soporte TG').first().json.message?.chat?.id }}",
    "text": "Recibimos tu mensaje ✅ Un humano del equipo te contactará pronto por este mismo chat.\n\nMientras tanto puedo seguir respondiendo tus preguntas del Mundial ⚽",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "webhookId": "fa9e83d3-a0d4-4434-bf95-d32b86dac4f6"
  },
  {
   "id": "tmp-lu-wh",
   "name": "TMP LU Webhook",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2000,
    1000
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "tmp-lineups",
    "responseMode": "lastNode",
    "options": {}
   },
   "webhookId": "ca8fbcf9-de5e-48a0-81d4-f5fd9fb87648"
  },
  {
   "id": "tmp-lu-http",
   "name": "TMP LU HTTP",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2220,
    1000
   ],
   "parameters": {
    "method": "GET",
    "url": "https://v3.football.api-sports.io/fixtures/statistics?fixture=1489369",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth"
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "id": "wh-scores",
   "name": "Webhook Scores",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2400,
    600
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "mundial-scores",
    "responseMode": "responseNode",
    "options": {}
   },
   "webhookId": "mundial-scores-get"
  },
  {
   "id": "api-live-scores",
   "name": "API Live Scores",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2600,
    500
   ],
   "parameters": {
    "method": "GET",
    "url": "https://v3.football.api-sports.io/fixtures",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "live",
       "value": "all"
      },
      {
       "name": "league",
       "value": "1"
      },
      {
       "name": "season",
       "value": "2026"
      }
     ]
    },
    "options": {
     "alwaysOutputData": true
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput"
  },
  {
   "id": "api-today-scores",
   "name": "API Today Scores",
   "type": "n8n-nodes-base.httpRequest",
   "typeVersion": 4.2,
   "position": [
    2600,
    700
   ],
   "parameters": {
    "method": "GET",
    "url": "https://v3.football.api-sports.io/fixtures",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "sendQuery": true,
    "queryParameters": {
     "parameters": [
      {
       "name": "league",
       "value": "1"
      },
      {
       "name": "season",
       "value": "2026"
      },
      {
       "name": "from",
       "value": "={{ new Date(Date.now()-7*24*3600000).toISOString().slice(0,10) }}"
      },
      {
       "name": "to",
       "value": "={{ new Date().toISOString().slice(0,10) }}"
      },
      {
       "name": "status",
       "value": "FT-AET-PEN"
      }
     ]
    },
    "options": {
     "alwaysOutputData": true
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput"
  },
  {
   "id": "build-scores-response",
   "name": "Build Scores Response",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    2800,
    580
   ],
   "parameters": {
    "jsCode": "const live = ($('API Live Scores').first().json.response || []);\nconst ft   = ($('API Today Scores').first().json.response || []);\nconst all  = [...live, ...ft];\nconst seen = new Set();\nconst scores = [];\nfor (const f of all) {\n  const fid = f.fixture?.id;\n  if (!fid || seen.has(fid)) continue;\n  seen.add(fid);\n  const st = f.fixture?.status?.short || '';\n  let status = 'upcoming';\n  if (['FT','AET','PEN'].includes(st)) status = 'completed';\n  else if (['1H','HT','2H','ET','BT','P'].includes(st)) status = 'live';\n  scores.push({\n    fixtureId: fid,\n    utcDate: f.fixture?.date || '',\n    homeTeam: f.teams?.home?.name || '',\n    awayTeam: f.teams?.away?.name || '',\n    homeScore: f.goals?.home,\n    awayScore: f.goals?.away,\n    status,\n    elapsed: f.fixture?.status?.elapsed || null\n  });\n}\nreturn [{ json: { scores } }];"
   }
  },
  {
   "id": "respond-scores",
   "name": "Respond Scores",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    3000,
    580
   ],
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ $json.scores }}",
    "options": {
     "responseHeaders": {
      "entries": [
       {
        "name": "Access-Control-Allow-Origin",
        "value": "*"
       },
       {
        "name": "Cache-Control",
        "value": "public, max-age=30"
       }
      ]
     }
    }
   }
  },
  {
   "name": "Webhook Audit",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2400,
    900
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "mundial-audit",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "6a60a687-79a4-4526-afb6-a35f71ddb27b",
   "webhookId": "ca5cbb2a-93ef-4835-bb3e-5fab46d2c3d7"
  },
  {
   "name": "DB Audit Alertas",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    2600,
    900
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT a.id, a.phone, a.partido_id, a.tipo, a.detalle, a.enviado_at, CASE WHEN a.phone LIKE 'tg_%' THEN 'telegram' ELSE 'whatsapp' END AS canal FROM alertas_enviadas a WHERE a.enviado_at > NOW() - INTERVAL '8 hours' ORDER BY a.enviado_at DESC LIMIT 500",
    "options": {}
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput",
   "id": "fd3af47e-0eb0-4988-8c08-5c33672108df"
  },
  {
   "name": "Respond Audit",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    2800,
    900
   ],
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ $items().map(i => i.json) }}",
    "options": {}
   },
   "id": "ef460425-d84a-4278-9477-d1154371d8f7"
  },
  {
   "name": "IF Inbox Privado",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    400,
    -300
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "combinator": "and",
     "conditions": [
      {
       "leftValue": "={{ $json.message.chat.type }}",
       "rightValue": "private",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      },
      {
       "leftValue": "={{ $json.message.text }}",
       "rightValue": "",
       "operator": {
        "type": "string",
        "operation": "notEmpty",
        "singleValue": true
       }
      }
     ]
    },
    "options": {}
   },
   "id": "a801c7dd-3794-41e4-8790-9a9fca355eae"
  },
  {
   "name": "TG Inbox — Copia Entrante",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    620,
    -300
   ],
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "chatId": "-5183681680",
    "text": "={{ '👤 ' + ($json.message.from.first_name || '') + ' ' + ($json.message.from.last_name || '') + ' (@' + ($json.message.from.username || 'sin_user') + ' · ' + $json.message.from.id + ')\\n\\n' + $json.message.text }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "id": "44adca7f-737f-43db-beb0-2e59b92740c4",
   "webhookId": "66373879-c293-4657-9f8f-e6b7c76e9dee"
  },
  {
   "name": "TG Inbox — Copia Respuesta IA",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1680,
    656
   ],
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "chatId": "-5183681680",
    "text": "={{ '🤖 Bot → ' + ($('Telegram — Mensajes entrantes').first().json.message.from.first_name || '') + ' (' + $('Telegram — Mensajes entrantes').first().json.message.from.id + ')\\n\\n' + $json.output }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "id": "77453dc7-1655-4f92-912c-e4076cfe2758",
   "webhookId": "e779cbf9-0f39-451e-902a-74ff8e1d8e9a"
  },
  {
   "name": "Webhook Predicciones",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2400,
    1100
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "mundial-predicciones",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "e6de802c-4460-4c34-9da0-54973bb79c92",
   "webhookId": "1005ad11-f237-4f0a-8a9d-cd9f68d6d6c3"
  },
  {
   "name": "DB Predicciones",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    2600,
    1100
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput",
   "parameters": {
    "operation": "executeQuery",
    "query": "ALTER TABLE suscriptores ADD COLUMN IF NOT EXISTS tz_offset INTEGER;\nCREATE TABLE IF NOT EXISTS predicciones (\n  id SERIAL PRIMARY KEY,\n  canal VARCHAR(10) NOT NULL,\n  identidad VARCHAR(60) NOT NULL,\n  nombre TEXT,\n  partido_id VARCHAR(40) NOT NULL,\n  prediccion VARCHAR(12) NOT NULL,\n  creado_at TIMESTAMPTZ DEFAULT NOW(),\n  UNIQUE (canal, identidad, partido_id)\n);\nSELECT * FROM predicciones ORDER BY creado_at DESC LIMIT 300;",
    "options": {}
   },
   "id": "47b051a0-2383-4a5f-9013-5c9998def5fe"
  },
  {
   "name": "Respond Predicciones",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    2800,
    1100
   ],
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ $items().map(i => i.json) }}",
    "options": {}
   },
   "id": "c87d0ceb-05d1-4f86-8ee1-a20d53f4086f"
  },
  {
   "name": "IF Prediccion TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1000,
    800
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": false,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "combinator": "and",
     "conditions": [
      {
       "leftValue": "={{ $('Telegram — Mensajes entrantes').first().json.message.text || '' }}",
       "rightValue": "^\\s*\\d{1,2}\\s*[-–—aA]\\s*\\d{1,2}\\s*$",
       "operator": {
        "type": "string",
        "operation": "regex"
       }
      },
      {
       "leftValue": "={{ $('Telegram — Mensajes entrantes').first().json.message.chat.type }}",
       "rightValue": "private",
       "operator": {
        "type": "string",
        "operation": "equals"
       }
      }
     ]
    },
    "options": {}
   },
   "id": "e426a4f4-fa52-4423-be57-df051b7c22f9"
  },
  {
   "name": "TG PRED — Parse",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1200,
    800
   ],
   "parameters": {
    "jsCode": "const msg = $('Telegram — Mensajes entrantes').first().json.message;\nconst m = (msg.text||'').match(/(\\d{1,2})\\s*[-–—aA]\\s*(\\d{1,2})/);\nconst nombre = ((msg.from.first_name||'')+' '+(msg.from.last_name||'')).trim().replace(/'/g,'');\nreturn [{json:{ pred: m ? m[1]+'-'+m[2] : (msg.text||'').trim(), chat_id: String(msg.from.id), nombre }}];"
   },
   "id": "8f4c4b89-b091-44b7-8ad1-2d9d6f05319d"
  },
  {
   "name": "TG PRED — Guardar",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    1400,
    800
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "operation": "executeQuery",
    "query": "INSERT INTO predicciones (canal, identidad, nombre, partido_id, prediccion) VALUES ('telegram', '{{ $json.chat_id }}', '{{ $json.nombre }}', 'kor-cze-20260611', '{{ $json.pred }}') ON CONFLICT (canal, identidad, partido_id) DO UPDATE SET prediccion = EXCLUDED.prediccion, creado_at = NOW() RETURNING id",
    "options": {}
   },
   "id": "88e7c7b8-26a2-4cb4-b223-216b96787204"
  },
  {
   "name": "TG PRED — Responder",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1600,
    800
   ],
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
    "text": "={{ '🎯 ¡Anotado! Tu predicción: Corea del Sur ' + $('TG PRED — Parse').first().json.pred + ' Chequia\\n\\nAl final del partido te cuento si le atinaste ⚽\\n\\n#RODAI Sport' }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "id": "dc92d782-cfce-4590-84d3-0f26cdf544d7",
   "webhookId": "564e2957-7387-40a5-ac83-223bbd235f22"
  },
  {
   "name": "Webhook Subs",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2400,
    1300
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "mundial-subs",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "a660883a-fa29-4ee2-ad23-7c4ab1e3f610",
   "webhookId": "d6d796c4-7638-4519-9601-b46e22cb3580"
  },
  {
   "name": "DB Subs List",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    2600,
    1300
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput",
   "parameters": {
    "operation": "executeQuery",
    "query": "SELECT name, platform, phone, telegram_chat_id::text AS tg_chat, last_message_at, (last_message_at > NOW() - INTERVAL '23 hours') AS ventana_abierta FROM suscriptores WHERE active = true ORDER BY platform, name",
    "options": {}
   },
   "id": "2e1b8339-b195-4f05-ad03-a8b53663f097"
  },
  {
   "name": "Respond Subs",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    2800,
    1300
   ],
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ $items().map(i => i.json) }}",
    "options": {}
   },
   "id": "f008a120-8837-4cf4-b8f5-f3eb196fc1df"
  },
  {
   "id": "tg-tool-stats",
   "name": "📈 Estadísticas del Partido",
   "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
   "typeVersion": 1.1,
   "position": [
    2028,
    700
   ],
   "parameters": {
    "url": "https://v3.football.api-sports.io/fixtures/statistics?fixture={fixture_id}",
    "authentication": "genericCredentialType",
    "genericAuthType": "httpHeaderAuth",
    "toolDescription": "Obtiene estadísticas en vivo o finales de un partido específico: posesión, tiros totales, tiros a puerta, córners, faltas, tarjetas, xG. Requiere el fixture_id del partido (obtenlo primero con la tool de marcadores/partidos del día).",
    "placeholderDefinitions": {
     "values": [
      {
       "name": "fixture_id",
       "description": "numeric fixture ID from fixtures endpoint",
       "type": "number"
      }
     ]
    }
   },
   "credentials": {
    "httpHeaderAuth": {
     "id": "0O1iRnWh7lP5isWW",
     "name": "API-Football Mundial 2026"
    }
   }
  },
  {
   "name": "TG PAIS — Detectar",
   "type": "n8n-nodes-base.code",
   "typeVersion": 2,
   "position": [
    1000,
    950
   ],
   "parameters": {
    "jsCode": "const CAL = [{\"u\":\"2026-06-11T19:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-12T02:00:00Z\",\"h\":\"Corea del Sur\",\"hf\":\"kr\",\"a\":\"Chequia\",\"af\":\"cz\"},{\"u\":\"2026-06-18T16:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-19T01:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"México\",\"af\":\"mx\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Sudáfrica\",\"hf\":\"za\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-12T19:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-13T19:00:00Z\",\"h\":\"Qatar\",\"hf\":\"qa\",\"a\":\"Suiza\",\"af\":\"ch\"},{\"u\":\"2026-06-18T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-18T22:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Canadá\",\"af\":\"ca\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Bosnia y Herzegovina\",\"hf\":\"ba\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-13T22:00:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-14T01:00:00Z\",\"h\":\"Haití\",\"hf\":\"ht\",\"a\":\"Escocia\",\"af\":\"gb-sct\"},{\"u\":\"2026-06-19T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-20T00:30:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Brasil\",\"af\":\"br\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Marruecos\",\"hf\":\"ma\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-13T01:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-14T04:00:00Z\",\"h\":\"Australia\",\"hf\":\"au\",\"a\":\"Türkiye\",\"af\":\"tr\"},{\"u\":\"2026-06-19T19:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-20T03:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Estados Unidos\",\"af\":\"us\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Paraguay\",\"hf\":\"py\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-14T17:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-14T23:00:00Z\",\"h\":\"Costa de Marfil\",\"hf\":\"ci\",\"a\":\"Ecuador\",\"af\":\"ec\"},{\"u\":\"2026-06-20T20:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-21T00:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Curazao\",\"hf\":\"cw\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Alemania\",\"af\":\"de\"},{\"u\":\"2026-06-14T20:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-15T02:00:00Z\",\"h\":\"Suecia\",\"hf\":\"se\",\"a\":\"Túnez\",\"af\":\"tn\"},{\"u\":\"2026-06-20T17:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-21T04:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Japón\",\"hf\":\"jp\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Países Bajos\",\"af\":\"nl\"},{\"u\":\"2026-06-15T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-16T01:00:00Z\",\"h\":\"Irán\",\"hf\":\"ir\",\"a\":\"Nueva Zelanda\",\"af\":\"nz\"},{\"u\":\"2026-06-21T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-22T01:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Egipto\",\"hf\":\"eg\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Bélgica\",\"af\":\"be\"},{\"u\":\"2026-06-15T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-15T22:00:00Z\",\"h\":\"Arabia Saudita\",\"hf\":\"sa\",\"a\":\"Uruguay\",\"af\":\"uy\"},{\"u\":\"2026-06-21T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-21T22:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Cabo Verde\",\"hf\":\"cv\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"España\",\"af\":\"es\"},{\"u\":\"2026-06-16T19:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-16T22:00:00Z\",\"h\":\"Irak\",\"hf\":\"iq\",\"a\":\"Noruega\",\"af\":\"no\"},{\"u\":\"2026-06-22T21:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-23T00:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Francia\",\"af\":\"fr\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Senegal\",\"hf\":\"sn\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-17T01:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-17T04:00:00Z\",\"h\":\"Austria\",\"hf\":\"at\",\"a\":\"Jordania\",\"af\":\"jo\"},{\"u\":\"2026-06-22T17:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-23T03:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Algeria\",\"hf\":\"dz\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Argentina\",\"af\":\"ar\"},{\"u\":\"2026-06-17T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-18T02:00:00Z\",\"h\":\"Uzbekistán\",\"hf\":\"uz\",\"a\":\"Colombia\",\"af\":\"co\"},{\"u\":\"2026-06-23T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-24T02:00:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"Portugal\",\"af\":\"pt\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"DR Congo\",\"hf\":\"cd\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-17T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-17T23:00:00Z\",\"h\":\"Ghana\",\"hf\":\"gh\",\"a\":\"Panamá\",\"af\":\"pa\"},{\"u\":\"2026-06-23T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Ghana\",\"af\":\"gh\"},{\"u\":\"2026-06-23T23:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Inglaterra\",\"af\":\"gb-eng\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Croacia\",\"hf\":\"hr\",\"a\":\"Ghana\",\"af\":\"gh\"}];\nconst PAISES = {\n  'el salvador':[-6,'El Salvador'],'salvador':[-6,'El Salvador'],'mexico':[-6,'México'],'méxico':[-6,'México'],\n  'guatemala':[-6,'Guatemala'],'honduras':[-6,'Honduras'],'nicaragua':[-6,'Nicaragua'],'costa rica':[-6,'Costa Rica'],\n  'colombia':[-5,'Colombia'],'peru':[-5,'Perú'],'perú':[-5,'Perú'],'ecuador':[-5,'Ecuador'],'panama':[-5,'Panamá'],'panamá':[-5,'Panamá'],\n  'bolivia':[-4,'Bolivia'],'venezuela':[-4,'Venezuela'],'chile':[-4,'Chile'],'paraguay':[-4,'Paraguay'],\n  'republica dominicana':[-4,'República Dominicana'],'república dominicana':[-4,'República Dominicana'],'dominicana':[-4,'República Dominicana'],\n  'puerto rico':[-4,'Puerto Rico'],'cuba':[-4,'Cuba'],\n  'argentina':[-3,'Argentina'],'uruguay':[-3,'Uruguay'],'brasil':[-3,'Brasil'],'brazil':[-3,'Brasil'],\n  'espana':[2,'España'],'españa':[2,'España'],'spain':[2,'España'],\n  'estados unidos':[-4,'Estados Unidos'],'usa':[-4,'Estados Unidos'],'eeuu':[-4,'Estados Unidos'],'ee.uu':[-4,'Estados Unidos'],\n  'united states':[-4,'Estados Unidos'],'canada':[-4,'Canadá'],'canadá':[-4,'Canadá']\n};\nfunction detectarPais(texto) {\n  const t = (texto||'').toLowerCase().replace(/[¡!.,;:]/g,' ').replace(/\\s+/g,' ').trim();\n  if (t.length > 45) return null;\n  for (const [p, info] of Object.entries(PAISES)) {\n    if (t === p || t === 'estoy en '+p || t === 'desde '+p || t === 'en '+p || t === 'soy de '+p || t === 'de '+p || (t.endsWith(' '+p) && t.split(' ').length <= 4)) {\n      return { nombre: info[1], offset: info[0] };\n    }\n  }\n  return null;\n}\nfunction flagEmoji(code) {\n  if (!code) return '⚽';\n  if (code === 'gb-sct') return '🏴󠁧󠁢󠁳󠁣󠁴󠁿';\n  if (code === 'gb-eng') return '🏴󠁧󠁢󠁥󠁮󠁧󠁿';\n  if (code === 'gb-wls') return '🏴󠁧󠁢󠁷󠁬󠁳󠁿';\n  return String.fromCodePoint(...[...code.toUpperCase()].map(c => 127397 + c.charCodeAt(0)));\n}\nfunction mensajePais(pais) {\n  const ahora = Date.now();\n  const prox = CAL.map(p => ({...p, ts: Date.parse(p.u)}))\n    .filter(p => p.ts > ahora - 2*3600000)\n    .sort((x,y) => x.ts - y.ts)\n    .slice(0, 3);\n  const dias = ['dom','lun','mar','mié','jue','vie','sáb'];\n  const lines = ['⏰ ¡Listo! Horarios en hora de ' + pais.nombre + ':', ''];\n  for (const p of prox) {\n    const d = new Date(p.ts + pais.offset*3600000);\n    let h = d.getUTCHours(); const m = d.getUTCMinutes();\n    const ampm = h >= 12 ? 'PM' : 'AM'; h = h % 12 || 12;\n    lines.push(flagEmoji(p.hf) + ' ' + p.h + ' vs ' + p.a + ' ' + flagEmoji(p.af));\n    lines.push('   ' + dias[d.getUTCDay()] + ' · ' + h + ':' + String(m).padStart(2,'0') + ' ' + ampm);\n    lines.push('');\n  }\n  lines.push('✅ Guardé tu país — desde ahora todas tus alertas llegarán con tu hora local ⚽');\n  lines.push('');\n  lines.push('#RODAI Sport');\n  return lines.join('\\n');\n}\n\nconst msg = $('Telegram — Mensajes entrantes').first().json.message;\nconst p = detectarPais(msg.text || '');\nreturn [{ json: { es_pais: !!p, pais_msg: p ? mensajePais(p) : '', pais_nombre: p ? p.nombre.replace(/'/g,'') : '', pais_offset: p ? p.offset : null, chat_id: msg.from.id } }];"
   },
   "id": "5ea8afc5-bd09-4835-9833-76ae453696eb"
  },
  {
   "name": "IF Es Pais TG",
   "type": "n8n-nodes-base.if",
   "typeVersion": 2.2,
   "position": [
    1200,
    950
   ],
   "parameters": {
    "conditions": {
     "options": {
      "caseSensitive": true,
      "leftValue": "",
      "typeValidation": "loose",
      "version": 2
     },
     "combinator": "and",
     "conditions": [
      {
       "leftValue": "={{ $json.es_pais }}",
       "rightValue": true,
       "operator": {
        "type": "boolean",
        "operation": "true",
        "singleValue": true
       }
      }
     ]
    },
    "options": {}
   },
   "id": "daf3aaa5-bf90-4034-a35d-a7985f6d5799"
  },
  {
   "name": "TG PAIS — Responder",
   "type": "n8n-nodes-base.telegram",
   "typeVersion": 1.2,
   "position": [
    1400,
    950
   ],
   "credentials": {
    "telegramApi": {
     "id": "yovv0GvglRF0YNLq",
     "name": "Telegram Bot Mundial 2026"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "chatId": "={{ $('TG PAIS — Detectar').first().json.chat_id }}",
    "text": "={{ $('TG PAIS — Detectar').first().json.pais_msg }}",
    "additionalFields": {
     "appendAttribution": false
    }
   },
   "id": "0af2fdc4-6b35-433f-a13b-a62b350b6cc8",
   "webhookId": "ca6e3901-581e-4fc6-924c-4ae711e5de75"
  },
  {
   "name": "TG PAIS — Guardar",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    1400,
    1100
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "onError": "continueRegularOutput",
   "parameters": {
    "operation": "executeQuery",
    "query": "UPDATE suscriptores SET country = '{{ $json.pais_nombre }}', tz_offset = {{ $json.pais_offset }} WHERE telegram_chat_id = {{ $json.chat_id }} RETURNING id",
    "options": {}
   },
   "id": "17e9a221-967c-4c4d-b272-a418c6c3761d"
  },
  {
   "name": "Webhook Latencia",
   "type": "n8n-nodes-base.webhook",
   "typeVersion": 2,
   "position": [
    2400,
    1300
   ],
   "parameters": {
    "httpMethod": "GET",
    "path": "mundial-latencia",
    "responseMode": "responseNode",
    "options": {}
   },
   "id": "806c4afa-094a-402e-a128-ac6c6c683b54",
   "webhookId": "77f3ba69-878a-49b1-b22e-94b77e935291"
  },
  {
   "name": "DB Latencia",
   "type": "n8n-nodes-base.postgres",
   "typeVersion": 2.4,
   "position": [
    2600,
    1300
   ],
   "credentials": {
    "postgres": {
     "id": "lZiJmyplRgdvifzN",
     "name": "PG Local RODAI"
    }
   },
   "alwaysOutputData": true,
   "onError": "continueRegularOutput",
   "parameters": {
    "operation": "executeQuery",
    "query": "CREATE TABLE IF NOT EXISTS metricas_alertas (\n  detalle VARCHAR(200) PRIMARY KEY,\n  tipo VARCHAR(30),\n  partido_id VARCHAR(50),\n  t_detectado TIMESTAMPTZ DEFAULT NOW()\n);\nCREATE OR REPLACE VIEW v_latencia_alertas AS\nSELECT m.detalle, m.tipo, m.partido_id, m.t_detectado,\n  MIN(a.enviado_at) AS t_primero,\n  MAX(a.enviado_at) AS t_ultimo,\n  COUNT(a.id) FILTER (WHERE a.phone NOT LIKE 'tg_%') AS total_wa,\n  COUNT(a.id) FILTER (WHERE a.phone LIKE 'tg_%') AS total_tg,\n  ROUND(EXTRACT(EPOCH FROM (MIN(a.enviado_at) - m.t_detectado))::numeric, 1) AS seg_al_primero,\n  ROUND(EXTRACT(EPOCH FROM (MAX(a.enviado_at) - MIN(a.enviado_at)))::numeric, 1) AS seg_barrido\nFROM metricas_alertas m\nLEFT JOIN alertas_enviadas a ON a.detalle = m.detalle\nGROUP BY m.detalle, m.tipo, m.partido_id, m.t_detectado;\nSELECT * FROM v_latencia_alertas WHERE t_detectado > NOW() - INTERVAL '24 hours' ORDER BY t_detectado DESC LIMIT 100;",
    "options": {}
   },
   "id": "0d8263d3-8e18-48d4-9d4c-5ad8187cd592"
  },
  {
   "name": "Respond Latencia",
   "type": "n8n-nodes-base.respondToWebhook",
   "typeVersion": 1.1,
   "position": [
    2800,
    1300
   ],
   "parameters": {
    "respondWith": "json",
    "responseBody": "={{ $items().map(i => i.json) }}",
    "options": {}
   },
   "id": "2e877c18-05de-4573-8740-fd02bf6389b1"
  }
 ],
 "connections": {
  "Telegram — Mensajes entrantes": {
   "main": [
    [
     {
      "node": "TG — Router",
      "type": "main",
      "index": 0
     },
     {
      "node": "IF Inbox Privado",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Telegram STOP — Dar de baja": {
   "main": [
    [
     {
      "node": "Telegram STOP — Confirmar baja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WhatsApp — ALTA/STOP desde Kapso": {
   "main": [
    [
     {
      "node": "WhatsApp — Detectar ALTA o STOP",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WhatsApp — Detectar ALTA o STOP": {
   "main": [
    [
     {
      "node": "WA — Detectar País",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "WhatsApp STOP — Dar de baja",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WhatsApp ALTA — Guardar en DB": {
   "main": [
    [
     {
      "node": "WhatsApp ALTA — Responder OK",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WhatsApp STOP — Dar de baja": {
   "main": [
    [
     {
      "node": "WhatsApp STOP — Responder OK",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Stripe — Pago completado": {
   "main": [
    [
     {
      "node": "Stripe — Es checkout completado?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Stripe — Es checkout completado?": {
   "main": [
    [
     {
      "node": "Stripe — Activar suscriptor pagado",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Stripe — Responder 200",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Stripe — Activar suscriptor pagado": {
   "main": [
    [
     {
      "node": "Stripe — Bienvenida WhatsApp",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Stripe — Bienvenida WhatsApp": {
   "main": [
    [
     {
      "node": "Stripe — Responder 200",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Admin — Stats": {
   "main": [
    [
     {
      "node": "Admin — Verificar API Key",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Admin — Verificar API Key": {
   "main": [
    [
     {
      "node": "Admin — Consultar DB",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "Admin — Responder 401",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Admin — Consultar DB": {
   "main": [
    [
     {
      "node": "Admin — Responder stats",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WA — Detectar País": {
   "main": [
    [
     {
      "node": "WhatsApp ALTA — Guardar en DB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG — Detectar País": {
   "main": [
    [
     {
      "node": "TG ALTA — Guardar en DB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG Contacto — Detectar País": {
   "main": [
    [
     {
      "node": "TG Contacto — Guardar en DB",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG Contacto — Guardar en DB": {
   "main": [
    [
     {
      "node": "TG Contacto — Bienvenida",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG — AI Agent Mundial": {
   "main": [
    [
     {
      "node": "TG — Enviar Respuesta IA",
      "type": "main",
      "index": 0
     },
     {
      "node": "TG Inbox — Copia Respuesta IA",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG — OpenAI gpt-4o-mini": {
   "ai_languageModel": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_languageModel",
      "index": 0
     }
    ]
   ]
  },
  "TG — Router": {
   "main": [
    [
     {
      "node": "IF Contact TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Contact TG": {
   "main": [
    [
     {
      "node": "TG Contacto — Detectar País",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "IF Alta TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Alta TG": {
   "main": [
    [
     {
      "node": "TG ALTA — Guardar en DB",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "IF Stop TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Stop TG": {
   "main": [
    [
     {
      "node": "Telegram STOP — Dar de baja",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "IF Prediccion TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG ALTA — Guardar en DB": {
   "main": [
    [
     {
      "node": "TG ALTA — Confirmar registro",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WhatsApp — Kapso Evento Crudo": {
   "main": [
    [
     {
      "node": "WA Raw — Extraer Teléfono y Mensaje",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WA Raw — Extraer Teléfono y Mensaje": {
   "main": [
    [
     {
      "node": "WA Raw — ¿Es ALTA?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WA Raw — ¿Es ALTA?": {
   "main": [
    [
     {
      "node": "WA Raw — Guardar Suscriptor",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "WA Raw — ¿Es STOP?",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "WA Raw — ¿Es STOP?": {
   "main": [
    [
     {
      "node": "WA Raw — Dar de Baja",
      "type": "main",
      "index": 0
     }
    ],
    []
   ]
  },
  "WA Raw — Guardar Suscriptor": {
   "main": [
    []
   ]
  },
  "WA Raw — Dar de Baja": {
   "main": [
    []
   ]
  },
  "TG — Typing...": {
   "main": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "🗓️ API Partidos del Día": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "⚡ API Marcadores en Vivo": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "🔍 API Buscar Jugador": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "📊 API Tabla de Posiciones": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "🏳️ Partidos de Equipo": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "IF Feedback TG": {
   "main": [
    [
     {
      "node": "TG FEEDBACK — Guardar Rating",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "IF Soporte TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG FEEDBACK — Guardar Rating": {
   "main": [
    [
     {
      "node": "TG FEEDBACK — Responder Gracias",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "🥇 Goleadores del Mundial": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "📋 Alineaciones del Partido": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "🎯 Eventos del Partido": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "⚔️ Historial Entre Equipos": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "IF Soporte TG": {
   "main": [
    [
     {
      "node": "TG SOPORTE — Notificar Erick",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "TG — Typing...",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG SOPORTE — Notificar Erick": {
   "main": [
    [
     {
      "node": "TG SOPORTE — Responder Usuario",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TMP LU Webhook": {
   "main": [
    [
     {
      "node": "TMP LU HTTP",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Webhook Scores": {
   "main": [
    [
     {
      "node": "API Live Scores",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "API Live Scores": {
   "main": [
    [
     {
      "node": "API Today Scores",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "API Today Scores": {
   "main": [
    [
     {
      "node": "Build Scores Response",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Build Scores Response": {
   "main": [
    [
     {
      "node": "Respond Scores",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Webhook Audit": {
   "main": [
    [
     {
      "node": "DB Audit Alertas",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "DB Audit Alertas": {
   "main": [
    [
     {
      "node": "Respond Audit",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Inbox Privado": {
   "main": [
    [
     {
      "node": "TG Inbox — Copia Entrante",
      "type": "main",
      "index": 0
     }
    ],
    []
   ]
  },
  "Webhook Predicciones": {
   "main": [
    [
     {
      "node": "DB Predicciones",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "DB Predicciones": {
   "main": [
    [
     {
      "node": "Respond Predicciones",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Prediccion TG": {
   "main": [
    [
     {
      "node": "TG PRED — Parse",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "TG PAIS — Detectar",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG PRED — Parse": {
   "main": [
    [
     {
      "node": "TG PRED — Guardar",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG PRED — Guardar": {
   "main": [
    [
     {
      "node": "TG PRED — Responder",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Webhook Subs": {
   "main": [
    [
     {
      "node": "DB Subs List",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "DB Subs List": {
   "main": [
    [
     {
      "node": "Respond Subs",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "📈 Estadísticas del Partido": {
   "ai_tool": [
    [
     {
      "node": "TG — AI Agent Mundial",
      "type": "ai_tool",
      "index": 0
     }
    ]
   ]
  },
  "TG PAIS — Detectar": {
   "main": [
    [
     {
      "node": "IF Es Pais TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "IF Es Pais TG": {
   "main": [
    [
     {
      "node": "TG PAIS — Guardar",
      "type": "main",
      "index": 0
     }
    ],
    [
     {
      "node": "IF Feedback TG",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "TG PAIS — Guardar": {
   "main": [
    [
     {
      "node": "TG PAIS — Responder",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "Webhook Latencia": {
   "main": [
    [
     {
      "node": "DB Latencia",
      "type": "main",
      "index": 0
     }
    ]
   ]
  },
  "DB Latencia": {
   "main": [
    [
     {
      "node": "Respond Latencia",
      "type": "main",
      "index": 0
     }
    ]
   ]
  }
 },
 "settings": {
  "executionOrder": "v1",
  "binaryMode": "separate",
  "errorWorkflow": "EsaoKCXpD3TZMCje"
 },
 "staticData": null,
 "meta": null,
 "pinData": {},
 "versionId": "a12f43cf-9047-4b62-a7eb-553d5745bd8f",
 "activeVersionId": "a12f43cf-9047-4b62-a7eb-553d5745bd8f",
 "versionCounter": 483,
 "triggerCount": 11,
 "shared": [
  {
   "updatedAt": "2026-06-09T01:38:17.230Z",
   "createdAt": "2026-06-09T01:38:17.230Z",
   "role": "workflow:owner",
   "workflowId": "cI5WRRTgnqkInqq0",
   "projectId": "g2T64qb4JyW1mWdT",
   "project": {
    "updatedAt": "2026-03-23T02:01:06.896Z",
    "createdAt": "2026-03-23T01:54:43.748Z",
    "id": "g2T64qb4JyW1mWdT",
    "name": "Erick RODAI <admin@rodai.io>",
    "type": "personal",
    "icon": null,
    "description": null,
    "creatorId": "111326d0-ca57-4427-a4d0-5c6508637090"
   }
  }
 ],
 "tags": [],
 "activeVersion": {
  "updatedAt": "2026-06-12T20:00:37.893Z",
  "createdAt": "2026-06-12T20:00:37.893Z",
  "versionId": "a12f43cf-9047-4b62-a7eb-553d5745bd8f",
  "workflowId": "cI5WRRTgnqkInqq0",
  "nodes": [
   {
    "parameters": {
     "updates": [
      "message"
     ],
     "additionalFields": {}
    },
    "id": "tg-trigger",
    "name": "Telegram — Mensajes entrantes",
    "type": "n8n-nodes-base.telegramTrigger",
    "typeVersion": 1.1,
    "position": [
     208,
     -76
    ],
    "webhookId": "mundial-telegram-trigger",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    }
   },
   {
    "parameters": {
     "httpMethod": "POST",
     "path": "mundial-logic",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "wh-whatsapp",
    "name": "WhatsApp — ALTA/STOP desde Kapso",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     208,
     1104
    ],
    "webhookId": "e5f41f18-a8a7-44fc-b823-945c3075f1a5"
   },
   {
    "parameters": {
     "httpMethod": "POST",
     "path": "stripe-mundial",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "wh-stripe",
    "name": "Stripe — Pago completado",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     208,
     1496
    ],
    "webhookId": "8c2e14b8-4234-4c7d-8e37-c901f1971096"
   },
   {
    "parameters": {
     "path": "mundial-admin",
     "responseMode": "responseNode",
     "options": {},
     "httpMethod": "GET"
    },
    "id": "wh-admin",
    "name": "Admin — Stats",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     208,
     1816
    ],
    "webhookId": "f121ba0d-d184-47b8-9d94-41c9f771e0bc"
   },
   {
    "parameters": {
     "jsCode": "\nconst item = $input.first().json;\nconst text = (item.message?.text || '').toLowerCase().trim();\nconst hasContact = !!(item.message?.contact?.phone_number);\nlet route = 'pregunta';\nif (hasContact) route = 'contact';\nelse if (text.includes('alta')) route = 'alta';\nelse if (text.includes('stop')) route = 'stop';\nelse if (/^[1-5]$/.test(text)) route = 'feedback';\nelse if (/soporte|ayuda|humano|falla|problema|reclamo|no funciona/.test(text)) route = 'soporte';\nreturn [{ json: { ...item, _route: route } }];\n"
    },
    "id": "tg-parse",
    "name": "TG — Router",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     432,
     -76
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "INSERT INTO suscriptores\n  (name, platform, telegram_chat_id, telegram_username,\n   active, demo_only, subscribed_at, created_at, updated_at)\nVALUES (\n  '{{ $json.message.from.first_name || \"\" }}',\n  'telegram',\n  {{ $json.message.from.id }},\n  '{{ $json.message.from.username || \"\" }}',\n  true, true, NOW(), NOW(), NOW()\n)\nON CONFLICT (telegram_chat_id) DO UPDATE SET\n  active            = true,\n  name              = EXCLUDED.name,\n  telegram_username = EXCLUDED.telegram_username,\n  updated_at        = NOW()\nRETURNING telegram_chat_id, name;",
     "options": {}
    },
    "id": "tg-alta-db",
    "name": "TG ALTA — Guardar en DB",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1104,
     -32
    ],
    "webhookId": "8adaa991-b48a-4094-94f6-aeadc22aaae3",
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "chatId": "={{ $json.telegram_chat_id }}",
     "text": "=✅ *¡Listo, {{ $('Telegram — Mensajes entrantes').first().json.message.from.first_name }}!*\n\nYa estás suscrito a las alertas del *Mundial 2026* 🏆\n\nRecibirás:\n⚽ Goles en tiempo real\n🟢 Inicio del partido\n📋 Alineaciones\n🏁 Resultado final\n📊 Resumen del día\n\nEl primer partido de México es el *11 de junio vs Sudáfrica*. ¡Nos vemos ahí! 🇲🇽\n\n_Escribe STOP para cancelar en cualquier momento._",
     "additionalFields": {
      "appendAttribution": false,
      "parse_mode": "Markdown"
     }
    },
    "id": "tg-alta-msg",
    "name": "TG ALTA — Confirmar registro",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     208,
     784
    ],
    "webhookId": "b2090d37-c9fc-4ab4-9071-703d140f98e5",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    }
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "UPDATE suscriptores SET active = false, updated_at = NOW() WHERE telegram_chat_id = {{ $json.message.from.id }};",
     "options": {}
    },
    "id": "tg-stop-db",
    "name": "Telegram STOP — Dar de baja",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1392,
     116
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "chatId": "={{ $('Telegram — Mensajes entrantes').item.json.message.chat.id }}",
     "text": "✅ Te dimos de baja de las alertas del Mundial. Puedes volver cuando quieras enviando ALTA. ¡Hasta pronto!",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "id": "tg-stop-msg",
    "name": "Telegram STOP — Confirmar baja",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1680,
     116
    ],
    "webhookId": "196eb699-273d-42ce-9b61-67a1ac41ce03",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    }
   },
   {
    "parameters": {
     "rules": {
      "values": [
       {
        "conditions": {
         "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "strict",
          "version": 1
         },
         "conditions": [
          {
           "leftValue": "={{ $json.body.message_text }}",
           "rightValue": "ALTA",
           "operator": {
            "type": "string",
            "operation": "contains"
           }
          }
         ],
         "combinator": "and"
        },
        "renameOutput": true,
        "outputKey": "alta"
       },
       {
        "conditions": {
         "options": {
          "caseSensitive": false,
          "leftValue": "",
          "typeValidation": "strict",
          "version": 1
         },
         "conditions": [
          {
           "leftValue": "={{ $json.body.message_text }}",
           "rightValue": "STOP",
           "operator": {
            "type": "string",
            "operation": "contains"
           }
          }
         ],
         "combinator": "and"
        },
        "renameOutput": true,
        "outputKey": "stop"
       }
      ]
     },
     "options": {}
    },
    "id": "wa-parse",
    "name": "WhatsApp — Detectar ALTA o STOP",
    "type": "n8n-nodes-base.switch",
    "typeVersion": 3.2,
    "position": [
     432,
     1104
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "INSERT INTO suscriptores (phone, platform, active, demo_only, subscribed_at, created_at, updated_at, country)\nVALUES ('{{ $json.body.phone }}', 'whatsapp', true, true, NOW(), NOW(), NOW(), {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }})\nON CONFLICT (phone) DO UPDATE SET active = true, platform = 'whatsapp', updated_at = NOW(), country = COALESCE(EXCLUDED.country, suscriptores.country);",
     "options": {}
    },
    "id": "wa-alta-db",
    "name": "WhatsApp ALTA — Guardar en DB",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     880,
     1008
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "respondWith": "json",
     "responseBody": "{ \"status\": \"subscribed\" }",
     "options": {}
    },
    "id": "wa-alta-respond",
    "name": "WhatsApp ALTA — Responder OK",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [
     1104,
     1008
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "UPDATE suscriptores SET active = false, updated_at = NOW() WHERE phone = '{{ $json.body.phone }}';",
     "options": {}
    },
    "id": "wa-stop-db",
    "name": "WhatsApp STOP — Dar de baja",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     656,
     1200
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "respondWith": "json",
     "responseBody": "{ \"status\": \"unsubscribed\" }",
     "options": {}
    },
    "id": "wa-stop-respond",
    "name": "WhatsApp STOP — Responder OK",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [
     880,
     1200
    ]
   },
   {
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": true,
       "leftValue": "",
       "typeValidation": "strict",
       "version": 1
      },
      "conditions": [
       {
        "id": "c1",
        "leftValue": "={{ $json.body.type }}",
        "rightValue": "checkout.session.completed",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    },
    "id": "stripe-check",
    "name": "Stripe — Es checkout completado?",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     432,
     1496
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "INSERT INTO suscriptores (phone, email, stripe_session_id, paid, paid_at, active, demo_only, platform, subscribed_at, created_at, updated_at)\nVALUES (\n  COALESCE(NULLIF('{{ $json.body.data.object.customer_details.phone }}', ''), 'stripe_{{ $json.body.data.object.id }}'),\n  '{{ $json.body.data.object.customer_details.email }}',\n  '{{ $json.body.data.object.id }}',\n  true, NOW(), true, false, 'whatsapp', NOW(), NOW(), NOW()\n)\nON CONFLICT (phone) DO UPDATE SET\n  paid = true, paid_at = NOW(), active = true, demo_only = false,\n  email = EXCLUDED.email, stripe_session_id = EXCLUDED.stripe_session_id,\n  updated_at = NOW();\nSELECT phone, email, paid FROM suscriptores WHERE stripe_session_id = '{{ $json.body.data.object.id }}';",
     "options": {}
    },
    "id": "stripe-db",
    "name": "Stripe — Activar suscriptor pagado",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     656,
     1424
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "method": "POST",
     "url": "https://api.kapso.ai/meta/whatsapp/v24.0/597907523413541/messages",
     "sendHeaders": true,
     "headerParameters": {
      "parameters": [
       {
        "name": "Authorization",
        "value": "Bearer b65754e64505dc1de08e536ba6232c79c0f6f10a0b9c4fe6933be70daa3aa213"
       },
       {
        "name": "Content-Type",
        "value": "application/json"
       }
      ]
     },
     "sendBody": true,
     "specifyBody": "json",
     "jsonBody": "={ \"messaging_product\": \"whatsapp\", \"to\": \"{{ $('Stripe — Activar suscriptor pagado').item.json.phone }}\", \"type\": \"text\", \"text\": { \"body\": \"🏆 ¡Pago confirmado! Bienvenido a Alertas Mundial 2026.\\n\\nRecibirás alertas de todos los partidos hasta el 19 de julio.\\n\\nMéxico juega el 11 jun vs Sudáfrica. ¡Vamos México! 🇲🇽\\n\\nResponde STOP para cancelar.\" } }",
     "options": {}
    },
    "id": "stripe-welcome-wa",
    "name": "Stripe — Bienvenida WhatsApp",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     880,
     1424
    ]
   },
   {
    "parameters": {
     "respondWith": "text",
     "responseBody": "ok",
     "options": {}
    },
    "id": "stripe-respond",
    "name": "Stripe — Responder 200",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [
     1104,
     1496
    ]
   },
   {
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": true,
       "leftValue": "",
       "typeValidation": "strict",
       "version": 1
      },
      "conditions": [
       {
        "id": "c1",
        "leftValue": "={{ $('Admin — Stats').first().json['headers']['x-admin-key'] }}",
        "rightValue": "mundial-admin-2026-rodai",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    },
    "id": "admin-check-key",
    "name": "Admin — Verificar API Key",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     432,
     1816
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "SELECT\n  (SELECT COUNT(*) FROM suscriptores WHERE active = true)::text  AS activos,\n  (SELECT COUNT(*) FROM suscriptores WHERE active = false)::text AS bajas,\n  (SELECT COUNT(*) FROM suscriptores)::text                      AS total,\n  (SELECT COUNT(*) FROM suscriptores WHERE paid = true)::text    AS pagados,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform = 'telegram')::text AS telegram,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform = 'whatsapp')::text AS whatsapp,\n  (SELECT COUNT(*) FROM suscriptores WHERE subscribed_at::date = CURRENT_DATE)::text AS registros_hoy,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform='whatsapp' AND active=true AND last_message_at > NOW() - INTERVAL '23 hours')::text AS wa_ventana_abierta,\n  (SELECT COUNT(*) FROM suscriptores WHERE platform='whatsapp' AND active=true AND (last_message_at IS NULL OR last_message_at <= NOW() - INTERVAL '23 hours'))::text AS wa_ventana_cerrada,\n  (SELECT COUNT(*)::text FROM feedback) AS feedback_total,\n  (SELECT COALESCE(ROUND(AVG(rating),2)::text, 'sin datos') FROM feedback) AS feedback_promedio,\n  (SELECT json_agg(json_build_object('name', name, 'phone', phone, 'ultimo_mensaje', last_message_at) ORDER BY last_message_at DESC)\n     FROM suscriptores WHERE platform='whatsapp' AND active=true AND last_message_at > NOW() - INTERVAL '23 hours') AS ventana_abierta_lista,\n  (SELECT json_agg(json_build_object('name', name, 'phone', phone, 'ultimo_mensaje', last_message_at))\n     FROM suscriptores WHERE platform='whatsapp' AND active=true AND (last_message_at IS NULL OR last_message_at <= NOW() - INTERVAL '23 hours')) AS ventana_cerrada_lista,\n  (SELECT json_agg(row_to_json(t)) FROM (SELECT COALESCE(NULLIF(country,''),'(sin pais)') AS pais, COUNT(*) AS cantidad\n     FROM suscriptores WHERE active=true GROUP BY 1 ORDER BY COUNT(*) DESC) t) AS por_pais,\n  (SELECT json_agg(json_build_object(\n      'id', id, 'name', name, 'phone', phone, 'platform', platform, 'country', country,\n      'active', active, 'paid', paid, 'demo_only', demo_only,\n      'subscribed_at', subscribed_at, 'last_message_at', last_message_at,\n      'telegram_chat_id', telegram_chat_id) ORDER BY id DESC)\n     FROM suscriptores) AS suscriptores",
     "options": {}
    },
    "id": "admin-query",
    "name": "Admin — Consultar DB",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     656,
     1720
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "respondWith": "allIncomingItems",
     "options": {
      "responseHeaders": {
       "entries": [
        {
         "name": "Cache-Control",
         "value": "no-store, no-cache, must-revalidate, proxy-revalidate"
        },
        {
         "name": "Pragma",
         "value": "no-cache"
        },
        {
         "name": "Expires",
         "value": "0"
        }
       ]
      }
     }
    },
    "id": "admin-respond-ok",
    "name": "Admin — Responder stats",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [
     880,
     1720
    ]
   },
   {
    "parameters": {
     "respondWith": "json",
     "responseBody": "{ \"error\": \"Unauthorized\" }",
     "options": {
      "responseCode": 401
     }
    },
    "id": "admin-respond-401",
    "name": "Admin — Responder 401",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1,
    "position": [
     656,
     1912
    ]
   },
   {
    "parameters": {
     "jsCode": "\nfunction detectCountry(phone) {\n  const p = String(phone || '').replace(/\\D/g, '');\n  if (p.startsWith('502')) return 'Guatemala';\n  if (p.startsWith('503')) return 'El Salvador';\n  if (p.startsWith('504')) return 'Honduras';\n  if (p.startsWith('505')) return 'Nicaragua';\n  if (p.startsWith('506')) return 'Costa Rica';\n  if (p.startsWith('507')) return 'Panamá';\n  if (p.startsWith('509')) return 'Haití';\n  if (p.startsWith('591')) return 'Bolivia';\n  if (p.startsWith('593')) return 'Ecuador';\n  if (p.startsWith('595')) return 'Paraguay';\n  if (p.startsWith('598')) return 'Uruguay';\n  if (p.startsWith('51')) return 'Perú';\n  if (p.startsWith('52')) return 'México';\n  if (p.startsWith('53')) return 'Cuba';\n  if (p.startsWith('54')) return 'Argentina';\n  if (p.startsWith('55')) return 'Brasil';\n  if (p.startsWith('56')) return 'Chile';\n  if (p.startsWith('57')) return 'Colombia';\n  if (p.startsWith('58')) return 'Venezuela';\n  if (p.startsWith('1809') || p.startsWith('1829') || p.startsWith('1849')) return 'Rep. Dominicana';\n  if (p.startsWith('1787') || p.startsWith('1939')) return 'Puerto Rico';\n  if (p.startsWith('1')) return 'USA/Canadá';\n  if (p.startsWith('34')) return 'España';\n  if (p.startsWith('351')) return 'Portugal';\n  if (p.startsWith('33')) return 'Francia';\n  if (p.startsWith('44')) return 'Reino Unido';\n  if (p.startsWith('49')) return 'Alemania';\n  if (p.startsWith('39')) return 'Italia';\n  if (p.startsWith('31')) return 'Países Bajos';\n  if (p.startsWith('32')) return 'Bélgica';\n  if (p.startsWith('81')) return 'Japón';\n  if (p.startsWith('82')) return 'Corea del Sur';\n  if (p.startsWith('86')) return 'China';\n  if (p.startsWith('966')) return 'Arabia Saudita';\n  if (p.startsWith('971')) return 'Emiratos Árabes';\n  if (p.startsWith('52')) return 'México';\n  return null;\n}\n\nconst d = $input.first().json;\nconst phone = d.body?.phone || '';\nconst country = detectCountry(phone);\nreturn [{ json: { ...d, detected_country: country } }];\n"
    },
    "id": "wa_country",
    "name": "WA — Detectar País",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     656,
     1008
    ]
   },
   {
    "parameters": {
     "jsCode": "\nfunction langToCountry(lang) {\n  const map = {\n    'es': 'Latinoamérica/España', 'es-mx': 'México', 'es-ar': 'Argentina',\n    'es-co': 'Colombia', 'es-es': 'España', 'es-cl': 'Chile',\n    'en': 'USA/UK', 'en-us': 'USA', 'en-gb': 'Reino Unido',\n    'pt': 'Brasil/Portugal', 'pt-br': 'Brasil', 'pt-pt': 'Portugal',\n    'fr': 'Francia', 'de': 'Alemania', 'it': 'Italia',\n    'ja': 'Japón', 'ko': 'Corea del Sur', 'zh': 'China',\n    'ar': 'Árabe', 'ru': 'Rusia', 'tr': 'Turquía',\n    'nl': 'Países Bajos', 'pl': 'Polonia', 'uk': 'Ucrania'\n  };\n  return map[(lang||'').toLowerCase()] || null;\n}\n\nconst d = $input.first().json;\nconst lang = d.message?.from?.language_code || '';\nconst country = langToCountry(lang);\nreturn [{ json: { ...d, detected_country: country } }];\n"
    },
    "id": "tg_country",
    "name": "TG — Detectar País",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     880,
     260
    ]
   },
   {
    "parameters": {
     "jsCode": "\nfunction detectCountry(phone) {\n  const p = String(phone||'').replace(/\\D/g,'');\n  if(p.startsWith('502')) return 'Guatemala';\n  if(p.startsWith('503')) return 'El Salvador';\n  if(p.startsWith('504')) return 'Honduras';\n  if(p.startsWith('505')) return 'Nicaragua';\n  if(p.startsWith('506')) return 'Costa Rica';\n  if(p.startsWith('507')) return 'Panamá';\n  if(p.startsWith('591')) return 'Bolivia';\n  if(p.startsWith('593')) return 'Ecuador';\n  if(p.startsWith('595')) return 'Paraguay';\n  if(p.startsWith('598')) return 'Uruguay';\n  if(p.startsWith('51'))  return 'Perú';\n  if(p.startsWith('52'))  return 'México';\n  if(p.startsWith('54'))  return 'Argentina';\n  if(p.startsWith('55'))  return 'Brasil';\n  if(p.startsWith('56'))  return 'Chile';\n  if(p.startsWith('57'))  return 'Colombia';\n  if(p.startsWith('58'))  return 'Venezuela';\n  if(p.startsWith('1809')||p.startsWith('1829')||p.startsWith('1849')) return 'Rep. Dominicana';\n  if(p.startsWith('1'))   return 'USA/Canadá';\n  if(p.startsWith('34'))  return 'España';\n  if(p.startsWith('351')) return 'Portugal';\n  if(p.startsWith('33'))  return 'Francia';\n  if(p.startsWith('44'))  return 'Reino Unido';\n  if(p.startsWith('49'))  return 'Alemania';\n  if(p.startsWith('39'))  return 'Italia';\n  return null;\n}\nconst d = $input.first().json;\nconst phone   = d.message?.contact?.phone_number || '';\nconst name    = [d.message?.contact?.first_name, d.message?.contact?.last_name].filter(Boolean).join(' ');\nconst country = detectCountry(phone);\nreturn [{ json: { ...d, real_phone: phone.replace(/^\\+/,''), real_name: name || d.message?.from?.first_name || '', detected_country: country }}];\n"
    },
    "id": "ct_country",
    "name": "TG Contacto — Detectar País",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     880,
     -224
    ]
   },
   {
    "parameters": {
     "operation": "executeQuery",
     "query": "WITH upsert AS (\n  UPDATE suscriptores\n  SET\n    phone    = '{{ $json.real_phone }}',\n    name     = '{{ $json.real_name }}',\n    active   = true,\n    updated_at = NOW(),\n    country  = {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }},\n    telegram_username = '{{ $json.message.from.username || \"\" }}'\n  WHERE telegram_chat_id = {{ $json.message.from.id }}\n  RETURNING id\n)\nINSERT INTO suscriptores\n  (phone, name, platform, telegram_chat_id, telegram_username, active, demo_only, subscribed_at, created_at, updated_at, country)\nSELECT\n  '{{ $json.real_phone }}',\n  '{{ $json.real_name }}',\n  'telegram',\n  {{ $json.message.from.id }},\n  '{{ $json.message.from.username || \"\" }}',\n  true, true, NOW(), NOW(), NOW(),\n  {{ $json.detected_country ? \"'\" + $json.detected_country + \"'\" : 'NULL' }}\nWHERE NOT EXISTS (SELECT 1 FROM upsert);",
     "options": {}
    },
    "id": "ct_db",
    "name": "TG Contacto — Guardar en DB",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1104,
     -224
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "parameters": {
     "chatId": "={{ $json.message.from.id }}",
     "text": "=✅ *¡Listo, {{ $('Telegram — Mensajes entrantes').first().json.message.from.first_name }}!*\n\nYa estás registrado en las alertas del *Mundial 2026* 🏆\n\nTe avisaremos en tiempo real:\n⚽ Goles\n🟢 Inicio del partido\n🏁 Resultado final\n📋 Resumen del día a las 10 PM\n\nEl primer partido de México es el *11 de junio vs Sudáfrica*. ¡Nos vemos ahí! 🇲🇽\n\n_Escribe STOP para cancelar._",
     "additionalFields": {
      "appendAttribution": false,
      "parse_mode": "Markdown"
     }
    },
    "id": "ct_welcome",
    "name": "TG Contacto — Bienvenida",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1392,
     -224
    ],
    "webhookId": "d539f88e-4eef-4a58-903b-b2d85b376386",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    }
   },
   {
    "parameters": {
     "agent": "toolsAgent",
     "promptType": "define",
     "text": "={{ $('Telegram — Mensajes entrantes').first().json.message.text || 'Hola' }}",
     "options": {
      "systemMessage": "=CONTEXTO EN TIEMPO REAL (usa esto SIEMPRE):\n- FECHA Y HORA ACTUAL: {{ $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') }} (hora El Salvador, UTC-6). HOY es esta fecha — el Mundial YA EMPEZÓ el 11 de junio de 2026.\n\nREGLA DE HORARIOS: la API devuelve horarios en UTC. NUNCA respondas con la hora UTC — convierte SIEMPRE a hora de El Salvador / Ciudad de México (UTC-6) y dilo claro, ejemplo: \"a la 1:00 PM hora El Salvador/CDMX\". Si el usuario menciona ser de otro país, usa su zona horaria.\n\nEres el asistente oficial de RODAI Sport para el Mundial FIFA 2026 (USA, Canadá y México, 11 jun – 19 jul 2026).\n\nCONTEXTO GENERAL:\n- 48 selecciones, 104 partidos, Grupos A–L\n- Fase grupos: 11–26 jun | Octavos: 29 jun–2 jul | Cuartos: 5–6 jul | Semis: 9–10 jul | Final: 19 jul, MetLife Stadium, NJ\n\nHERRAMIENTAS DISPONIBLES — úsalas para responder con datos reales:\n- 🗓️ API Partidos del Día → partidos de hoy o una fecha específica\n- ⚡ API Marcadores en Vivo → marcador actual de partidos en curso\n- 🔍 API Buscar Jugador → estadísticas de un jugador en el torneo\n- 📊 API Tabla de Posiciones → clasificación de los grupos\n- 🏳️ Partidos de Equipo → todos los partidos de un equipo en el Mundial\n\nREGLAS:\n- Para cualquier pregunta sobre partidos, jugadores, resultados, fechas, estadios o tabla → LLAMA la herramienta correspondiente, no respondas de memoria\n- Si la herramienta no devuelve datos → responde: \"No encontré esa información en la API en este momento\"\n- Responde en español (salvo que el usuario escriba en otro idioma)\n- Máximo 150 palabras por respuesta\n- Usa emojis con moderación ⚽🏆\n- NUNCA inventes datos, alineaciones ni estadísticas\n\nHERRAMIENTAS ADICIONALES:\n- 🥇 Goleadores del Mundial → máximos anotadores del torneo\n- 📋 Alineaciones del Partido → titulares y formación (necesita fixture_id: obtenlo primero con Partidos del Día o Marcadores en Vivo)\n- 🎯 Eventos del Partido → goles, tarjetas y cambios minuto a minuto (necesita fixture_id)\n- ⚔️ Historial Entre Equipos → enfrentamientos directos previos (formato id1-id2)\n\nREGLA DE ORO: si no estás 100% seguro de un dato (resultados, horarios, jugadores, estadísticas, goleadores), SIEMPRE consulta una herramienta ANTES de responder. NUNCA digas \"no sé\" o \"no tengo esa información\" sin haber consultado la API primero. Si una herramienta necesita fixture_id o team_id, usa otra herramienta para obtenerlo y encadena las llamadas.\n\nREGLA PAÍS: Si el usuario escribe solo el nombre de un país o 'estoy en X', está respondiendo a nuestra pregunta '¿en qué país estás?' — responde ÚNICAMENTE con los horarios de los próximos partidos del Mundial convertidos a la hora local de ese país (usa la tool de partidos del día; sus horas vienen en hora de El Salvador UTC-6, convierte desde ahí). NO hables del equipo de ese país.\nDATO VERIFICADO: las selecciones de El Salvador, Guatemala, Nicaragua, Perú, Chile y Venezuela NO clasificaron al Mundial 2026 — NUNCA digas que participan.",
      "maxIterations": 8
     },
     "systemMessage": "Eres un asistente experto del Mundial FIFA 2026. \n\nREGLAS CRÍTICAS:\n1. NUNCA uses tu conocimiento previo para responder preguntas sobre partidos, resultados, goles o equipos participantes. SIEMPRE consulta las herramientas disponibles.\n2. Para preguntas sobre \"qué equipos participan\", \"qué selecciones hay\", \"equipos del mundial\" → usa la herramienta \"📊 API Tabla de Posiciones\" para obtener la lista real de la API.\n3. Para partidos de un equipo específico → usa \"🏳️ Partidos de Equipo\" con el team_id correcto.\n4. Si no encuentras datos en la API, dilo claramente. NUNCA inventes.\n5. Responde siempre en español, de forma concisa.\n6. Al final de cada respuesta agrega: \"\\n\\n_Responde STOP para cancelar alertas._\""
    },
    "id": "tg-ai-agent-wc26",
    "name": "TG — AI Agent Mundial",
    "type": "@n8n/n8n-nodes-langchain.agent",
    "typeVersion": 1.7,
    "position": [
     1328,
     456
    ]
   },
   {
    "parameters": {
     "model": {
      "__rl": true,
      "value": "gpt-4o",
      "mode": "list",
      "cachedResultName": "gpt-4o"
     },
     "options": {
      "maxTokens": 400,
      "temperature": 0.7
     }
    },
    "id": "tg-lm-openai-wc26",
    "name": "TG — OpenAI gpt-4o-mini",
    "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
    "typeVersion": 1.2,
    "position": [
     1400,
     680
    ],
    "credentials": {
     "openAiApi": {
      "id": "DNniMXGQP8C9zu5z",
      "name": "OpenAi account 2"
     }
    }
   },
   {
    "parameters": {
     "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
     "text": "={{ $json.output }}",
     "additionalFields": {
      "appendAttribution": false,
      "parse_mode": "Markdown"
     }
    },
    "id": "tg-send-ai-wc26",
    "name": "TG — Enviar Respuesta IA",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1680,
     456
    ],
    "webhookId": "4d31e846-683d-48b6-ba70-cd7e53cc71e3",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    }
   },
   {
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "conditions": [
       {
        "leftValue": "={{ $json._route }}",
        "rightValue": "contact",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    },
    "id": "if_contact_tg",
    "name": "IF Contact TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     656,
     -76
    ]
   },
   {
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "conditions": [
       {
        "leftValue": "={{ $json._route }}",
        "rightValue": "alta",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    },
    "id": "if_alta_tg",
    "name": "IF Alta TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     880,
     20
    ]
   },
   {
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "conditions": [
       {
        "leftValue": "={{ $json._route }}",
        "rightValue": "stop",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    },
    "id": "if_stop_tg",
    "name": "IF Stop TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1104,
     212
    ]
   },
   {
    "id": "tg_check_phone",
    "name": "TG — Verificar teléfono en DB",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1104,
     456
    ],
    "parameters": {
     "operation": "executeQuery",
     "query": "SELECT phone FROM suscriptores WHERE telegram_chat_id = {{ $json.message.from.id }} LIMIT 1",
     "options": {}
    },
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    }
   },
   {
    "id": "tg_if_has_phone",
    "name": "TG — IF tiene teléfono",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1328,
     336
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "conditions": [
       {
        "leftValue": "={{ $json.phone }}",
        "rightValue": "",
        "operator": {
         "type": "string",
         "operation": "isNotEmpty"
        }
       }
      ],
      "combinator": "and"
     }
    }
   },
   {
    "id": "tg_pedir_tel_existente",
    "name": "TG — Pedir teléfono a existente",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     1540,
     240
    ],
    "parameters": {
     "method": "POST",
     "url": "https://api.telegram.org/bot8228856137:AAFZ2EdaTrv__wgZeowBXsLx-pocmsIUzgM/sendMessage",
     "sendBody": true,
     "specifyBody": "keypair",
     "bodyParameters": {
      "parameters": [
       {
        "name": "chat_id",
        "value": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}"
       },
       {
        "name": "text",
        "value": "📱 Para enviarte alertas del *Mundial 2026* necesito tu número de teléfono.\n\nToca el botón de abajo para compartirlo 👇"
       },
       {
        "name": "parse_mode",
        "value": "Markdown"
       },
       {
        "name": "reply_markup",
        "value": "{\"keyboard\": [[{\"text\": \"\\ud83d\\udcf1 Compartir mi n\\u00famero\", \"request_contact\": true}], [{\"text\": \"\\u274c Ahora no\"}]], \"resize_keyboard\": true, \"one_time_keyboard\": true}"
       }
      ]
     },
     "options": {}
    },
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "webhookId": "efc90bbd-2764-454d-aaab-2f58c05ce7df"
   },
   {
    "id": "if_no_gracias",
    "name": "TG — IF No gracias",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1340,
     360
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "conditions": [
       {
        "leftValue": "={{ ($json.message?.text || '').toLowerCase() }}",
        "rightValue": "no",
        "operator": {
         "type": "string",
         "operation": "contains"
        }
       }
      ],
      "combinator": "and"
     }
    }
   },
   {
    "id": "tg_no_gracias",
    "name": "TG — Confirmar solo Telegram",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1540,
     360
    ],
    "parameters": {
     "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
     "text": "👍 Perfecto. Solo recibirás alertas por Telegram.\n\nEscribe *STOP* en cualquier momento para cancelar.",
     "additionalFields": {
      "appendAttribution": false,
      "parse_mode": "Markdown"
     }
    },
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "webhookId": "c621cd51-dbd1-41b4-9bf1-1f614aa47817"
   },
   {
    "id": "wh-kapso-raw",
    "name": "WhatsApp — Kapso Evento Crudo",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     880,
     -200
    ],
    "parameters": {
     "httpMethod": "POST",
     "path": "mundial-wa-raw",
     "responseMode": "onReceived",
     "responseData": "noData"
    },
    "webhookId": "673004a3-ef5b-4f77-9c92-d4cf9ad9a4b3"
   },
   {
    "id": "wa-raw-parse",
    "name": "WA Raw — Extraer Teléfono y Mensaje",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     1080,
     -200
    ],
    "parameters": {
     "mode": "runOnceForAllItems",
     "jsCode": "// Kapso webhook payload — payload version v2\n// Structure: { message: { from, text: { body }, kapso: { content } }, conversation: { contact_name, phone_number } }\n\nconst body = $input.first().json.body || $input.first().json;\n\nlet phone = null;\nlet messageText = '';\nlet contactName = '';\n\n// Kapso v2 — real format (message.from + message.text.body)\nif (body.message && body.message.from) {\n  phone = String(body.message.from).replace('+', '');\n  messageText = (body.message.text?.body || body.message.kapso?.content || '').trim();\n  contactName = body.conversation?.contact_name || '';\n}\n\n// Kapso v2 alt — data.from format\nif (!phone && body.data && body.data.from) {\n  phone = String(body.data.from).replace('+', '');\n  messageText = (body.data.text || body.data.body || '').trim();\n}\n\n// Kapso v1\nif (!phone && body.from) {\n  phone = String(body.from).replace('+', '');\n  messageText = (body.text || body.message || '').trim();\n}\n\n// Meta webhook format\nif (!phone && body.entry) {\n  try {\n    const changes = body.entry[0].changes[0].value;\n    const msg = changes.messages?.[0];\n    phone = msg?.from || changes.contacts?.[0]?.wa_id;\n    messageText = msg?.text?.body || '';\n    contactName = changes.contacts?.[0]?.profile?.name || '';\n    if (phone) phone = String(phone).replace('+', '');\n  } catch(e) {}\n}\n\nif (!phone) {\n  throw new Error('No se pudo extraer el telefono del payload: ' + JSON.stringify(body).substring(0, 200));\n}\n\nconst msgUpper = messageText.toUpperCase();\nconst isAlta = msgUpper.includes('ALTA') || msgUpper.includes('SUSCRIB') || msgUpper.includes('INSCRIB');\nconst isStop = msgUpper === 'STOP' || msgUpper.includes('BAJA') || msgUpper.includes('CANCELAR') || msgUpper.includes('DESUSCRIB');\n\nreturn [{\n  json: {\n    phone,\n    name: contactName,\n    message_text: messageText,\n    action: isAlta ? 'ALTA' : (isStop ? 'STOP' : 'IGNORE'),\n    raw_body: body\n  }\n}];\n"
    }
   },
   {
    "id": "wa-raw-if-alta",
    "name": "WA Raw — ¿Es ALTA?",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1280,
     -200
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "strict"
      },
      "conditions": [
       {
        "id": "cond-alta",
        "leftValue": "={{ $json.action }}",
        "rightValue": "ALTA",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    }
   },
   {
    "id": "wa-raw-if-stop",
    "name": "WA Raw — ¿Es STOP?",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1480,
     -100
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "strict"
      },
      "conditions": [
       {
        "id": "cond-stop",
        "leftValue": "={{ $json.action }}",
        "rightValue": "STOP",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     },
     "options": {}
    }
   },
   {
    "id": "wa-raw-alta-db",
    "name": "WA Raw — Guardar Suscriptor",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1680,
     -200
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "parameters": {
     "operation": "executeQuery",
     "query": "INSERT INTO suscriptores (phone, platform, active, demo_only, subscribed_at, created_at, updated_at, country)\nVALUES (\n  '{{ $json.phone }}',\n  'whatsapp',\n  true,\n  true,\n  NOW(), NOW(), NOW(),\n  CASE\n    WHEN '{{ $json.phone }}'::text LIKE '503%' THEN 'SV'\n    WHEN '{{ $json.phone }}'::text LIKE '502%' THEN 'GT'\n    WHEN '{{ $json.phone }}'::text LIKE '504%' THEN 'HN'\n    WHEN '{{ $json.phone }}'::text LIKE '505%' THEN 'NI'\n    WHEN '{{ $json.phone }}'::text LIKE '506%' THEN 'CR'\n    WHEN '{{ $json.phone }}'::text LIKE '507%' THEN 'PA'\n    WHEN '{{ $json.phone }}'::text LIKE '52%'  THEN 'MX'\n    WHEN '{{ $json.phone }}'::text LIKE '1%'   THEN 'US'\n    ELSE 'OTRO'\n  END\n)\nON CONFLICT (phone) DO UPDATE SET\n  active = true,\n  platform = 'whatsapp',\n  updated_at = NOW()\nRETURNING id, phone, platform, active",
     "options": {}
    }
   },
   {
    "id": "wa-raw-stop-db",
    "name": "WA Raw — Dar de Baja",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1680,
     -50
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "parameters": {
     "operation": "executeQuery",
     "query": "UPDATE suscriptores SET active = false, updated_at = NOW()\nWHERE phone = '{{ $json.phone }}' AND platform = 'whatsapp'\nRETURNING id, phone, active",
     "options": {}
    }
   },
   {
    "id": "tg_typing",
    "name": "TG — Typing...",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     1108,
     456
    ],
    "parameters": {
     "method": "POST",
     "url": "https://api.telegram.org/bot8228856137:AAFZ2EdaTrv__wgZeowBXsLx-pocmsIUzgM/sendChatAction",
     "sendBody": true,
     "specifyBody": "keypair",
     "bodyParameters": {
      "parameters": [
       {
        "name": "chat_id",
        "value": "={{ $('Telegram — Mensajes entrantes').first().json.message.chat.id }}"
       },
       {
        "name": "action",
        "value": "typing"
       }
      ]
     },
     "options": {}
    }
   },
   {
    "id": "api-football-tool-hoy",
    "name": "🗓️ API Partidos del Día",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1128,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures",
     "sendQuery": true,
     "queryParameters": {
      "parameters": [
       {
        "name": "date",
        "value": "={{ $fromAI('date', 'Fecha en formato YYYY-MM-DD. Si el usuario pregunta por hoy usa la fecha actual. Ejemplo: 2026-06-11', 'string') }}"
       },
       {
        "name": "season",
        "value": "2026"
       },
       {
        "name": "league",
        "value": "1"
       },
       {
        "name": "timezone",
        "value": "America/El_Salvador"
       }
      ]
     },
     "toolDescription": "Consulta los partidos del Mundial FIFA 2026 para una fecha específica. Devuelve fixture_id, equipos (home/away), horario, estadio, resultado parcial si hay. Úsalo cuando el usuario pregunta por partidos de hoy, mañana, o una fecha específica. IMPORTANTE: las fechas/horas devueltas YA ESTÁN en hora de El Salvador (timezone aplicado) — NO las conviertas de nuevo.",
     "optimizeResponse": false,
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth"
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "api-football-tool-live",
    "name": "⚡ API Marcadores en Vivo",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1328,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures",
     "sendQuery": true,
     "queryParameters": {
      "parameters": [
       {
        "name": "live",
        "value": "all"
       },
       {
        "name": "season",
        "value": "2026"
       },
       {
        "name": "league",
        "value": "1"
       }
      ]
     },
     "toolDescription": "Consulta los partidos del Mundial 2026 que se están jugando AHORA MISMO en tiempo real. Devuelve marcador actual, goles (quién anotó, minuto), tarjetas y minuto del partido. Úsalo cuando el usuario pregunte por partidos en vivo, el marcador actual, o qué está pasando en este momento.",
     "optimizeResponse": false,
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth"
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tool-jugador",
    "name": "🔍 API Buscar Jugador",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1528,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/players",
     "sendQuery": true,
     "queryParameters": {
      "parameters": [
       {
        "name": "search",
        "value": "={{ $fromAI('player_name', 'Nombre del jugador a buscar, ej: Ronaldo, Mbappe, Messi', 'string') }}"
       },
       {
        "name": "league",
        "value": "1"
       },
       {
        "name": "season",
        "value": "2026"
       }
      ]
     },
     "toolDescription": "Busca estadísticas y datos de un jugador específico en el Mundial 2026. Usa para responder preguntas sobre goles, asistencias, tarjetas o datos de un jugador. También sirve para confirmar si un jugador está en el torneo.",
     "optimizeResponse": false,
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth"
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tool-standings",
    "name": "📊 API Tabla de Posiciones",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1728,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/standings?league=1&season=2026",
     "toolDescription": "Consulta la tabla de posiciones/clasificación de los grupos del Mundial 2026. Devuelve posiciones, puntos, goles a favor y en contra de cada selección en su grupo.",
     "optimizeResponse": false,
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth"
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tool-equipo-v3",
    "name": "🏳️ Partidos de Equipo",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1928,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures?league=1&season=2026&team={team_id}",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Partidos de un equipo en el Mundial 2026. Pasa team_id numérico. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 Uruguay=7 Paraguay=2380 Ecuador=2382 Panama=11 Canada=5529 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 PaisesBajos=1118 Belgica=1 Croacia=3 Suiza=15 Austria=775 Marruecos=31 Senegal=13 Egipto=32 Ghana=1504 Sudafrica=1531 ArabiaSaudita=23 Iran=22 Japon=12 CoreaSur=17 Australia=20 Tunez=28",
     "placeholderDefinitions": {
      "values": [
       {
        "name": "team_id",
        "description": "numeric team ID",
        "type": "number"
       }
      ]
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "if_feedb",
    "name": "IF Feedback TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2,
    "position": [
     1400,
     600
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "strict"
      },
      "conditions": [
       {
        "leftValue": "={{ $json._route }}",
        "rightValue": "feedback",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     }
    }
   },
   {
    "id": "tg-feedback-db",
    "name": "TG FEEDBACK — Guardar Rating",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.5,
    "position": [
     1650,
     500
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "parameters": {
     "operation": "executeQuery",
     "query": "={{ `INSERT INTO feedback (phone, plataforma, rating, created_at) VALUES ('tg_' || '${$json.message?.chat?.id}', 'telegram', ${parseInt($json.message?.text?.trim())}, NOW()) RETURNING id` }}"
    }
   },
   {
    "id": "tg-feedback-reply",
    "name": "TG FEEDBACK — Responder Gracias",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1900,
     500
    ],
    "credentials": {
     "telegramApi": {
      "id": "JlQ5HJwkbCFMq7bW",
      "name": "Telegram Bot Mundial"
     }
    },
    "parameters": {
     "operation": "sendMessage",
     "chatId": "={{ $('IF Feedback TG').first().json.message?.chat?.id }}",
     "text": "={{ '¡Gracias por tu calificación ' + $('IF Feedback TG').first().json.message?.text?.trim() + '/5! ⭐ Tu opinión nos ayuda a mejorar.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores.' }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "webhookId": "18273315-007e-43c2-930e-7c2a78b85e30"
   },
   {
    "id": "tg-tool-new-0",
    "name": "🥇 Goleadores del Mundial",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1100,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/players/topscorers?league=1&season=2026",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Tabla de goleadores del Mundial 2026: quién lleva más goles en el torneo, con equipo y estadísticas. Úsala cuando pregunten por el máximo goleador, pichichi, bota de oro o quién ha anotado más."
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tg-tool-new-1",
    "name": "📋 Alineaciones del Partido",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1280,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures/lineups?fixture={fixture_id}",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Alineaciones titulares, suplentes y formación táctica de un partido. NECESITA fixture_id numérico: obtenlo PRIMERO llamando 'API Partidos del Día' o 'API Marcadores en Vivo' (campo fixture.id). Úsala cuando pregunten quién juega, el once titular, la formación.",
     "placeholderDefinitions": {
      "values": [
       {
        "name": "fixture_id",
        "description": "numeric fixture ID from fixtures endpoint",
        "type": "number"
       }
      ]
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tg-tool-new-2",
    "name": "🎯 Eventos del Partido",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1460,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures/events?fixture={fixture_id}",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Eventos minuto a minuto de un partido: goles (con autor y asistencia), tarjetas amarillas/rojas, cambios, VAR. NECESITA fixture_id numérico: obtenlo PRIMERO con 'API Partidos del Día' o 'API Marcadores en Vivo'. Úsala cuando pregunten quién anotó, en qué minuto, tarjetas, expulsados.",
     "placeholderDefinitions": {
      "values": [
       {
        "name": "fixture_id",
        "description": "numeric fixture ID from fixtures endpoint",
        "type": "number"
       }
      ]
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tg-tool-new-3",
    "name": "⚔️ Historial Entre Equipos",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     1640,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures/headtohead?h2h={team_ids}",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Últimos enfrentamientos directos entre dos equipos (historial head-to-head). Pasa team_ids en formato 'id1-id2', ejemplo '16-1504' para Mexico vs Ghana. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 CoreaSur=17 Sudafrica=1531 Chequia=770. Úsala cuando pregunten cómo les ha ido entre sí, quién ha ganado históricamente.",
     "placeholderDefinitions": {
      "values": [
       {
        "name": "team_ids",
        "description": "two team IDs joined by hyphen, e.g. 16-1504",
        "type": "string"
       }
      ]
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "tg-if-soporte",
    "name": "IF Soporte TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2.2,
    "position": [
     1300,
     980
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "typeValidation": "loose"
      },
      "conditions": [
       {
        "leftValue": "={{ $json._route }}",
        "rightValue": "soporte",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ],
      "combinator": "and"
     }
    }
   },
   {
    "id": "tg-sop-notif",
    "name": "TG SOPORTE — Notificar Erick",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1520,
     900
    ],
    "onError": "continueRegularOutput",
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "parameters": {
     "chatId": "675855669",
     "text": "=🆘 SOPORTE Telegram\n\n👤 {{ $json.message?.from?.first_name }}\n💬 {{ $json.message?.text }}\n\n👉 Escríbele directo: {{ $json.message?.from?.username ? 'https://t.me/' + $json.message.from.username : 'tg://user?id=' + $json.message?.from?.id }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "webhookId": "97b8b78b-06c0-4464-9630-34a5415fe608"
   },
   {
    "id": "tg-sop-reply",
    "name": "TG SOPORTE — Responder Usuario",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1740,
     900
    ],
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "parameters": {
     "chatId": "={{ $('IF Soporte TG').first().json.message?.chat?.id }}",
     "text": "Recibimos tu mensaje ✅ Un humano del equipo te contactará pronto por este mismo chat.\n\nMientras tanto puedo seguir respondiendo tus preguntas del Mundial ⚽",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "webhookId": "fa9e83d3-a0d4-4434-bf95-d32b86dac4f6"
   },
   {
    "id": "tmp-lu-wh",
    "name": "TMP LU Webhook",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2000,
     1000
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "tmp-lineups",
     "responseMode": "lastNode",
     "options": {}
    },
    "webhookId": "ca8fbcf9-de5e-48a0-81d4-f5fd9fb87648"
   },
   {
    "id": "tmp-lu-http",
    "name": "TMP LU HTTP",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     2220,
     1000
    ],
    "parameters": {
     "method": "GET",
     "url": "https://v3.football.api-sports.io/fixtures/statistics?fixture=1489369",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth"
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "id": "wh-scores",
    "name": "Webhook Scores",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2400,
     600
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "mundial-scores",
     "responseMode": "responseNode",
     "options": {}
    },
    "webhookId": "mundial-scores-get"
   },
   {
    "id": "api-live-scores",
    "name": "API Live Scores",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     2600,
     500
    ],
    "parameters": {
     "method": "GET",
     "url": "https://v3.football.api-sports.io/fixtures",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "sendQuery": true,
     "queryParameters": {
      "parameters": [
       {
        "name": "live",
        "value": "all"
       },
       {
        "name": "league",
        "value": "1"
       },
       {
        "name": "season",
        "value": "2026"
       }
      ]
     },
     "options": {
      "alwaysOutputData": true
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput"
   },
   {
    "id": "api-today-scores",
    "name": "API Today Scores",
    "type": "n8n-nodes-base.httpRequest",
    "typeVersion": 4.2,
    "position": [
     2600,
     700
    ],
    "parameters": {
     "method": "GET",
     "url": "https://v3.football.api-sports.io/fixtures",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "sendQuery": true,
     "queryParameters": {
      "parameters": [
       {
        "name": "league",
        "value": "1"
       },
       {
        "name": "season",
        "value": "2026"
       },
       {
        "name": "from",
        "value": "={{ new Date(Date.now()-7*24*3600000).toISOString().slice(0,10) }}"
       },
       {
        "name": "to",
        "value": "={{ new Date().toISOString().slice(0,10) }}"
       },
       {
        "name": "status",
        "value": "FT-AET-PEN"
       }
      ]
     },
     "options": {
      "alwaysOutputData": true
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput"
   },
   {
    "id": "build-scores-response",
    "name": "Build Scores Response",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     2800,
     580
    ],
    "parameters": {
     "jsCode": "const live = ($('API Live Scores').first().json.response || []);\nconst ft   = ($('API Today Scores').first().json.response || []);\nconst all  = [...live, ...ft];\nconst seen = new Set();\nconst scores = [];\nfor (const f of all) {\n  const fid = f.fixture?.id;\n  if (!fid || seen.has(fid)) continue;\n  seen.add(fid);\n  const st = f.fixture?.status?.short || '';\n  let status = 'upcoming';\n  if (['FT','AET','PEN'].includes(st)) status = 'completed';\n  else if (['1H','HT','2H','ET','BT','P'].includes(st)) status = 'live';\n  scores.push({\n    fixtureId: fid,\n    utcDate: f.fixture?.date || '',\n    homeTeam: f.teams?.home?.name || '',\n    awayTeam: f.teams?.away?.name || '',\n    homeScore: f.goals?.home,\n    awayScore: f.goals?.away,\n    status,\n    elapsed: f.fixture?.status?.elapsed || null\n  });\n}\nreturn [{ json: { scores } }];"
    }
   },
   {
    "id": "respond-scores",
    "name": "Respond Scores",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1.1,
    "position": [
     3000,
     580
    ],
    "parameters": {
     "respondWith": "json",
     "responseBody": "={{ $json.scores }}",
     "options": {
      "responseHeaders": {
       "entries": [
        {
         "name": "Access-Control-Allow-Origin",
         "value": "*"
        },
        {
         "name": "Cache-Control",
         "value": "public, max-age=30"
        }
       ]
      }
     }
    }
   },
   {
    "name": "Webhook Audit",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2400,
     900
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "mundial-audit",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "6a60a687-79a4-4526-afb6-a35f71ddb27b",
    "webhookId": "ca5cbb2a-93ef-4835-bb3e-5fab46d2c3d7"
   },
   {
    "name": "DB Audit Alertas",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     2600,
     900
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "parameters": {
     "operation": "executeQuery",
     "query": "SELECT a.id, a.phone, a.partido_id, a.tipo, a.detalle, a.enviado_at, CASE WHEN a.phone LIKE 'tg_%' THEN 'telegram' ELSE 'whatsapp' END AS canal FROM alertas_enviadas a WHERE a.enviado_at > NOW() - INTERVAL '8 hours' ORDER BY a.enviado_at DESC LIMIT 500",
     "options": {}
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput",
    "id": "fd3af47e-0eb0-4988-8c08-5c33672108df"
   },
   {
    "name": "Respond Audit",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1.1,
    "position": [
     2800,
     900
    ],
    "parameters": {
     "respondWith": "json",
     "responseBody": "={{ $items().map(i => i.json) }}",
     "options": {}
    },
    "id": "ef460425-d84a-4278-9477-d1154371d8f7"
   },
   {
    "name": "IF Inbox Privado",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2.2,
    "position": [
     400,
     -300
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": true,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "combinator": "and",
      "conditions": [
       {
        "leftValue": "={{ $json.message.chat.type }}",
        "rightValue": "private",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       },
       {
        "leftValue": "={{ $json.message.text }}",
        "rightValue": "",
        "operator": {
         "type": "string",
         "operation": "notEmpty",
         "singleValue": true
        }
       }
      ]
     },
     "options": {}
    },
    "id": "a801c7dd-3794-41e4-8790-9a9fca355eae"
   },
   {
    "name": "TG Inbox — Copia Entrante",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     620,
     -300
    ],
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "chatId": "-5183681680",
     "text": "={{ '👤 ' + ($json.message.from.first_name || '') + ' ' + ($json.message.from.last_name || '') + ' (@' + ($json.message.from.username || 'sin_user') + ' · ' + $json.message.from.id + ')\\n\\n' + $json.message.text }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "id": "44adca7f-737f-43db-beb0-2e59b92740c4",
    "webhookId": "66373879-c293-4657-9f8f-e6b7c76e9dee"
   },
   {
    "name": "TG Inbox — Copia Respuesta IA",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1680,
     656
    ],
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "chatId": "-5183681680",
     "text": "={{ '🤖 Bot → ' + ($('Telegram — Mensajes entrantes').first().json.message.from.first_name || '') + ' (' + $('Telegram — Mensajes entrantes').first().json.message.from.id + ')\\n\\n' + $json.output }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "id": "77453dc7-1655-4f92-912c-e4076cfe2758",
    "webhookId": "e779cbf9-0f39-451e-902a-74ff8e1d8e9a"
   },
   {
    "name": "Webhook Predicciones",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2400,
     1100
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "mundial-predicciones",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "e6de802c-4460-4c34-9da0-54973bb79c92",
    "webhookId": "1005ad11-f237-4f0a-8a9d-cd9f68d6d6c3"
   },
   {
    "name": "DB Predicciones",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     2600,
     1100
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput",
    "parameters": {
     "operation": "executeQuery",
     "query": "ALTER TABLE suscriptores ADD COLUMN IF NOT EXISTS tz_offset INTEGER;\nCREATE TABLE IF NOT EXISTS predicciones (\n  id SERIAL PRIMARY KEY,\n  canal VARCHAR(10) NOT NULL,\n  identidad VARCHAR(60) NOT NULL,\n  nombre TEXT,\n  partido_id VARCHAR(40) NOT NULL,\n  prediccion VARCHAR(12) NOT NULL,\n  creado_at TIMESTAMPTZ DEFAULT NOW(),\n  UNIQUE (canal, identidad, partido_id)\n);\nSELECT * FROM predicciones ORDER BY creado_at DESC LIMIT 300;",
     "options": {}
    },
    "id": "47b051a0-2383-4a5f-9013-5c9998def5fe"
   },
   {
    "name": "Respond Predicciones",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1.1,
    "position": [
     2800,
     1100
    ],
    "parameters": {
     "respondWith": "json",
     "responseBody": "={{ $items().map(i => i.json) }}",
     "options": {}
    },
    "id": "c87d0ceb-05d1-4f86-8ee1-a20d53f4086f"
   },
   {
    "name": "IF Prediccion TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2.2,
    "position": [
     1000,
     800
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": false,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "combinator": "and",
      "conditions": [
       {
        "leftValue": "={{ $('Telegram — Mensajes entrantes').first().json.message.text || '' }}",
        "rightValue": "^\\s*\\d{1,2}\\s*[-–—aA]\\s*\\d{1,2}\\s*$",
        "operator": {
         "type": "string",
         "operation": "regex"
        }
       },
       {
        "leftValue": "={{ $('Telegram — Mensajes entrantes').first().json.message.chat.type }}",
        "rightValue": "private",
        "operator": {
         "type": "string",
         "operation": "equals"
        }
       }
      ]
     },
     "options": {}
    },
    "id": "e426a4f4-fa52-4423-be57-df051b7c22f9"
   },
   {
    "name": "TG PRED — Parse",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     1200,
     800
    ],
    "parameters": {
     "jsCode": "const msg = $('Telegram — Mensajes entrantes').first().json.message;\nconst m = (msg.text||'').match(/(\\d{1,2})\\s*[-–—aA]\\s*(\\d{1,2})/);\nconst nombre = ((msg.from.first_name||'')+' '+(msg.from.last_name||'')).trim().replace(/'/g,'');\nreturn [{json:{ pred: m ? m[1]+'-'+m[2] : (msg.text||'').trim(), chat_id: String(msg.from.id), nombre }}];"
    },
    "id": "8f4c4b89-b091-44b7-8ad1-2d9d6f05319d"
   },
   {
    "name": "TG PRED — Guardar",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     1400,
     800
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "operation": "executeQuery",
     "query": "INSERT INTO predicciones (canal, identidad, nombre, partido_id, prediccion) VALUES ('telegram', '{{ $json.chat_id }}', '{{ $json.nombre }}', 'kor-cze-20260611', '{{ $json.pred }}') ON CONFLICT (canal, identidad, partido_id) DO UPDATE SET prediccion = EXCLUDED.prediccion, creado_at = NOW() RETURNING id",
     "options": {}
    },
    "id": "88e7c7b8-26a2-4cb4-b223-216b96787204"
   },
   {
    "name": "TG PRED — Responder",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1600,
     800
    ],
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "chatId": "={{ $('Telegram — Mensajes entrantes').first().json.message.from.id }}",
     "text": "={{ '🎯 ¡Anotado! Tu predicción: Corea del Sur ' + $('TG PRED — Parse').first().json.pred + ' Chequia\\n\\nAl final del partido te cuento si le atinaste ⚽\\n\\n#RODAI Sport' }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "id": "dc92d782-cfce-4590-84d3-0f26cdf544d7",
    "webhookId": "564e2957-7387-40a5-ac83-223bbd235f22"
   },
   {
    "name": "Webhook Subs",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2400,
     1300
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "mundial-subs",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "a660883a-fa29-4ee2-ad23-7c4ab1e3f610",
    "webhookId": "d6d796c4-7638-4519-9601-b46e22cb3580"
   },
   {
    "name": "DB Subs List",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     2600,
     1300
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput",
    "parameters": {
     "operation": "executeQuery",
     "query": "SELECT name, platform, phone, telegram_chat_id::text AS tg_chat, last_message_at, (last_message_at > NOW() - INTERVAL '23 hours') AS ventana_abierta FROM suscriptores WHERE active = true ORDER BY platform, name",
     "options": {}
    },
    "id": "2e1b8339-b195-4f05-ad03-a8b53663f097"
   },
   {
    "name": "Respond Subs",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1.1,
    "position": [
     2800,
     1300
    ],
    "parameters": {
     "respondWith": "json",
     "responseBody": "={{ $items().map(i => i.json) }}",
     "options": {}
    },
    "id": "f008a120-8837-4cf4-b8f5-f3eb196fc1df"
   },
   {
    "id": "tg-tool-stats",
    "name": "📈 Estadísticas del Partido",
    "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
    "typeVersion": 1.1,
    "position": [
     2028,
     700
    ],
    "parameters": {
     "url": "https://v3.football.api-sports.io/fixtures/statistics?fixture={fixture_id}",
     "authentication": "genericCredentialType",
     "genericAuthType": "httpHeaderAuth",
     "toolDescription": "Obtiene estadísticas en vivo o finales de un partido específico: posesión, tiros totales, tiros a puerta, córners, faltas, tarjetas, xG. Requiere el fixture_id del partido (obtenlo primero con la tool de marcadores/partidos del día).",
     "placeholderDefinitions": {
      "values": [
       {
        "name": "fixture_id",
        "description": "numeric fixture ID from fixtures endpoint",
        "type": "number"
       }
      ]
     }
    },
    "credentials": {
     "httpHeaderAuth": {
      "id": "0O1iRnWh7lP5isWW",
      "name": "API-Football Mundial 2026"
     }
    }
   },
   {
    "name": "TG PAIS — Detectar",
    "type": "n8n-nodes-base.code",
    "typeVersion": 2,
    "position": [
     1000,
     950
    ],
    "parameters": {
     "jsCode": "const CAL = [{\"u\":\"2026-06-11T19:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-12T02:00:00Z\",\"h\":\"Corea del Sur\",\"hf\":\"kr\",\"a\":\"Chequia\",\"af\":\"cz\"},{\"u\":\"2026-06-18T16:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-19T01:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"México\",\"af\":\"mx\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Sudáfrica\",\"hf\":\"za\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-12T19:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-13T19:00:00Z\",\"h\":\"Qatar\",\"hf\":\"qa\",\"a\":\"Suiza\",\"af\":\"ch\"},{\"u\":\"2026-06-18T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-18T22:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Canadá\",\"af\":\"ca\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Bosnia y Herzegovina\",\"hf\":\"ba\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-13T22:00:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-14T01:00:00Z\",\"h\":\"Haití\",\"hf\":\"ht\",\"a\":\"Escocia\",\"af\":\"gb-sct\"},{\"u\":\"2026-06-19T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-20T00:30:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Brasil\",\"af\":\"br\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Marruecos\",\"hf\":\"ma\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-13T01:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-14T04:00:00Z\",\"h\":\"Australia\",\"hf\":\"au\",\"a\":\"Türkiye\",\"af\":\"tr\"},{\"u\":\"2026-06-19T19:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-20T03:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Estados Unidos\",\"af\":\"us\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Paraguay\",\"hf\":\"py\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-14T17:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-14T23:00:00Z\",\"h\":\"Costa de Marfil\",\"hf\":\"ci\",\"a\":\"Ecuador\",\"af\":\"ec\"},{\"u\":\"2026-06-20T20:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-21T00:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Curazao\",\"hf\":\"cw\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Alemania\",\"af\":\"de\"},{\"u\":\"2026-06-14T20:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-15T02:00:00Z\",\"h\":\"Suecia\",\"hf\":\"se\",\"a\":\"Túnez\",\"af\":\"tn\"},{\"u\":\"2026-06-20T17:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-21T04:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Japón\",\"hf\":\"jp\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Países Bajos\",\"af\":\"nl\"},{\"u\":\"2026-06-15T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-16T01:00:00Z\",\"h\":\"Irán\",\"hf\":\"ir\",\"a\":\"Nueva Zelanda\",\"af\":\"nz\"},{\"u\":\"2026-06-21T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-22T01:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Egipto\",\"hf\":\"eg\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Bélgica\",\"af\":\"be\"},{\"u\":\"2026-06-15T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-15T22:00:00Z\",\"h\":\"Arabia Saudita\",\"hf\":\"sa\",\"a\":\"Uruguay\",\"af\":\"uy\"},{\"u\":\"2026-06-21T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-21T22:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Cabo Verde\",\"hf\":\"cv\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"España\",\"af\":\"es\"},{\"u\":\"2026-06-16T19:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-16T22:00:00Z\",\"h\":\"Irak\",\"hf\":\"iq\",\"a\":\"Noruega\",\"af\":\"no\"},{\"u\":\"2026-06-22T21:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-23T00:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Francia\",\"af\":\"fr\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Senegal\",\"hf\":\"sn\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-17T01:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-17T04:00:00Z\",\"h\":\"Austria\",\"hf\":\"at\",\"a\":\"Jordania\",\"af\":\"jo\"},{\"u\":\"2026-06-22T17:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-23T03:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Algeria\",\"hf\":\"dz\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Argentina\",\"af\":\"ar\"},{\"u\":\"2026-06-17T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-18T02:00:00Z\",\"h\":\"Uzbekistán\",\"hf\":\"uz\",\"a\":\"Colombia\",\"af\":\"co\"},{\"u\":\"2026-06-23T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-24T02:00:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"Portugal\",\"af\":\"pt\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"DR Congo\",\"hf\":\"cd\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-17T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-17T23:00:00Z\",\"h\":\"Ghana\",\"hf\":\"gh\",\"a\":\"Panamá\",\"af\":\"pa\"},{\"u\":\"2026-06-23T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Ghana\",\"af\":\"gh\"},{\"u\":\"2026-06-23T23:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Inglaterra\",\"af\":\"gb-eng\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Croacia\",\"hf\":\"hr\",\"a\":\"Ghana\",\"af\":\"gh\"}];\nconst PAISES = {\n  'el salvador':[-6,'El Salvador'],'salvador':[-6,'El Salvador'],'mexico':[-6,'México'],'méxico':[-6,'México'],\n  'guatemala':[-6,'Guatemala'],'honduras':[-6,'Honduras'],'nicaragua':[-6,'Nicaragua'],'costa rica':[-6,'Costa Rica'],\n  'colombia':[-5,'Colombia'],'peru':[-5,'Perú'],'perú':[-5,'Perú'],'ecuador':[-5,'Ecuador'],'panama':[-5,'Panamá'],'panamá':[-5,'Panamá'],\n  'bolivia':[-4,'Bolivia'],'venezuela':[-4,'Venezuela'],'chile':[-4,'Chile'],'paraguay':[-4,'Paraguay'],\n  'republica dominicana':[-4,'República Dominicana'],'república dominicana':[-4,'República Dominicana'],'dominicana':[-4,'República Dominicana'],\n  'puerto rico':[-4,'Puerto Rico'],'cuba':[-4,'Cuba'],\n  'argentina':[-3,'Argentina'],'uruguay':[-3,'Uruguay'],'brasil':[-3,'Brasil'],'brazil':[-3,'Brasil'],\n  'espana':[2,'España'],'españa':[2,'España'],'spain':[2,'España'],\n  'estados unidos':[-4,'Estados Unidos'],'usa':[-4,'Estados Unidos'],'eeuu':[-4,'Estados Unidos'],'ee.uu':[-4,'Estados Unidos'],\n  'united states':[-4,'Estados Unidos'],'canada':[-4,'Canadá'],'canadá':[-4,'Canadá']\n};\nfunction detectarPais(texto) {\n  const t = (texto||'').toLowerCase().replace(/[¡!.,;:]/g,' ').replace(/\\s+/g,' ').trim();\n  if (t.length > 45) return null;\n  for (const [p, info] of Object.entries(PAISES)) {\n    if (t === p || t === 'estoy en '+p || t === 'desde '+p || t === 'en '+p || t === 'soy de '+p || t === 'de '+p || (t.endsWith(' '+p) && t.split(' ').length <= 4)) {\n      return { nombre: info[1], offset: info[0] };\n    }\n  }\n  return null;\n}\nfunction flagEmoji(code) {\n  if (!code) return '⚽';\n  if (code === 'gb-sct') return '🏴󠁧󠁢󠁳󠁣󠁴󠁿';\n  if (code === 'gb-eng') return '🏴󠁧󠁢󠁥󠁮󠁧󠁿';\n  if (code === 'gb-wls') return '🏴󠁧󠁢󠁷󠁬󠁳󠁿';\n  return String.fromCodePoint(...[...code.toUpperCase()].map(c => 127397 + c.charCodeAt(0)));\n}\nfunction mensajePais(pais) {\n  const ahora = Date.now();\n  const prox = CAL.map(p => ({...p, ts: Date.parse(p.u)}))\n    .filter(p => p.ts > ahora - 2*3600000)\n    .sort((x,y) => x.ts - y.ts)\n    .slice(0, 3);\n  const dias = ['dom','lun','mar','mié','jue','vie','sáb'];\n  const lines = ['⏰ ¡Listo! Horarios en hora de ' + pais.nombre + ':', ''];\n  for (const p of prox) {\n    const d = new Date(p.ts + pais.offset*3600000);\n    let h = d.getUTCHours(); const m = d.getUTCMinutes();\n    const ampm = h >= 12 ? 'PM' : 'AM'; h = h % 12 || 12;\n    lines.push(flagEmoji(p.hf) + ' ' + p.h + ' vs ' + p.a + ' ' + flagEmoji(p.af));\n    lines.push('   ' + dias[d.getUTCDay()] + ' · ' + h + ':' + String(m).padStart(2,'0') + ' ' + ampm);\n    lines.push('');\n  }\n  lines.push('✅ Guardé tu país — desde ahora todas tus alertas llegarán con tu hora local ⚽');\n  lines.push('');\n  lines.push('#RODAI Sport');\n  return lines.join('\\n');\n}\n\nconst msg = $('Telegram — Mensajes entrantes').first().json.message;\nconst p = detectarPais(msg.text || '');\nreturn [{ json: { es_pais: !!p, pais_msg: p ? mensajePais(p) : '', pais_nombre: p ? p.nombre.replace(/'/g,'') : '', pais_offset: p ? p.offset : null, chat_id: msg.from.id } }];"
    },
    "id": "5ea8afc5-bd09-4835-9833-76ae453696eb"
   },
   {
    "name": "IF Es Pais TG",
    "type": "n8n-nodes-base.if",
    "typeVersion": 2.2,
    "position": [
     1200,
     950
    ],
    "parameters": {
     "conditions": {
      "options": {
       "caseSensitive": true,
       "leftValue": "",
       "typeValidation": "loose",
       "version": 2
      },
      "combinator": "and",
      "conditions": [
       {
        "leftValue": "={{ $json.es_pais }}",
        "rightValue": true,
        "operator": {
         "type": "boolean",
         "operation": "true",
         "singleValue": true
        }
       }
      ]
     },
     "options": {}
    },
    "id": "daf3aaa5-bf90-4034-a35d-a7985f6d5799"
   },
   {
    "name": "TG PAIS — Responder",
    "type": "n8n-nodes-base.telegram",
    "typeVersion": 1.2,
    "position": [
     1400,
     950
    ],
    "credentials": {
     "telegramApi": {
      "id": "yovv0GvglRF0YNLq",
      "name": "Telegram Bot Mundial 2026"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "chatId": "={{ $('TG PAIS — Detectar').first().json.chat_id }}",
     "text": "={{ $('TG PAIS — Detectar').first().json.pais_msg }}",
     "additionalFields": {
      "appendAttribution": false
     }
    },
    "id": "0af2fdc4-6b35-433f-a13b-a62b350b6cc8",
    "webhookId": "ca6e3901-581e-4fc6-924c-4ae711e5de75"
   },
   {
    "name": "TG PAIS — Guardar",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     1400,
     1100
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "onError": "continueRegularOutput",
    "parameters": {
     "operation": "executeQuery",
     "query": "UPDATE suscriptores SET country = '{{ $json.pais_nombre }}', tz_offset = {{ $json.pais_offset }} WHERE telegram_chat_id = {{ $json.chat_id }} RETURNING id",
     "options": {}
    },
    "id": "17e9a221-967c-4c4d-b272-a418c6c3761d"
   },
   {
    "name": "Webhook Latencia",
    "type": "n8n-nodes-base.webhook",
    "typeVersion": 2,
    "position": [
     2400,
     1300
    ],
    "parameters": {
     "httpMethod": "GET",
     "path": "mundial-latencia",
     "responseMode": "responseNode",
     "options": {}
    },
    "id": "806c4afa-094a-402e-a128-ac6c6c683b54",
    "webhookId": "77f3ba69-878a-49b1-b22e-94b77e935291"
   },
   {
    "name": "DB Latencia",
    "type": "n8n-nodes-base.postgres",
    "typeVersion": 2.4,
    "position": [
     2600,
     1300
    ],
    "credentials": {
     "postgres": {
      "id": "lZiJmyplRgdvifzN",
      "name": "PG Local RODAI"
     }
    },
    "alwaysOutputData": true,
    "onError": "continueRegularOutput",
    "parameters": {
     "operation": "executeQuery",
     "query": "CREATE TABLE IF NOT EXISTS metricas_alertas (\n  detalle VARCHAR(200) PRIMARY KEY,\n  tipo VARCHAR(30),\n  partido_id VARCHAR(50),\n  t_detectado TIMESTAMPTZ DEFAULT NOW()\n);\nCREATE OR REPLACE VIEW v_latencia_alertas AS\nSELECT m.detalle, m.tipo, m.partido_id, m.t_detectado,\n  MIN(a.enviado_at) AS t_primero,\n  MAX(a.enviado_at) AS t_ultimo,\n  COUNT(a.id) FILTER (WHERE a.phone NOT LIKE 'tg_%') AS total_wa,\n  COUNT(a.id) FILTER (WHERE a.phone LIKE 'tg_%') AS total_tg,\n  ROUND(EXTRACT(EPOCH FROM (MIN(a.enviado_at) - m.t_detectado))::numeric, 1) AS seg_al_primero,\n  ROUND(EXTRACT(EPOCH FROM (MAX(a.enviado_at) - MIN(a.enviado_at)))::numeric, 1) AS seg_barrido\nFROM metricas_alertas m\nLEFT JOIN alertas_enviadas a ON a.detalle = m.detalle\nGROUP BY m.detalle, m.tipo, m.partido_id, m.t_detectado;\nSELECT * FROM v_latencia_alertas WHERE t_detectado > NOW() - INTERVAL '24 hours' ORDER BY t_detectado DESC LIMIT 100;",
     "options": {}
    },
    "id": "0d8263d3-8e18-48d4-9d4c-5ad8187cd592"
   },
   {
    "name": "Respond Latencia",
    "type": "n8n-nodes-base.respondToWebhook",
    "typeVersion": 1.1,
    "position": [
     2800,
     1300
    ],
    "parameters": {
     "respondWith": "json",
     "responseBody": "={{ $items().map(i => i.json) }}",
     "options": {}
    },
    "id": "2e877c18-05de-4573-8740-fd02bf6389b1"
   }
  ],
  "connections": {
   "Telegram — Mensajes entrantes": {
    "main": [
     [
      {
       "node": "TG — Router",
       "type": "main",
       "index": 0
      },
      {
       "node": "IF Inbox Privado",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Telegram STOP — Dar de baja": {
    "main": [
     [
      {
       "node": "Telegram STOP — Confirmar baja",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WhatsApp — ALTA/STOP desde Kapso": {
    "main": [
     [
      {
       "node": "WhatsApp — Detectar ALTA o STOP",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WhatsApp — Detectar ALTA o STOP": {
    "main": [
     [
      {
       "node": "WA — Detectar País",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "WhatsApp STOP — Dar de baja",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WhatsApp ALTA — Guardar en DB": {
    "main": [
     [
      {
       "node": "WhatsApp ALTA — Responder OK",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WhatsApp STOP — Dar de baja": {
    "main": [
     [
      {
       "node": "WhatsApp STOP — Responder OK",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Stripe — Pago completado": {
    "main": [
     [
      {
       "node": "Stripe — Es checkout completado?",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Stripe — Es checkout completado?": {
    "main": [
     [
      {
       "node": "Stripe — Activar suscriptor pagado",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "Stripe — Responder 200",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Stripe — Activar suscriptor pagado": {
    "main": [
     [
      {
       "node": "Stripe — Bienvenida WhatsApp",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Stripe — Bienvenida WhatsApp": {
    "main": [
     [
      {
       "node": "Stripe — Responder 200",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Admin — Stats": {
    "main": [
     [
      {
       "node": "Admin — Verificar API Key",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Admin — Verificar API Key": {
    "main": [
     [
      {
       "node": "Admin — Consultar DB",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "Admin — Responder 401",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Admin — Consultar DB": {
    "main": [
     [
      {
       "node": "Admin — Responder stats",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WA — Detectar País": {
    "main": [
     [
      {
       "node": "WhatsApp ALTA — Guardar en DB",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG — Detectar País": {
    "main": [
     [
      {
       "node": "TG ALTA — Guardar en DB",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG Contacto — Detectar País": {
    "main": [
     [
      {
       "node": "TG Contacto — Guardar en DB",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG Contacto — Guardar en DB": {
    "main": [
     [
      {
       "node": "TG Contacto — Bienvenida",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG — AI Agent Mundial": {
    "main": [
     [
      {
       "node": "TG — Enviar Respuesta IA",
       "type": "main",
       "index": 0
      },
      {
       "node": "TG Inbox — Copia Respuesta IA",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG — OpenAI gpt-4o-mini": {
    "ai_languageModel": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_languageModel",
       "index": 0
      }
     ]
    ]
   },
   "TG — Router": {
    "main": [
     [
      {
       "node": "IF Contact TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Contact TG": {
    "main": [
     [
      {
       "node": "TG Contacto — Detectar País",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "IF Alta TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Alta TG": {
    "main": [
     [
      {
       "node": "TG ALTA — Guardar en DB",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "IF Stop TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Stop TG": {
    "main": [
     [
      {
       "node": "Telegram STOP — Dar de baja",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "IF Prediccion TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG ALTA — Guardar en DB": {
    "main": [
     [
      {
       "node": "TG ALTA — Confirmar registro",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WhatsApp — Kapso Evento Crudo": {
    "main": [
     [
      {
       "node": "WA Raw — Extraer Teléfono y Mensaje",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WA Raw — Extraer Teléfono y Mensaje": {
    "main": [
     [
      {
       "node": "WA Raw — ¿Es ALTA?",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WA Raw — ¿Es ALTA?": {
    "main": [
     [
      {
       "node": "WA Raw — Guardar Suscriptor",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "WA Raw — ¿Es STOP?",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "WA Raw — ¿Es STOP?": {
    "main": [
     [
      {
       "node": "WA Raw — Dar de Baja",
       "type": "main",
       "index": 0
      }
     ],
     []
    ]
   },
   "WA Raw — Guardar Suscriptor": {
    "main": [
     []
    ]
   },
   "WA Raw — Dar de Baja": {
    "main": [
     []
    ]
   },
   "TG — Typing...": {
    "main": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "🗓️ API Partidos del Día": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "⚡ API Marcadores en Vivo": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "🔍 API Buscar Jugador": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "📊 API Tabla de Posiciones": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "🏳️ Partidos de Equipo": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "IF Feedback TG": {
    "main": [
     [
      {
       "node": "TG FEEDBACK — Guardar Rating",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "IF Soporte TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG FEEDBACK — Guardar Rating": {
    "main": [
     [
      {
       "node": "TG FEEDBACK — Responder Gracias",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "🥇 Goleadores del Mundial": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "📋 Alineaciones del Partido": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "🎯 Eventos del Partido": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "⚔️ Historial Entre Equipos": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "IF Soporte TG": {
    "main": [
     [
      {
       "node": "TG SOPORTE — Notificar Erick",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "TG — Typing...",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG SOPORTE — Notificar Erick": {
    "main": [
     [
      {
       "node": "TG SOPORTE — Responder Usuario",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TMP LU Webhook": {
    "main": [
     [
      {
       "node": "TMP LU HTTP",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Webhook Scores": {
    "main": [
     [
      {
       "node": "API Live Scores",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "API Live Scores": {
    "main": [
     [
      {
       "node": "API Today Scores",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "API Today Scores": {
    "main": [
     [
      {
       "node": "Build Scores Response",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Build Scores Response": {
    "main": [
     [
      {
       "node": "Respond Scores",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Webhook Audit": {
    "main": [
     [
      {
       "node": "DB Audit Alertas",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "DB Audit Alertas": {
    "main": [
     [
      {
       "node": "Respond Audit",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Inbox Privado": {
    "main": [
     [
      {
       "node": "TG Inbox — Copia Entrante",
       "type": "main",
       "index": 0
      }
     ],
     []
    ]
   },
   "Webhook Predicciones": {
    "main": [
     [
      {
       "node": "DB Predicciones",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "DB Predicciones": {
    "main": [
     [
      {
       "node": "Respond Predicciones",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Prediccion TG": {
    "main": [
     [
      {
       "node": "TG PRED — Parse",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "TG PAIS — Detectar",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG PRED — Parse": {
    "main": [
     [
      {
       "node": "TG PRED — Guardar",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG PRED — Guardar": {
    "main": [
     [
      {
       "node": "TG PRED — Responder",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Webhook Subs": {
    "main": [
     [
      {
       "node": "DB Subs List",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "DB Subs List": {
    "main": [
     [
      {
       "node": "Respond Subs",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "📈 Estadísticas del Partido": {
    "ai_tool": [
     [
      {
       "node": "TG — AI Agent Mundial",
       "type": "ai_tool",
       "index": 0
      }
     ]
    ]
   },
   "TG PAIS — Detectar": {
    "main": [
     [
      {
       "node": "IF Es Pais TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "IF Es Pais TG": {
    "main": [
     [
      {
       "node": "TG PAIS — Guardar",
       "type": "main",
       "index": 0
      }
     ],
     [
      {
       "node": "IF Feedback TG",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "TG PAIS — Guardar": {
    "main": [
     [
      {
       "node": "TG PAIS — Responder",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "Webhook Latencia": {
    "main": [
     [
      {
       "node": "DB Latencia",
       "type": "main",
       "index": 0
      }
     ]
    ]
   },
   "DB Latencia": {
    "main": [
     [
      {
       "node": "Respond Latencia",
       "type": "main",
       "index": 0
      }
     ]
    ]
   }
  },
  "authors": "Erick RODAI",
  "name": null,
  "description": null,
  "autosaved": false,
  "workflowPublishHistory": [
   {
    "createdAt": "2026-06-12T20:00:38.333Z",
    "id": 2332,
    "workflowId": "cI5WRRTgnqkInqq0",
    "versionId": "a12f43cf-9047-4b62-a7eb-553d5745bd8f",
    "event": "activated",
    "userId": "111326d0-ca57-4427-a4d0-5c6508637090"
   },
   {
    "createdAt": "2026-06-12T20:00:38.068Z",
    "id": 2331,
    "workflowId": "cI5WRRTgnqkInqq0",
    "versionId": "a12f43cf-9047-4b62-a7eb-553d5745bd8f",
    "event": "deactivated",
    "userId": "111326d0-ca57-4427-a4d0-5c6508637090"
   }
  ]
 }
}