workflows/backups/2026-06-12/WF3-wa-agent.json
{"updatedAt":"2026-06-12T15:36:52.793Z","createdAt":"2026-06-11T00:10:32.425Z","id":"uL7p0wEMzomlNGOe","name":"🌍 Mundial 2026 — WhatsApp AI Agent","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"mundial-wa-agent","responseMode":"responseNode","options":{}},"id":"wa-webhook-trigger","name":"Kapso — Webhook Entrante","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-16],"webhookId":"mundial-wa-agent"},{"parameters":{"assignments":{"assignments":[{"name":"phone","value":"={{ ($json.body.data?.[0]?.message?.from) || ($json.body.message?.from) || ($json.body.phone) || '' }}","type":"string"},{"name":"text","value":"={{ ($json.body.data?.[0]?.message?.text?.body) || ($json.body.message?.text?.body) || ($json.body.message && typeof $json.body.message === 'string' ? $json.body.message : '') || '' }}","type":"string"},{"name":"name","value":"={{ ($json.body.data?.[0]?.conversation?.contact_name) || ($json.body.conversation?.contact_name) || ($json.body.name) || '' }}","type":"string"},{"id":"a4","name":"msg_type","value":"={{ ($json.body.data?.[0]?.message?.type) || ($json.body.message?.type) || 'text' }}","type":"string"}]},"options":{}},"id":"wa-extract","name":"WA — Extraer Mensaje","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-16]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ALTA","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alta"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"STOP","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stop"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text.trim() }}","rightValue":"^[1-5]$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"feedback"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ayuda","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"soporte","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"preguntas","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"falla","operator":{"type":"string","operation":"contains"},"id":"sop-falla"},{"leftValue":"={{ $json.text }}","rightValue":"problema","operator":{"type":"string","operation":"contains"},"id":"sop-problema"},{"leftValue":"={{ $json.text }}","rightValue":"reclamo","operator":{"type":"string","operation":"contains"},"id":"sop-reclamo"},{"leftValue":"={{ $json.text }}","rightValue":"no funciona","operator":{"type":"string","operation":"contains"},"id":"sop-no-funciona"}],"combinator":"or"},"renameOutput":true,"outputKey":"soporte"}]},"options":{"fallbackOutput":"extra"}},"id":"wa-switch","name":"WA — Detectar ALTA / STOP / PREGUNTA","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,-32]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO suscriptores (phone, name, platform, active, subscribed_at, last_message_at, country, created_at, updated_at)\nVALUES ($1, $2, 'whatsapp', true, NOW(), NOW(), CASE WHEN $1 LIKE '503%' THEN 'El Salvador' WHEN $1 LIKE '502%' THEN 'Guatemala' WHEN $1 LIKE '504%' THEN 'Honduras' WHEN $1 LIKE '505%' THEN 'Nicaragua' WHEN $1 LIKE '506%' THEN 'Costa Rica' WHEN $1 LIKE '507%' THEN 'Panamá' WHEN $1 LIKE '52%' THEN 'México' WHEN $1 LIKE '51%' THEN 'Perú' WHEN $1 LIKE '57%' THEN 'Colombia' WHEN $1 LIKE '1787%' OR $1 LIKE '1939%' THEN 'Puerto Rico' WHEN $1 LIKE '54%' THEN 'Argentina' WHEN $1 LIKE '56%' THEN 'Chile' WHEN $1 LIKE '598%' THEN 'Uruguay' WHEN $1 LIKE '593%' THEN 'Ecuador' WHEN $1 LIKE '34%' THEN 'España' WHEN $1 LIKE '1%' THEN 'USA' ELSE 'Otro' END, NOW(), NOW())\nON CONFLICT (phone) DO UPDATE SET active = true, updated_at = NOW(), last_message_at = NOW(), country = EXCLUDED.country, name = CASE WHEN EXCLUDED.name <> '' THEN EXCLUDED.name ELSE suscriptores.name END","options":{"queryReplacement":"={{ [$json.phone, $json.name || ''] }}"}},"id":"wa-alta-db","name":"WA ALTA — Guardar en DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[984,-208],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Bienvenido a las alertas del Mundial 2026! Te enviaremos alertas 30 minutos antes de cada partido y resúmenes de goles en tiempo real.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios.\\n\\nResponde STOP para cancelar.\" } } }}","options":{}},"id":"wa-alta-send","name":"WA ALTA — Enviar Bienvenida","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-208]},{"parameters":{"respondWith":"text","responseBody":"¡Bienvenido al Mundial 2026! ⚽ Recibirás alertas 30 min antes y goles en tiempo real.\n\nResponde STOP para cancelar.","options":{}},"id":"wa-alta-respond","name":"WA ALTA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,-208]},{"parameters":{"operation":"executeQuery","query":"UPDATE suscriptores SET active = false, updated_at = NOW() WHERE phone = $1","options":{"queryReplacement":"={{ [$json.phone] }}"}},"id":"wa-stop-db","name":"WA STOP — Dar de Baja","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[984,-16],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Te dimos de baja de las alertas del Mundial 2026. ¡Hasta pronto! 👋\" } } }}","options":{}},"id":"wa-stop-send","name":"WA STOP — Confirmar Baja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-16]},{"parameters":{"respondWith":"text","responseBody":"Te dimos de baja de las alertas del Mundial 2026. ¡Hasta pronto! 👋","options":{}},"id":"wa-stop-respond","name":"WA STOP — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,-16]},{"parameters":{"promptType":"define","text":"={{ ($('WA — Extraer Mensaje').first().json.text || 'Hola') + '\\n\\n[contexto del sistema, no mostrar al usuario: hoy es ' + $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') + ' hora El Salvador. Este usuario escribe desde el número +' + $('WA — Extraer Mensaje').first().json.phone + '. OBLIGATORIO: cualquier horario respóndelo convertido a la zona horaria del país de ese prefijo telefónico, nombrando el país. Prefijos: 503/502/504/505/52=UTC-6, 51/57/593/507=UTC-5, 1787/1939/58/56=UTC-4, 54/598=UTC-3, 34=UTC+2. REGLA DE PARTIDOS PRÓXIMOS: si preguntan qué partidos hay hoy/ahora y no hay ninguno en vivo, consulta Partidos del Día con la fecha UTC de HOY y también la de MAÑANA (los partidos de la noche en Centroamérica caen en el día UTC siguiente: ej. 8 PM El Salvador = 02:00 UTC del día siguiente). NUNCA respondas solo que no hay partidos sin revisar ambas fechas. EXCEPCIÓN: si el usuario pide explícitamente la hora de OTRO país (ej. hora de España), responde con la hora de ESE país. España hoy = UTC+2: el partido inaugural México vs Sudáfrica (19:00 UTC) es a las 21:00 hora de España.]' }}","options":{"systemMessage":"=CONTEXTO EN TIEMPO REAL (usa esto SIEMPRE):\n- FECHA Y HORA ACTUAL: {{ $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') }} (hora El Salvador, UTC-6). HOY es esta fecha — el Mundial YA EMPEZÓ el 11 de junio de 2026.\n- TELÉFONO DEL USUARIO: {{ $('WA — Extraer Mensaje').first().json.phone }}\n\nZONA HORARIA DEL USUARIO — deduce su país por el prefijo del teléfono y convierte TODOS los horarios a SU hora local:\n- 503 → El Salvador (UTC-6)\n- 502 → Guatemala (UTC-6) | 504 → Honduras (UTC-6) | 505 → Nicaragua (UTC-6)\n- 52 → México centro (UTC-6)\n- 506 → Costa Rica (UTC-6) | 507 → Panamá (UTC-5)\n- 51 → Perú (UTC-5) | 57 → Colombia (UTC-5) | 593 → Ecuador (UTC-5)\n- 1787 / 1939 → Puerto Rico (UTC-4) | 58 → Venezuela (UTC-4)\n- 54 → Argentina (UTC-3) | 56 → Chile (UTC-4) | 598 → Uruguay (UTC-3)\n- 34 → España (UTC+2) | 1 (otros) → USA, indica hora del Este (UTC-4)\n\nREGLA DE HORARIOS (OBLIGATORIA — paso previo a CUALQUIER respuesta con hora):\n1. Mira el TELÉFONO DEL USUARIO de arriba e identifica su país por el prefijo (la lista de arriba).\n2. La API devuelve horarios en UTC. Convierte a la zona DEL USUARIO, no a otra.\n3. Responde con SU hora local nombrando su país. Ejemplos OBLIGATORIOS:\n   - usuario 503... → \"a la 1:00 PM hora de El Salvador\"\n   - usuario 1787... → \"a las 3:00 PM hora de Puerto Rico\" (UTC-4, NO digas hora de El Salvador)\n   - usuario 54... → \"a las 4:00 PM hora de Argentina\" (UTC-3)\n   - usuario 51... → \"a las 2:00 PM hora de Perú\" (UTC-5)\nNUNCA des la hora UTC ni la hora de otro país distinto al del usuario.\n\nEres el asistente oficial de RODAI Sport para el Mundial FIFA 2026 (USA, Canadá y México, 11 jun – 19 jul 2026).\n\nCONTEXTO GENERAL:\n- 48 selecciones, 104 partidos, Grupos A–L\n- Fase grupos: 11–26 jun | Octavos: 29 jun–2 jul | Cuartos: 5–6 jul | Semis: 9–10 jul | Final: 19 jul, MetLife Stadium, NJ\n\nHERRAMIENTAS DISPONIBLES — úsalas para responder con datos reales:\n- 🗓️ API Partidos del Día → partidos de hoy o una fecha específica\n- ⚡ API Marcadores en Vivo → marcador actual de partidos en curso\n- 🔍 API Buscar Jugador → estadísticas de un jugador en el torneo\n- 📊 API Tabla de Posiciones → clasificación de los grupos\n- 🏳️ Partidos de Equipo → todos los partidos de un equipo en el Mundial\n\nREGLAS:\n- Para cualquier pregunta sobre partidos, jugadores, resultados, fechas, estadios o tabla → LLAMA la herramienta correspondiente, no respondas de memoria\n- Si una herramienta no devuelve el dato: (1) INTENTA OTRA herramienta encadenando (ej: para saber quién es el portero de un equipo, usa Alineaciones del Partido y de ahí el nombre; luego Buscar Jugador), (2) si la API no tiene el dato pero es conocimiento futbolístico general (en qué club juega alguien, historia, datos de selecciones o jugadores), RESPONDE CON TU PROPIO CONOCIMIENTO de forma útil y directa. PROHIBIDO responder solo \"no encontré información\" — siempre da la mejor respuesta posible al fanático\n- Responde en español (salvo que el usuario escriba en otro idioma)\n- Máximo 150 palabras por respuesta\n- Sin markdown, sin asteriscos, sin bullets (WhatsApp no renderiza markdown)\n- Usa emojis con moderación ⚽🏆\n- NUNCA inventes resultados, marcadores, alineaciones ni estadísticas DEL TORNEO ACTUAL (eso siempre de la API). Pero para datos futbolísticos estables — en qué CLUB juega un jugador, su trayectoria, títulos, historia de selecciones — usa tu conocimiento con confianza y responde directo (ej: \"Ronwen Williams juega en Mamelodi Sundowns de Sudáfrica\"). El fanático quiere respuestas, no disclaimers\n\nHERRAMIENTAS ADICIONALES:\n- 🥇 Goleadores del Mundial → máximos anotadores del torneo\n- 📋 Alineaciones del Partido → titulares y formación (necesita fixture_id: obtenlo primero con Partidos del Día o Marcadores en Vivo)\n- 🎯 Eventos del Partido → goles, tarjetas y cambios minuto a minuto (necesita fixture_id)\n- ⚔️ Historial Entre Equipos → enfrentamientos directos previos (formato id1-id2)\n\nREGLA DE ORO: si no estás 100% seguro de un dato (resultados, horarios, jugadores, estadísticas, goleadores), SIEMPRE consulta una herramienta ANTES de responder. NUNCA digas \"no sé\" o \"no tengo esa información\" sin haber consultado la API primero. Si una herramienta necesita fixture_id o team_id, usa otra herramienta para obtenerlo y encadena las llamadas.\n\nREGLA PAÍS: Si el usuario escribe solo el nombre de un país o 'estoy en X', está respondiendo a nuestra pregunta '¿en qué país estás?' — responde ÚNICAMENTE con los horarios de los próximos partidos del Mundial convertidos a la hora local de ese país (usa la tool de partidos del día; sus horas vienen en hora de El Salvador UTC-6, convierte desde ahí). NO hables del equipo de ese país.\nDATO VERIFICADO: las selecciones de El Salvador, Guatemala, Nicaragua, Perú, Chile y Venezuela NO clasificaron al Mundial 2026 — NUNCA digas que participan.","maxIterations":8}},"id":"wa-ai-agent","name":"WA — AI Agent Mundial","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[920,280]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxTokens":400,"temperature":0.7}},"id":"wa-lm","name":"WA — OpenAI gpt-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,504],"credentials":{"openAiApi":{"id":"DNniMXGQP8C9zu5z","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"Partidos de un equipo en el Mundial 2026. Pasa team_id numérico. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 Uruguay=7 Paraguay=2380 Ecuador=2382 Panama=11 Canada=5529 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 PaisesBajos=1118 Belgica=1 Croacia=3 Suiza=15 Austria=775 Marruecos=31 Senegal=13 Egipto=32 Ghana=1504 Sudafrica=1531 ArabiaSaudita=23 Iran=22 Japon=12 CoreaSur=17 Australia=20 Tunez=28","url":"https://v3.football.api-sports.io/fixtures?league=1&season=2026&team={team_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"team_id","description":"numeric team ID","type":"number"}]}},"id":"tool-wa-equipo","name":"🏳️ Partidos de Equipo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Partidos del Mundial 2026 en una fecha específica. Pasa date en formato YYYY-MM-DD. Ejemplo: 2026-06-11 para el partido inaugural México vs Sudáfrica. IMPORTANTE: con timezone=America/El_Salvador las fechas/horas que devuelve esta tool YA ESTÁN en hora de El Salvador — NO las conviertas de nuevo.","url":"https://v3.football.api-sports.io/fixtures?league=1&season=2026&date={date}&timezone=America/El_Salvador","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"date","description":"date in YYYY-MM-DD format","type":"string"}]}},"id":"tool-wa-hoy","name":"🗓️ API Partidos del Día","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[928,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Partidos del Mundial 2026 que se están jugando AHORA MISMO. Úsala cuando pregunten por marcadores en vivo, qué partidos hay ahorita, cómo va el partido.","url":"https://v3.football.api-sports.io/fixtures?live=all&league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"tool-wa-live","name":"⚡ API Marcadores en Vivo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1056,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Tabla de posiciones de los grupos del Mundial 2026. Úsala cuando pregunten por la clasificación, quién va primero en el grupo, etc.","url":"https://v3.football.api-sports.io/standings?league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"tool-wa-standings","name":"📊 API Tabla de Posiciones","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1184,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Busca estadísticas de un jugador en el Mundial 2026. Pasa el nombre del jugador en player_name.","url":"https://v3.football.api-sports.io/players?league=1&season=2026&search={player_name}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"player_name","description":"player name to search","type":"string"}]}},"id":"tool-wa-jugador","name":"🔍 API Buscar Jugador","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1312,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": $('WA — AI Agent Mundial').first().json.output + \"\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios.\\nResponde STOP para darte de baja.\" } } }}","options":{}},"id":"wa-send-response","name":"WA — Enviar Respuesta IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,280]},{"parameters":{"respondWith":"text","responseBody":"={{ $('WA — AI Agent Mundial').first().json.output }}","options":{}},"id":"wa-respond-200","name":"WA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,280]},{"id":"wa-soporte-tg","name":"WA SOPORTE — Notificar Erick","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,300],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '🆘 *SOPORTE WhatsApp*\\n\\n👤 ' + ($('WA — Extraer Mensaje').first().json.name || 'Sin nombre') + '\\n📱 +' + $('WA — Extraer Mensaje').first().json.phone + '\\n💬 ' + $('WA — Extraer Mensaje').first().json.text + '\\n\\n👉 Escríbele directo: https://wa.me/' + $('WA — Extraer Mensaje').first().json.phone }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"webhookId":"28aeac62-85bc-4cf7-8807-ca17ad6e5cb6"},{"id":"wa-soporte-reply","name":"WA SOPORTE — Responder Usuario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,300],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Recibimos tu mensaje ✅ Un humano de nuestro equipo te responderá pronto.\\n\\nResponde STOP para darte de baja.\" } } }}"}},{"id":"wa-soporte-respond","name":"WA SOPORTE — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1600,300],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-feedback-db","name":"WA FEEDBACK — Guardar Rating","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `INSERT INTO feedback (phone, plataforma, rating, created_at) VALUES ('${$('WA — Extraer Mensaje').first().json.phone}', 'whatsapp', ${parseInt($('WA — Extraer Mensaje').first().json.text.trim())}, NOW()) RETURNING id` }}"}},{"id":"wa-feedback-reply","name":"WA FEEDBACK — Responder Gracias","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,-100],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Gracias por tu calificación \" + $('WA — Extraer Mensaje').first().json.text.trim() + \"/5! ⭐ Tu opinión nos ayuda a mejorar.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores.\\n\\nResponde STOP para darte de baja.\" } } }}"}},{"id":"wa-feedback-respond","name":"WA FEEDBACK — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1600,-100],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-check-estado","name":"WA — Check Estado Conversación","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-200,0],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"SELECT estado, nombre_temp FROM wa_conversacion WHERE phone = '\" + $('WA — Extraer Mensaje').first().json.phone + \"' LIMIT 1\" }}"},"alwaysOutputData":true},{"id":"wa-decide","name":"WA — Decidir Acción","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"jsCode":"const CAL = [{\"u\":\"2026-06-11T19:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-12T02:00:00Z\",\"h\":\"Corea del Sur\",\"hf\":\"kr\",\"a\":\"Chequia\",\"af\":\"cz\"},{\"u\":\"2026-06-18T16:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-19T01:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"México\",\"af\":\"mx\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Sudáfrica\",\"hf\":\"za\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-12T19:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-13T19:00:00Z\",\"h\":\"Qatar\",\"hf\":\"qa\",\"a\":\"Suiza\",\"af\":\"ch\"},{\"u\":\"2026-06-18T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-18T22:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Canadá\",\"af\":\"ca\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Bosnia y Herzegovina\",\"hf\":\"ba\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-13T22:00:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-14T01:00:00Z\",\"h\":\"Haití\",\"hf\":\"ht\",\"a\":\"Escocia\",\"af\":\"gb-sct\"},{\"u\":\"2026-06-19T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-20T00:30:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Brasil\",\"af\":\"br\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Marruecos\",\"hf\":\"ma\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-13T01:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-14T04:00:00Z\",\"h\":\"Australia\",\"hf\":\"au\",\"a\":\"Türkiye\",\"af\":\"tr\"},{\"u\":\"2026-06-19T19:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-20T03:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Estados Unidos\",\"af\":\"us\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Paraguay\",\"hf\":\"py\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-14T17:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-14T23:00:00Z\",\"h\":\"Costa de Marfil\",\"hf\":\"ci\",\"a\":\"Ecuador\",\"af\":\"ec\"},{\"u\":\"2026-06-20T20:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-21T00:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Curazao\",\"hf\":\"cw\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Alemania\",\"af\":\"de\"},{\"u\":\"2026-06-14T20:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-15T02:00:00Z\",\"h\":\"Suecia\",\"hf\":\"se\",\"a\":\"Túnez\",\"af\":\"tn\"},{\"u\":\"2026-06-20T17:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-21T04:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Japón\",\"hf\":\"jp\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Países Bajos\",\"af\":\"nl\"},{\"u\":\"2026-06-15T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-16T01:00:00Z\",\"h\":\"Irán\",\"hf\":\"ir\",\"a\":\"Nueva Zelanda\",\"af\":\"nz\"},{\"u\":\"2026-06-21T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-22T01:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Egipto\",\"hf\":\"eg\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Bélgica\",\"af\":\"be\"},{\"u\":\"2026-06-15T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-15T22:00:00Z\",\"h\":\"Arabia Saudita\",\"hf\":\"sa\",\"a\":\"Uruguay\",\"af\":\"uy\"},{\"u\":\"2026-06-21T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-21T22:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Cabo Verde\",\"hf\":\"cv\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"España\",\"af\":\"es\"},{\"u\":\"2026-06-16T19:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-16T22:00:00Z\",\"h\":\"Irak\",\"hf\":\"iq\",\"a\":\"Noruega\",\"af\":\"no\"},{\"u\":\"2026-06-22T21:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-23T00:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Francia\",\"af\":\"fr\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Senegal\",\"hf\":\"sn\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-17T01:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-17T04:00:00Z\",\"h\":\"Austria\",\"hf\":\"at\",\"a\":\"Jordania\",\"af\":\"jo\"},{\"u\":\"2026-06-22T17:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-23T03:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Algeria\",\"hf\":\"dz\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Argentina\",\"af\":\"ar\"},{\"u\":\"2026-06-17T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-18T02:00:00Z\",\"h\":\"Uzbekistán\",\"hf\":\"uz\",\"a\":\"Colombia\",\"af\":\"co\"},{\"u\":\"2026-06-23T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-24T02:00:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"Portugal\",\"af\":\"pt\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"DR Congo\",\"hf\":\"cd\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-17T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-17T23:00:00Z\",\"h\":\"Ghana\",\"hf\":\"gh\",\"a\":\"Panamá\",\"af\":\"pa\"},{\"u\":\"2026-06-23T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Ghana\",\"af\":\"gh\"},{\"u\":\"2026-06-23T23:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Inglaterra\",\"af\":\"gb-eng\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Croacia\",\"hf\":\"hr\",\"a\":\"Ghana\",\"af\":\"gh\"}];\nconst PAISES = {\n  'el salvador':[-6,'El Salvador'],'salvador':[-6,'El Salvador'],'mexico':[-6,'México'],'méxico':[-6,'México'],\n  'guatemala':[-6,'Guatemala'],'honduras':[-6,'Honduras'],'nicaragua':[-6,'Nicaragua'],'costa rica':[-6,'Costa Rica'],\n  'colombia':[-5,'Colombia'],'peru':[-5,'Perú'],'perú':[-5,'Perú'],'ecuador':[-5,'Ecuador'],'panama':[-5,'Panamá'],'panamá':[-5,'Panamá'],\n  'bolivia':[-4,'Bolivia'],'venezuela':[-4,'Venezuela'],'chile':[-4,'Chile'],'paraguay':[-4,'Paraguay'],\n  'republica dominicana':[-4,'República Dominicana'],'república dominicana':[-4,'República Dominicana'],'dominicana':[-4,'República Dominicana'],\n  'puerto rico':[-4,'Puerto Rico'],'cuba':[-4,'Cuba'],\n  'argentina':[-3,'Argentina'],'uruguay':[-3,'Uruguay'],'brasil':[-3,'Brasil'],'brazil':[-3,'Brasil'],\n  'espana':[2,'España'],'españa':[2,'España'],'spain':[2,'España'],\n  'estados unidos':[-4,'Estados Unidos'],'usa':[-4,'Estados Unidos'],'eeuu':[-4,'Estados Unidos'],'ee.uu':[-4,'Estados Unidos'],\n  'united states':[-4,'Estados Unidos'],'canada':[-4,'Canadá'],'canadá':[-4,'Canadá']\n};\nfunction detectarPais(texto) {\n  const t = (texto||'').toLowerCase().replace(/[¡!.,;:]/g,' ').replace(/\\s+/g,' ').trim();\n  if (t.length > 45) return null;\n  for (const [p, info] of Object.entries(PAISES)) {\n    if (t === p || t === 'estoy en '+p || t === 'desde '+p || t === 'en '+p || t === 'soy de '+p || t === 'de '+p || (t.endsWith(' '+p) && t.split(' ').length <= 4)) {\n      return { nombre: info[1], offset: info[0] };\n    }\n  }\n  return null;\n}\nfunction flagEmoji(code) {\n  if (!code) return '⚽';\n  if (code === 'gb-sct') return '🏴󠁧󠁢󠁳󠁣󠁴󠁿';\n  if (code === 'gb-eng') return '🏴󠁧󠁢󠁥󠁮󠁧󠁿';\n  if (code === 'gb-wls') return '🏴󠁧󠁢󠁷󠁬󠁳󠁿';\n  return String.fromCodePoint(...[...code.toUpperCase()].map(c => 127397 + c.charCodeAt(0)));\n}\nfunction mensajePais(pais) {\n  const ahora = Date.now();\n  const prox = CAL.map(p => ({...p, ts: Date.parse(p.u)}))\n    .filter(p => p.ts > ahora - 2*3600000)\n    .sort((x,y) => x.ts - y.ts)\n    .slice(0, 3);\n  const dias = ['dom','lun','mar','mié','jue','vie','sáb'];\n  const lines = ['⏰ ¡Listo! Horarios en hora de ' + pais.nombre + ':', ''];\n  for (const p of prox) {\n    const d = new Date(p.ts + pais.offset*3600000);\n    let h = d.getUTCHours(); const m = d.getUTCMinutes();\n    const ampm = h >= 12 ? 'PM' : 'AM'; h = h % 12 || 12;\n    lines.push(flagEmoji(p.hf) + ' ' + p.h + ' vs ' + p.a + ' ' + flagEmoji(p.af));\n    lines.push('   ' + dias[d.getUTCDay()] + ' · ' + h + ':' + String(m).padStart(2,'0') + ' ' + ampm);\n    lines.push('');\n  }\n  lines.push('✅ Guardé tu país — desde ahora todas tus alertas llegarán con tu hora local ⚽');\n  lines.push('');\n  lines.push('#RODAI Sport');\n  return lines.join('\\n');\n}\n\nconst msg = $('WA — Extraer Mensaje').first().json;\nconst text = (msg.text || '').trim();\nconst phone = msg.phone;\nconst rows = $input.all();\nconst dbRow = (rows.length > 0 && rows[0].json && rows[0].json.estado) ? rows[0].json : {};\nconst estado = dbRow.estado || null;\nconst nombre_temp = dbRow.nombre_temp || null;\n\nlet accion = 'switch_normal';\nlet telefono_limpio = '';\nconst msg_type = msg.msg_type || 'text';\n\n// Reacciones (👍 a una alerta) y mensajes de sistema: NO responder nada\nif (['reaction', 'system', 'unsupported', 'ephemeral'].includes(msg_type)) {\n  return [{ json: { accion: 'ignorar', msg_type, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n}\n\n// Mensajes que no son texto (sticker, audio, imagen, video...): respuesta dedicada\nif (msg_type !== 'text' && !estado) {\n  return [{ json: { accion: 'no_texto', msg_type, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n}\n\nif (estado === 'pregunta_activar') {\n  if (text === '1') accion = 'pide_nombre';\n  else if (text === '2') accion = 'cancelar';\n  else accion = 'repregunta';\n} else if (estado === 'esperando_nombre') {\n  accion = 'pide_telefono';\n} else if (estado === 'esperando_telefono') {\n  telefono_limpio = text.replace(/[^0-9]/g, '');\n  if (telefono_limpio.length >= 8 && telefono_limpio.length <= 15) accion = 'enviar_pago';\n  else accion = 'telefono_invalido';\n} else {\n  // ONBOARDING_PAGO: false = ALTA va directo a bienvenida simple (demo).\n  // Cambiar a true despues del partido de Corea del Sur para activar flujo de pago.\n  const ONBOARDING_PAGO = false;\n  if (/^\\s*\\d{1,2}\\s*[-\\u2013\\u2014aA]\\s*\\d{1,2}\\s*$/.test(text)) accion = 'prediccion';\n  else if (ONBOARDING_PAGO && text.toLowerCase().includes('alta')) accion = 'onboard_start';\n  else { const _p = detectarPais(text); if (_p) { return [{ json: { accion: 'pais', phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio, pais_msg: mensajePais(_p), pais_nombre: _p.nombre.replace(/'/g,''), pais_offset: _p.offset } }]; } }\n}\n\nreturn [{ json: { accion, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n"}},{"id":"wa-router","name":"WA — Router Onboarding","type":"n8n-nodes-base.switch","typeVersion":3,"position":[200,0],"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"switch_normal","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"switch_normal"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"onboard_start","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"onboard_start"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pide_nombre","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pide_nombre"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pide_telefono","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pide_telefono"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"enviar_pago","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"enviar_pago"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"cancelar"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"repregunta","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"repregunta"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"telefono_invalido","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"telefono_invalido"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"no_texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"no_texto"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"ignorar"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"prediccion","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"prediccion"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pais","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pais"}]},"options":{}}},{"id":"ob-start-db","name":"ONBOARD — Guardar Pregunta","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,-400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO wa_conversacion (phone, estado, updated_at) VALUES ('\" + $('WA — Decidir Acción').first().json.phone + \"', 'pregunta_activar', NOW()) ON CONFLICT (phone) DO UPDATE SET estado='pregunta_activar', updated_at=NOW()\" }}"}},{"id":"ob-start-msg","name":"ONBOARD — Preguntar Activar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,-400],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"⚽ ¡Hola! Soy el bot de alertas del Mundial 2026.\\n\\n¿Quieres recibir alertas de goles, resultados e info con IA?\\n\\n1 - SÍ, quiero activarme\\n2 - NO, gracias\" } } }}"}},{"id":"ob-start-r","name":"ONBOARD START — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,-400],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-nombre-db","name":"ONBOARD — Guardar Estado Nombre","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,-200],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE wa_conversacion SET estado='esperando_nombre', updated_at=NOW() WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-nombre-msg","name":"ONBOARD — Pedir Nombre","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,-200],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Perfecto! 🙌\\n\\n¿Cuál es tu nombre y apellido?\" } } }}"}},{"id":"ob-nombre-r","name":"ONBOARD NOMBRE — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,-200],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-tel-db","name":"ONBOARD — Guardar Nombre y Estado Tel","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,0],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE wa_conversacion SET nombre_temp='\" + ($('WA — Decidir Acción').first().json.text || '').replace(/'/g, \"''\") + \"', estado='esperando_telefono', updated_at=NOW() WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-tel-msg","name":"ONBOARD — Pedir Teléfono","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,0],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Gracias 😊\\n\\n¿Cuál es tu número de WhatsApp? Escríbelo en formato internacional:\\n+503XXXXXXXX o +52XXXXXXXXXX\" } } }}"}},{"id":"ob-tel-r","name":"ONBOARD TEL — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,0],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-pago-db","name":"ONBOARD — Crear Suscriptor","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,200],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO suscriptores (name, phone, platform, active, demo_only, subscribed_at, last_message_at, country, created_at, updated_at) VALUES ('\" + ($('WA — Decidir Acción').first().json.nombre_temp || '').replace(/'/g, \"''\") + \"', '\" + $('WA — Decidir Acción').first().json.telefono_limpio + \"', 'whatsapp', true, false, NOW(), NOW(), (\" + JSON.stringify((function(p){if(p.indexOf('503')===0)return 'El Salvador';if(p.indexOf('502')===0)return 'Guatemala';if(p.indexOf('504')===0)return 'Honduras';if(p.indexOf('505')===0)return 'Nicaragua';if(p.indexOf('506')===0)return 'Costa Rica';if(p.indexOf('507')===0)return 'Panamá';if(p.indexOf('52')===0)return 'México';if(p.indexOf('51')===0)return 'Perú';if(p.indexOf('57')===0)return 'Colombia';if(p.indexOf('1787')===0||p.indexOf('1939')===0)return 'Puerto Rico';if(p.indexOf('54')===0)return 'Argentina';if(p.indexOf('56')===0)return 'Chile';if(p.indexOf('598')===0)return 'Uruguay';if(p.indexOf('593')===0)return 'Ecuador';if(p.indexOf('34')===0)return 'España';if(p.indexOf('1')===0)return 'USA';return 'Otro';})($('WA — Decidir Acción').first().json.telefono_limpio)).replace(/\"/g, \"'\") + \", NOW(), NOW()) ON CONFLICT (phone) DO UPDATE SET name=EXCLUDED.name, active=true, updated_at=NOW(), last_message_at=NOW(), country=EXCLUDED.country\" }}"}},{"id":"ob-pago-msg","name":"ONBOARD — Enviar Link Pago","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,200],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Ya casi! 🎉 Solo falta activar tu suscripción.\\n\\nPaga $4.99 por todo el Mundial 2026 aquí:\\nhttps://www.paypal.com/ncp/payment/JRQL4J79ECAWQ\\n\\nDespués de pagar escríbenos PAGO y te confirmamos la activación. ⚽\" } } }}"}},{"id":"ob-pago-r","name":"ONBOARD PAGO — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,200],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-cancel-db","name":"ONBOARD — Limpiar Cancelado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"DELETE FROM wa_conversacion WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-cancel-msg","name":"ONBOARD — Confirmar No Quiere","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,400],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Entendido 👍 Si en algún momento quieres activarte escríbenos ALTA.\\n\\nResponde STOP para no recibir más mensajes.\" } } }}"}},{"id":"ob-cancel-r","name":"ONBOARD CANCEL — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,400],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-repregunta-msg","name":"ONBOARD — Repregunta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,600],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Por favor responde:\\n1 - SÍ, quiero activarme\\n2 - NO, gracias\" } } }}"}},{"id":"ob-repregunta-r","name":"ONBOARD REPREGUNTA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,600],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-limpiar-estado","name":"ONBOARD — Limpiar Estado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[520,200],"onError":"continueRegularOutput","credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"DELETE FROM wa_conversacion WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ntf-interesado","name":"NOTIF TG — Nuevo Interesado","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,-400],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=🆕 Nuevo interesado WhatsApp\n\nNombre: {{ $('WA — Extraer Mensaje').first().json.name }}\nTeléfono: +{{ $('WA — Extraer Mensaje').first().json.phone }}\nMensaje: {{ $('WA — Extraer Mensaje').first().json.text }}\n\nInició onboarding (pregunta 1/2).","additionalFields":{"appendAttribution":false}},"webhookId":"e00268e5-d28f-4a97-9260-0d9a49d65d6a"},{"id":"ntf-registrado","name":"NOTIF TG — Suscriptor Registrado","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,200],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=✅ SUSCRIPTOR REGISTRADO (onboarding completo)\n\nNombre: {{ $('WA — Decidir Acción').first().json.nombre_temp }}\nTeléfono guardado: +{{ $('WA — Decidir Acción').first().json.telefono_limpio }}\nChat WhatsApp: +{{ $('WA — Decidir Acción').first().json.phone }}\n\nSe le envió el link de PayPal $4.99.","additionalFields":{"appendAttribution":false}},"webhookId":"efec259b-a48c-4586-ac12-bbb1708a6e57"},{"id":"ntf-baja","name":"NOTIF TG — Baja STOP","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-120],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=🔻 BAJA por STOP\n\nNombre: {{ $('WA — Extraer Mensaje').first().json.name }}\nTeléfono: +{{ $('WA — Extraer Mensaje').first().json.phone }}","additionalFields":{"appendAttribution":false}},"webhookId":"55faaef0-959c-44ca-9d39-0e32a31d8055"},{"id":"ob-tel-inv","name":"ONBOARD — Teléfono Inválido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,760],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Ese número no parece válido 🤔\\n\\nEscríbelo en formato internacional, solo números, por ejemplo:\\n+50312345678\" } } }}"}},{"id":"ob-tel-inv-r","name":"ONBOARD TELINV — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,760],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-stamp","name":"WA — Stamp Último Mensaje","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-340,0],"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE suscriptores SET last_message_at=NOW() WHERE phone='\" + $('WA — Extraer Mensaje').first().json.phone + \"'\" }}"}},{"id":"wa-tool-new-0","name":"🥇 Goleadores del Mundial","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1100,700],"parameters":{"url":"https://v3.football.api-sports.io/players/topscorers?league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Tabla de goleadores del Mundial 2026: quién lleva más goles en el torneo, con equipo y estadísticas. Úsala cuando pregunten por el máximo goleador, pichichi, bota de oro o quién ha anotado más."},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-1","name":"📋 Alineaciones del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1280,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/lineups?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Alineaciones titulares, suplentes y formación táctica de un partido. NECESITA fixture_id numérico: obtenlo PRIMERO llamando 'API Partidos del Día' o 'API Marcadores en Vivo' (campo fixture.id). Úsala cuando pregunten quién juega, el once titular, la formación.","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-2","name":"🎯 Eventos del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1460,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/events?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Eventos minuto a minuto de un partido: goles (con autor y asistencia), tarjetas amarillas/rojas, cambios, VAR. NECESITA fixture_id numérico: obtenlo PRIMERO con 'API Partidos del Día' o 'API Marcadores en Vivo'. Úsala cuando pregunten quién anotó, en qué minuto, tarjetas, expulsados.","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-3","name":"⚔️ Historial Entre Equipos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1640,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/headtohead?h2h={team_ids}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Últimos enfrentamientos directos entre dos equipos (historial head-to-head). Pasa team_ids en formato 'id1-id2', ejemplo '16-1504' para Mexico vs Ghana. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 CoreaSur=17 Sudafrica=1531 Chequia=770. Úsala cuando pregunten cómo les ha ido entre sí, quién ha ganado históricamente.","placeholderDefinitions":{"values":[{"name":"team_ids","description":"two team IDs joined by hyphen, e.g. 16-1504","type":"string"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-notext","name":"WA — Responder No-Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,920],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (function(){ const t = $('WA — Decidir Acción').first().json.msg_type; const nombre = ($('WA — Extraer Mensaje').first().json.name || '').split(' ')[0]; const saludo = nombre ? '' + nombre + ', ' : ''; let cuerpo; if (t === 'audio' || t === 'voice') cuerpo = '🎧 ' + saludo + 'escuché tu nota de voz... bueno, casi 😅 Por ahora solo entiendo mensajes escritos.'; else if (t === 'image') cuerpo = '📸 ' + saludo + 'vi tu imagen, ¡buen detalle! Pero donde mejor te ayudo es por texto.'; else if (t === 'sticker') cuerpo = '😄 ' + saludo + '¡buen sticker! Así se vive el Mundial.'; else if (t === 'video') cuerpo = '🎬 ' + saludo + 'recibí tu video. Por ahora solo proceso texto.'; else cuerpo = '🤖 ' + saludo + 'recibí tu mensaje, pero solo entiendo texto por ahora.'; return { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": cuerpo + '\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios. ¡Te respondo al instante!' } }; })() }}"}},{"id":"wa-notext-r","name":"NO-TEXTO — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,920],"parameters":{"respondWith":"text","responseBody":"ok"}},{"name":"WA PRED — Parse","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,1400],"parameters":{"jsCode":"const d = $('WA — Decidir Acción').first().json;\nconst m = (d.text||'').match(/(\\d{1,2})\\s*[-\\u2013\\u2014aA]\\s*(\\d{1,2})/);\nreturn [{json:{ pred: m ? m[1]+'-'+m[2] : (d.text||'').trim(), phone: d.phone, nombre: (d.name||'').replace(/'/g,'') }}];"},"id":"2a0b08b7-7563-4eea-8765-7d883ece8670"},{"name":"WA PRED — Guardar","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1300,1400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"onError":"continueRegularOutput","parameters":{"operation":"executeQuery","query":"INSERT INTO predicciones (canal, identidad, nombre, partido_id, prediccion) VALUES ('whatsapp', '{{ $json.phone }}', '{{ $json.nombre }}', 'kor-cze-20260611', '{{ $json.pred }}') ON CONFLICT (canal, identidad, partido_id) DO UPDATE SET prediccion = EXCLUDED.prediccion, creado_at = NOW() RETURNING id","options":{}},"id":"1336b0bf-c438-43f6-99cd-6bc8ce822332"},{"name":"WA PRED — Responder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1400],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA PRED — Parse').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"🎯 ¡Anotado! Tu predicción: Corea del Sur \" + $('WA PRED — Parse').first().json.pred + \" Chequia\\n\\nAl final del partido te cuento si le atinaste ⚽\\n\\n#RODAI Sport\" } } }}","options":{}},"id":"c7798ac6-3f3c-4b63-a2b3-9fd5d4fb812f"},{"name":"WA PRED — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1700,1400],"parameters":{"respondWith":"text","responseBody":"ok"},"id":"475ae5f8-b8c5-4926-98a4-62450c48eae3"},{"id":"wa-tool-stats","name":"📈 Estadísticas del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1820,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/statistics?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Obtiene estadísticas en vivo o finales de un partido específico: posesión, tiros totales, tiros a puerta, córners, faltas, tarjetas, xG. Requiere el fixture_id del partido (obtenlo primero con la tool de marcadores/partidos del día).","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"name":"WA PAIS — Responder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1600],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Decidir Acción').first().json.phone, \"type\": \"text\", \"text\": { \"body\": $('WA — Decidir Acción').first().json.pais_msg } } }}","options":{}},"id":"3fc9fbda-ce85-4503-bfbe-e86eaebdcf89"},{"name":"WA PAIS — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,1600],"parameters":{"respondWith":"text","responseBody":"ok"},"id":"14914bb3-ff7d-429f-83b5-b7782b7b71a4"},{"name":"WA PAIS — Guardar","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[950,1600],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"onError":"continueRegularOutput","parameters":{"operation":"executeQuery","query":"UPDATE suscriptores SET country = '{{ $json.pais_nombre }}', tz_offset = {{ $json.pais_offset }} WHERE phone = '{{ $json.phone }}' RETURNING id","options":{}},"id":"5de86291-3a1e-46c2-97ad-af024393c9f8"}],"connections":{"Kapso — Webhook Entrante":{"main":[[{"node":"WA — Extraer Mensaje","type":"main","index":0}]]},"WA — Extraer Mensaje":{"main":[[{"node":"WA — Stamp Último Mensaje","type":"main","index":0}]]},"WA — Detectar ALTA / STOP / PREGUNTA":{"main":[[{"node":"WA ALTA — Guardar en DB","type":"main","index":0}],[{"node":"WA STOP — Dar de Baja","type":"main","index":0}],[{"node":"WA FEEDBACK — Guardar Rating","type":"main","index":0}],[{"node":"WA SOPORTE — Notificar Erick","type":"main","index":0}],[{"node":"WA — AI Agent Mundial","type":"main","index":0}]]},"WA ALTA — Guardar en DB":{"main":[[{"node":"WA ALTA — Enviar Bienvenida","type":"main","index":0}]]},"WA STOP — Dar de Baja":{"main":[[{"node":"NOTIF TG — Baja STOP","type":"main","index":0}]]},"WA — AI Agent Mundial":{"main":[[{"node":"WA — Enviar Respuesta IA","type":"main","index":0}]]},"WA — OpenAI gpt-4o":{"ai_languageModel":[[{"node":"WA — AI Agent Mundial","type":"ai_languageModel","index":0}]]},"🏳️ Partidos de Equipo":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🗓️ API Partidos del Día":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"⚡ API Marcadores en Vivo":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"📊 API Tabla de Posiciones":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🔍 API Buscar Jugador":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA ALTA — Enviar Bienvenida":{"main":[[{"node":"WA ALTA — Respond 200","type":"main","index":0}]]},"WA STOP — Confirmar Baja":{"main":[[{"node":"WA STOP — Respond 200","type":"main","index":0}]]},"WA — Enviar Respuesta IA":{"main":[[{"node":"WA — Respond 200","type":"main","index":0}]]},"WA SOPORTE — Notificar Erick":{"main":[[{"node":"WA SOPORTE — Responder Usuario","type":"main","index":0}]]},"WA SOPORTE — Responder Usuario":{"main":[[{"node":"WA SOPORTE — Respond 200","type":"main","index":0}]]},"WA FEEDBACK — Guardar Rating":{"main":[[{"node":"WA FEEDBACK — Responder Gracias","type":"main","index":0}]]},"WA FEEDBACK — Responder Gracias":{"main":[[{"node":"WA FEEDBACK — Respond 200","type":"main","index":0}]]},"WA — Check Estado Conversación":{"main":[[{"node":"WA — Decidir Acción","type":"main","index":0}]]},"WA — Decidir Acción":{"main":[[{"node":"WA — Router Onboarding","type":"main","index":0}]]},"WA — Router Onboarding":{"main":[[{"node":"WA — Detectar ALTA / STOP / PREGUNTA","type":"main","index":0}],[{"node":"ONBOARD — Guardar Pregunta","type":"main","index":0}],[{"node":"ONBOARD — Guardar Estado Nombre","type":"main","index":0}],[{"node":"ONBOARD — Guardar Nombre y Estado Tel","type":"main","index":0}],[{"node":"ONBOARD — Crear Suscriptor","type":"main","index":0}],[{"node":"ONBOARD — Limpiar Cancelado","type":"main","index":0}],[{"node":"ONBOARD — Repregunta","type":"main","index":0}],[{"node":"ONBOARD — Teléfono Inválido","type":"main","index":0}],[{"node":"WA — Responder No-Texto","type":"main","index":0}],[{"node":"NO-TEXTO — Respond 200","type":"main","index":0}],[{"node":"WA PRED — Parse","type":"main","index":0}],[{"node":"WA PAIS — Guardar","type":"main","index":0}]]},"ONBOARD — Guardar Pregunta":{"main":[[{"node":"NOTIF TG — Nuevo Interesado","type":"main","index":0}]]},"ONBOARD — Preguntar Activar":{"main":[[{"node":"ONBOARD START — Respond 200","type":"main","index":0}]]},"ONBOARD — Guardar Estado Nombre":{"main":[[{"node":"ONBOARD — Pedir Nombre","type":"main","index":0}]]},"ONBOARD — Pedir Nombre":{"main":[[{"node":"ONBOARD NOMBRE — Respond 200","type":"main","index":0}]]},"ONBOARD — Guardar Nombre y Estado Tel":{"main":[[{"node":"ONBOARD — Pedir Teléfono","type":"main","index":0}]]},"ONBOARD — Pedir Teléfono":{"main":[[{"node":"ONBOARD TEL — Respond 200","type":"main","index":0}]]},"ONBOARD — Crear Suscriptor":{"main":[[{"node":"ONBOARD — Limpiar Estado","type":"main","index":0}]]},"ONBOARD — Enviar Link Pago":{"main":[[{"node":"ONBOARD PAGO — Respond 200","type":"main","index":0}]]},"ONBOARD — Limpiar Cancelado":{"main":[[{"node":"ONBOARD — Confirmar No Quiere","type":"main","index":0}]]},"ONBOARD — Confirmar No Quiere":{"main":[[{"node":"ONBOARD CANCEL — Respond 200","type":"main","index":0}]]},"ONBOARD — Repregunta":{"main":[[{"node":"ONBOARD REPREGUNTA — Respond 200","type":"main","index":0}]]},"NOTIF TG — Nuevo Interesado":{"main":[[{"node":"ONBOARD — Preguntar Activar","type":"main","index":0}]]},"ONBOARD — Limpiar Estado":{"main":[[{"node":"NOTIF TG — Suscriptor Registrado","type":"main","index":0}]]},"NOTIF TG — Suscriptor Registrado":{"main":[[{"node":"ONBOARD — Enviar Link Pago","type":"main","index":0}]]},"NOTIF TG — Baja STOP":{"main":[[{"node":"WA STOP — Confirmar Baja","type":"main","index":0}]]},"ONBOARD — Teléfono Inválido":{"main":[[{"node":"ONBOARD TELINV — Respond 200","type":"main","index":0}]]},"WA — Stamp Último Mensaje":{"main":[[{"node":"WA — Check Estado Conversación","type":"main","index":0}]]},"🥇 Goleadores del Mundial":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"📋 Alineaciones del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🎯 Eventos del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"⚔️ Historial Entre Equipos":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA — Responder No-Texto":{"main":[[{"node":"NO-TEXTO — Respond 200","type":"main","index":0}]]},"WA PRED — Parse":{"main":[[{"node":"WA PRED — Guardar","type":"main","index":0}]]},"WA PRED — Guardar":{"main":[[{"node":"WA PRED — Responder","type":"main","index":0}]]},"WA PRED — Responder":{"main":[[{"node":"WA PRED — Respond 200","type":"main","index":0}]]},"📈 Estadísticas del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA PAIS — Responder":{"main":[[{"node":"WA PAIS — Respond 200","type":"main","index":0}]]},"WA PAIS — Guardar":{"main":[[{"node":"WA PAIS — Responder","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","errorWorkflow":"EsaoKCXpD3TZMCje"},"staticData":null,"meta":null,"pinData":{},"versionId":"4fcb0b96-4c46-4ba5-9fe0-52970d976de6","activeVersionId":"4fcb0b96-4c46-4ba5-9fe0-52970d976de6","versionCounter":165,"triggerCount":1,"shared":[{"updatedAt":"2026-06-11T00:10:32.429Z","createdAt":"2026-06-11T00:10:32.429Z","role":"workflow:owner","workflowId":"uL7p0wEMzomlNGOe","projectId":"g2T64qb4JyW1mWdT","project":{"updatedAt":"2026-03-23T02:01:06.896Z","createdAt":"2026-03-23T01:54:43.748Z","id":"g2T64qb4JyW1mWdT","name":"Erick RODAI <admin@rodai.io>","type":"personal","icon":null,"description":null,"creatorId":"111326d0-ca57-4427-a4d0-5c6508637090"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-12T15:36:52.796Z","createdAt":"2026-06-12T15:36:52.796Z","versionId":"4fcb0b96-4c46-4ba5-9fe0-52970d976de6","workflowId":"uL7p0wEMzomlNGOe","nodes":[{"parameters":{"httpMethod":"POST","path":"mundial-wa-agent","responseMode":"responseNode","options":{}},"id":"wa-webhook-trigger","name":"Kapso — Webhook Entrante","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,-16],"webhookId":"mundial-wa-agent"},{"parameters":{"assignments":{"assignments":[{"name":"phone","value":"={{ ($json.body.data?.[0]?.message?.from) || ($json.body.message?.from) || ($json.body.phone) || '' }}","type":"string"},{"name":"text","value":"={{ ($json.body.data?.[0]?.message?.text?.body) || ($json.body.message?.text?.body) || ($json.body.message && typeof $json.body.message === 'string' ? $json.body.message : '') || '' }}","type":"string"},{"name":"name","value":"={{ ($json.body.data?.[0]?.conversation?.contact_name) || ($json.body.conversation?.contact_name) || ($json.body.name) || '' }}","type":"string"},{"id":"a4","name":"msg_type","value":"={{ ($json.body.data?.[0]?.message?.type) || ($json.body.message?.type) || 'text' }}","type":"string"}]},"options":{}},"id":"wa-extract","name":"WA — Extraer Mensaje","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,-16]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ALTA","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"alta"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"STOP","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stop"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text.trim() }}","rightValue":"^[1-5]$","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"renameOutput":true,"outputKey":"feedback"},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.text }}","rightValue":"ayuda","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"soporte","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"preguntas","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"humano","operator":{"type":"string","operation":"contains"}},{"leftValue":"={{ $json.text }}","rightValue":"falla","operator":{"type":"string","operation":"contains"},"id":"sop-falla"},{"leftValue":"={{ $json.text }}","rightValue":"problema","operator":{"type":"string","operation":"contains"},"id":"sop-problema"},{"leftValue":"={{ $json.text }}","rightValue":"reclamo","operator":{"type":"string","operation":"contains"},"id":"sop-reclamo"},{"leftValue":"={{ $json.text }}","rightValue":"no funciona","operator":{"type":"string","operation":"contains"},"id":"sop-no-funciona"}],"combinator":"or"},"renameOutput":true,"outputKey":"soporte"}]},"options":{"fallbackOutput":"extra"}},"id":"wa-switch","name":"WA — Detectar ALTA / STOP / PREGUNTA","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[448,-32]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO suscriptores (phone, name, platform, active, subscribed_at, last_message_at, country, created_at, updated_at)\nVALUES ($1, $2, 'whatsapp', true, NOW(), NOW(), CASE WHEN $1 LIKE '503%' THEN 'El Salvador' WHEN $1 LIKE '502%' THEN 'Guatemala' WHEN $1 LIKE '504%' THEN 'Honduras' WHEN $1 LIKE '505%' THEN 'Nicaragua' WHEN $1 LIKE '506%' THEN 'Costa Rica' WHEN $1 LIKE '507%' THEN 'Panamá' WHEN $1 LIKE '52%' THEN 'México' WHEN $1 LIKE '51%' THEN 'Perú' WHEN $1 LIKE '57%' THEN 'Colombia' WHEN $1 LIKE '1787%' OR $1 LIKE '1939%' THEN 'Puerto Rico' WHEN $1 LIKE '54%' THEN 'Argentina' WHEN $1 LIKE '56%' THEN 'Chile' WHEN $1 LIKE '598%' THEN 'Uruguay' WHEN $1 LIKE '593%' THEN 'Ecuador' WHEN $1 LIKE '34%' THEN 'España' WHEN $1 LIKE '1%' THEN 'USA' ELSE 'Otro' END, NOW(), NOW())\nON CONFLICT (phone) DO UPDATE SET active = true, updated_at = NOW(), last_message_at = NOW(), country = EXCLUDED.country, name = CASE WHEN EXCLUDED.name <> '' THEN EXCLUDED.name ELSE suscriptores.name END","options":{"queryReplacement":"={{ [$json.phone, $json.name || ''] }}"}},"id":"wa-alta-db","name":"WA ALTA — Guardar en DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[984,-208],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Bienvenido a las alertas del Mundial 2026! Te enviaremos alertas 30 minutos antes de cada partido y resúmenes de goles en tiempo real.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios.\\n\\nResponde STOP para cancelar.\" } } }}","options":{}},"id":"wa-alta-send","name":"WA ALTA — Enviar Bienvenida","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-208]},{"parameters":{"respondWith":"text","responseBody":"¡Bienvenido al Mundial 2026! ⚽ Recibirás alertas 30 min antes y goles en tiempo real.\n\nResponde STOP para cancelar.","options":{}},"id":"wa-alta-respond","name":"WA ALTA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,-208]},{"parameters":{"operation":"executeQuery","query":"UPDATE suscriptores SET active = false, updated_at = NOW() WHERE phone = $1","options":{"queryReplacement":"={{ [$json.phone] }}"}},"id":"wa-stop-db","name":"WA STOP — Dar de Baja","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[984,-16],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Te dimos de baja de las alertas del Mundial 2026. ¡Hasta pronto! 👋\" } } }}","options":{}},"id":"wa-stop-send","name":"WA STOP — Confirmar Baja","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,-16]},{"parameters":{"respondWith":"text","responseBody":"Te dimos de baja de las alertas del Mundial 2026. ¡Hasta pronto! 👋","options":{}},"id":"wa-stop-respond","name":"WA STOP — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,-16]},{"parameters":{"promptType":"define","text":"={{ ($('WA — Extraer Mensaje').first().json.text || 'Hola') + '\\n\\n[contexto del sistema, no mostrar al usuario: hoy es ' + $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') + ' hora El Salvador. Este usuario escribe desde el número +' + $('WA — Extraer Mensaje').first().json.phone + '. OBLIGATORIO: cualquier horario respóndelo convertido a la zona horaria del país de ese prefijo telefónico, nombrando el país. Prefijos: 503/502/504/505/52=UTC-6, 51/57/593/507=UTC-5, 1787/1939/58/56=UTC-4, 54/598=UTC-3, 34=UTC+2. REGLA DE PARTIDOS PRÓXIMOS: si preguntan qué partidos hay hoy/ahora y no hay ninguno en vivo, consulta Partidos del Día con la fecha UTC de HOY y también la de MAÑANA (los partidos de la noche en Centroamérica caen en el día UTC siguiente: ej. 8 PM El Salvador = 02:00 UTC del día siguiente). NUNCA respondas solo que no hay partidos sin revisar ambas fechas. EXCEPCIÓN: si el usuario pide explícitamente la hora de OTRO país (ej. hora de España), responde con la hora de ESE país. España hoy = UTC+2: el partido inaugural México vs Sudáfrica (19:00 UTC) es a las 21:00 hora de España.]' }}","options":{"systemMessage":"=CONTEXTO EN TIEMPO REAL (usa esto SIEMPRE):\n- FECHA Y HORA ACTUAL: {{ $now.setZone('America/El_Salvador').toFormat('yyyy-MM-dd HH:mm') }} (hora El Salvador, UTC-6). HOY es esta fecha — el Mundial YA EMPEZÓ el 11 de junio de 2026.\n- TELÉFONO DEL USUARIO: {{ $('WA — Extraer Mensaje').first().json.phone }}\n\nZONA HORARIA DEL USUARIO — deduce su país por el prefijo del teléfono y convierte TODOS los horarios a SU hora local:\n- 503 → El Salvador (UTC-6)\n- 502 → Guatemala (UTC-6) | 504 → Honduras (UTC-6) | 505 → Nicaragua (UTC-6)\n- 52 → México centro (UTC-6)\n- 506 → Costa Rica (UTC-6) | 507 → Panamá (UTC-5)\n- 51 → Perú (UTC-5) | 57 → Colombia (UTC-5) | 593 → Ecuador (UTC-5)\n- 1787 / 1939 → Puerto Rico (UTC-4) | 58 → Venezuela (UTC-4)\n- 54 → Argentina (UTC-3) | 56 → Chile (UTC-4) | 598 → Uruguay (UTC-3)\n- 34 → España (UTC+2) | 1 (otros) → USA, indica hora del Este (UTC-4)\n\nREGLA DE HORARIOS (OBLIGATORIA — paso previo a CUALQUIER respuesta con hora):\n1. Mira el TELÉFONO DEL USUARIO de arriba e identifica su país por el prefijo (la lista de arriba).\n2. La API devuelve horarios en UTC. Convierte a la zona DEL USUARIO, no a otra.\n3. Responde con SU hora local nombrando su país. Ejemplos OBLIGATORIOS:\n   - usuario 503... → \"a la 1:00 PM hora de El Salvador\"\n   - usuario 1787... → \"a las 3:00 PM hora de Puerto Rico\" (UTC-4, NO digas hora de El Salvador)\n   - usuario 54... → \"a las 4:00 PM hora de Argentina\" (UTC-3)\n   - usuario 51... → \"a las 2:00 PM hora de Perú\" (UTC-5)\nNUNCA des la hora UTC ni la hora de otro país distinto al del usuario.\n\nEres el asistente oficial de RODAI Sport para el Mundial FIFA 2026 (USA, Canadá y México, 11 jun – 19 jul 2026).\n\nCONTEXTO GENERAL:\n- 48 selecciones, 104 partidos, Grupos A–L\n- Fase grupos: 11–26 jun | Octavos: 29 jun–2 jul | Cuartos: 5–6 jul | Semis: 9–10 jul | Final: 19 jul, MetLife Stadium, NJ\n\nHERRAMIENTAS DISPONIBLES — úsalas para responder con datos reales:\n- 🗓️ API Partidos del Día → partidos de hoy o una fecha específica\n- ⚡ API Marcadores en Vivo → marcador actual de partidos en curso\n- 🔍 API Buscar Jugador → estadísticas de un jugador en el torneo\n- 📊 API Tabla de Posiciones → clasificación de los grupos\n- 🏳️ Partidos de Equipo → todos los partidos de un equipo en el Mundial\n\nREGLAS:\n- Para cualquier pregunta sobre partidos, jugadores, resultados, fechas, estadios o tabla → LLAMA la herramienta correspondiente, no respondas de memoria\n- Si una herramienta no devuelve el dato: (1) INTENTA OTRA herramienta encadenando (ej: para saber quién es el portero de un equipo, usa Alineaciones del Partido y de ahí el nombre; luego Buscar Jugador), (2) si la API no tiene el dato pero es conocimiento futbolístico general (en qué club juega alguien, historia, datos de selecciones o jugadores), RESPONDE CON TU PROPIO CONOCIMIENTO de forma útil y directa. PROHIBIDO responder solo \"no encontré información\" — siempre da la mejor respuesta posible al fanático\n- Responde en español (salvo que el usuario escriba en otro idioma)\n- Máximo 150 palabras por respuesta\n- Sin markdown, sin asteriscos, sin bullets (WhatsApp no renderiza markdown)\n- Usa emojis con moderación ⚽🏆\n- NUNCA inventes resultados, marcadores, alineaciones ni estadísticas DEL TORNEO ACTUAL (eso siempre de la API). Pero para datos futbolísticos estables — en qué CLUB juega un jugador, su trayectoria, títulos, historia de selecciones — usa tu conocimiento con confianza y responde directo (ej: \"Ronwen Williams juega en Mamelodi Sundowns de Sudáfrica\"). El fanático quiere respuestas, no disclaimers\n\nHERRAMIENTAS ADICIONALES:\n- 🥇 Goleadores del Mundial → máximos anotadores del torneo\n- 📋 Alineaciones del Partido → titulares y formación (necesita fixture_id: obtenlo primero con Partidos del Día o Marcadores en Vivo)\n- 🎯 Eventos del Partido → goles, tarjetas y cambios minuto a minuto (necesita fixture_id)\n- ⚔️ Historial Entre Equipos → enfrentamientos directos previos (formato id1-id2)\n\nREGLA DE ORO: si no estás 100% seguro de un dato (resultados, horarios, jugadores, estadísticas, goleadores), SIEMPRE consulta una herramienta ANTES de responder. NUNCA digas \"no sé\" o \"no tengo esa información\" sin haber consultado la API primero. Si una herramienta necesita fixture_id o team_id, usa otra herramienta para obtenerlo y encadena las llamadas.\n\nREGLA PAÍS: Si el usuario escribe solo el nombre de un país o 'estoy en X', está respondiendo a nuestra pregunta '¿en qué país estás?' — responde ÚNICAMENTE con los horarios de los próximos partidos del Mundial convertidos a la hora local de ese país (usa la tool de partidos del día; sus horas vienen en hora de El Salvador UTC-6, convierte desde ahí). NO hables del equipo de ese país.\nDATO VERIFICADO: las selecciones de El Salvador, Guatemala, Nicaragua, Perú, Chile y Venezuela NO clasificaron al Mundial 2026 — NUNCA digas que participan.","maxIterations":8}},"id":"wa-ai-agent","name":"WA — AI Agent Mundial","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[920,280]},{"parameters":{"model":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"gpt-4o"},"options":{"maxTokens":400,"temperature":0.7}},"id":"wa-lm","name":"WA — OpenAI gpt-4o","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[672,504],"credentials":{"openAiApi":{"id":"DNniMXGQP8C9zu5z","name":"OpenAi account 2"}}},{"parameters":{"toolDescription":"Partidos de un equipo en el Mundial 2026. Pasa team_id numérico. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 Uruguay=7 Paraguay=2380 Ecuador=2382 Panama=11 Canada=5529 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 PaisesBajos=1118 Belgica=1 Croacia=3 Suiza=15 Austria=775 Marruecos=31 Senegal=13 Egipto=32 Ghana=1504 Sudafrica=1531 ArabiaSaudita=23 Iran=22 Japon=12 CoreaSur=17 Australia=20 Tunez=28","url":"https://v3.football.api-sports.io/fixtures?league=1&season=2026&team={team_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"team_id","description":"numeric team ID","type":"number"}]}},"id":"tool-wa-equipo","name":"🏳️ Partidos de Equipo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[800,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Partidos del Mundial 2026 en una fecha específica. Pasa date en formato YYYY-MM-DD. Ejemplo: 2026-06-11 para el partido inaugural México vs Sudáfrica. IMPORTANTE: con timezone=America/El_Salvador las fechas/horas que devuelve esta tool YA ESTÁN en hora de El Salvador — NO las conviertas de nuevo.","url":"https://v3.football.api-sports.io/fixtures?league=1&season=2026&date={date}&timezone=America/El_Salvador","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"date","description":"date in YYYY-MM-DD format","type":"string"}]}},"id":"tool-wa-hoy","name":"🗓️ API Partidos del Día","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[928,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Partidos del Mundial 2026 que se están jugando AHORA MISMO. Úsala cuando pregunten por marcadores en vivo, qué partidos hay ahorita, cómo va el partido.","url":"https://v3.football.api-sports.io/fixtures?live=all&league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"tool-wa-live","name":"⚡ API Marcadores en Vivo","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1056,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Tabla de posiciones de los grupos del Mundial 2026. Úsala cuando pregunten por la clasificación, quién va primero en el grupo, etc.","url":"https://v3.football.api-sports.io/standings?league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth"},"id":"tool-wa-standings","name":"📊 API Tabla de Posiciones","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1184,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"toolDescription":"Busca estadísticas de un jugador en el Mundial 2026. Pasa el nombre del jugador en player_name.","url":"https://v3.football.api-sports.io/players?league=1&season=2026&search={player_name}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","placeholderDefinitions":{"values":[{"name":"player_name","description":"player name to search","type":"string"}]}},"id":"tool-wa-jugador","name":"🔍 API Buscar Jugador","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1312,504],"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": $('WA — AI Agent Mundial').first().json.output + \"\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios.\\nResponde STOP para darte de baja.\" } } }}","options":{}},"id":"wa-send-response","name":"WA — Enviar Respuesta IA","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,280]},{"parameters":{"respondWith":"text","responseBody":"={{ $('WA — AI Agent Mundial').first().json.output }}","options":{}},"id":"wa-respond-200","name":"WA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1744,280]},{"id":"wa-soporte-tg","name":"WA SOPORTE — Notificar Erick","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1100,300],"credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"operation":"sendMessage","chatId":"675855669","text":"={{ '🆘 *SOPORTE WhatsApp*\\n\\n👤 ' + ($('WA — Extraer Mensaje').first().json.name || 'Sin nombre') + '\\n📱 +' + $('WA — Extraer Mensaje').first().json.phone + '\\n💬 ' + $('WA — Extraer Mensaje').first().json.text + '\\n\\n👉 Escríbele directo: https://wa.me/' + $('WA — Extraer Mensaje').first().json.phone }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"webhookId":"28aeac62-85bc-4cf7-8807-ca17ad6e5cb6"},{"id":"wa-soporte-reply","name":"WA SOPORTE — Responder Usuario","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,300],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Recibimos tu mensaje ✅ Un humano de nuestro equipo te responderá pronto.\\n\\nResponde STOP para darte de baja.\" } } }}"}},{"id":"wa-soporte-respond","name":"WA SOPORTE — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1600,300],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-feedback-db","name":"WA FEEDBACK — Guardar Rating","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1100,-100],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ `INSERT INTO feedback (phone, plataforma, rating, created_at) VALUES ('${$('WA — Extraer Mensaje').first().json.phone}', 'whatsapp', ${parseInt($('WA — Extraer Mensaje').first().json.text.trim())}, NOW()) RETURNING id` }}"}},{"id":"wa-feedback-reply","name":"WA FEEDBACK — Responder Gracias","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1350,-100],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Gracias por tu calificación \" + $('WA — Extraer Mensaje').first().json.text.trim() + \"/5! ⭐ Tu opinión nos ayuda a mejorar.\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores.\\n\\nResponde STOP para darte de baja.\" } } }}"}},{"id":"wa-feedback-respond","name":"WA FEEDBACK — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1600,-100],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-check-estado","name":"WA — Check Estado Conversación","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-200,0],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"SELECT estado, nombre_temp FROM wa_conversacion WHERE phone = '\" + $('WA — Extraer Mensaje').first().json.phone + \"' LIMIT 1\" }}"},"alwaysOutputData":true},{"id":"wa-decide","name":"WA — Decidir Acción","type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"parameters":{"jsCode":"const CAL = [{\"u\":\"2026-06-11T19:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-12T02:00:00Z\",\"h\":\"Corea del Sur\",\"hf\":\"kr\",\"a\":\"Chequia\",\"af\":\"cz\"},{\"u\":\"2026-06-18T16:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"Sudáfrica\",\"af\":\"za\"},{\"u\":\"2026-06-19T01:00:00Z\",\"h\":\"México\",\"hf\":\"mx\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Chequia\",\"hf\":\"cz\",\"a\":\"México\",\"af\":\"mx\"},{\"u\":\"2026-06-25T01:00:00Z\",\"h\":\"Sudáfrica\",\"hf\":\"za\",\"a\":\"Corea del Sur\",\"af\":\"kr\"},{\"u\":\"2026-06-12T19:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-13T19:00:00Z\",\"h\":\"Qatar\",\"hf\":\"qa\",\"a\":\"Suiza\",\"af\":\"ch\"},{\"u\":\"2026-06-18T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Bosnia y Herzegovina\",\"af\":\"ba\"},{\"u\":\"2026-06-18T22:00:00Z\",\"h\":\"Canadá\",\"hf\":\"ca\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Suiza\",\"hf\":\"ch\",\"a\":\"Canadá\",\"af\":\"ca\"},{\"u\":\"2026-06-24T19:00:00Z\",\"h\":\"Bosnia y Herzegovina\",\"hf\":\"ba\",\"a\":\"Qatar\",\"af\":\"qa\"},{\"u\":\"2026-06-13T22:00:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-14T01:00:00Z\",\"h\":\"Haití\",\"hf\":\"ht\",\"a\":\"Escocia\",\"af\":\"gb-sct\"},{\"u\":\"2026-06-19T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Marruecos\",\"af\":\"ma\"},{\"u\":\"2026-06-20T00:30:00Z\",\"h\":\"Brasil\",\"hf\":\"br\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Escocia\",\"hf\":\"gb-sct\",\"a\":\"Brasil\",\"af\":\"br\"},{\"u\":\"2026-06-24T22:00:00Z\",\"h\":\"Marruecos\",\"hf\":\"ma\",\"a\":\"Haití\",\"af\":\"ht\"},{\"u\":\"2026-06-13T01:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-14T04:00:00Z\",\"h\":\"Australia\",\"hf\":\"au\",\"a\":\"Türkiye\",\"af\":\"tr\"},{\"u\":\"2026-06-19T19:00:00Z\",\"h\":\"Estados Unidos\",\"hf\":\"us\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-20T03:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Paraguay\",\"af\":\"py\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Türkiye\",\"hf\":\"tr\",\"a\":\"Estados Unidos\",\"af\":\"us\"},{\"u\":\"2026-06-26T02:00:00Z\",\"h\":\"Paraguay\",\"hf\":\"py\",\"a\":\"Australia\",\"af\":\"au\"},{\"u\":\"2026-06-14T17:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-14T23:00:00Z\",\"h\":\"Costa de Marfil\",\"hf\":\"ci\",\"a\":\"Ecuador\",\"af\":\"ec\"},{\"u\":\"2026-06-20T20:00:00Z\",\"h\":\"Alemania\",\"hf\":\"de\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-21T00:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Curazao\",\"af\":\"cw\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Curazao\",\"hf\":\"cw\",\"a\":\"Costa de Marfil\",\"af\":\"ci\"},{\"u\":\"2026-06-25T20:00:00Z\",\"h\":\"Ecuador\",\"hf\":\"ec\",\"a\":\"Alemania\",\"af\":\"de\"},{\"u\":\"2026-06-14T20:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-15T02:00:00Z\",\"h\":\"Suecia\",\"hf\":\"se\",\"a\":\"Túnez\",\"af\":\"tn\"},{\"u\":\"2026-06-20T17:00:00Z\",\"h\":\"Países Bajos\",\"hf\":\"nl\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-21T04:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Japón\",\"af\":\"jp\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Japón\",\"hf\":\"jp\",\"a\":\"Suecia\",\"af\":\"se\"},{\"u\":\"2026-06-25T23:00:00Z\",\"h\":\"Túnez\",\"hf\":\"tn\",\"a\":\"Países Bajos\",\"af\":\"nl\"},{\"u\":\"2026-06-15T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-16T01:00:00Z\",\"h\":\"Irán\",\"hf\":\"ir\",\"a\":\"Nueva Zelanda\",\"af\":\"nz\"},{\"u\":\"2026-06-21T19:00:00Z\",\"h\":\"Bélgica\",\"hf\":\"be\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-22T01:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Egipto\",\"af\":\"eg\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Egipto\",\"hf\":\"eg\",\"a\":\"Irán\",\"af\":\"ir\"},{\"u\":\"2026-06-27T03:00:00Z\",\"h\":\"Nueva Zelanda\",\"hf\":\"nz\",\"a\":\"Bélgica\",\"af\":\"be\"},{\"u\":\"2026-06-15T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-15T22:00:00Z\",\"h\":\"Arabia Saudita\",\"hf\":\"sa\",\"a\":\"Uruguay\",\"af\":\"uy\"},{\"u\":\"2026-06-21T16:00:00Z\",\"h\":\"España\",\"hf\":\"es\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-21T22:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"Cabo Verde\",\"af\":\"cv\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Cabo Verde\",\"hf\":\"cv\",\"a\":\"Arabia Saudita\",\"af\":\"sa\"},{\"u\":\"2026-06-27T00:00:00Z\",\"h\":\"Uruguay\",\"hf\":\"uy\",\"a\":\"España\",\"af\":\"es\"},{\"u\":\"2026-06-16T19:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-16T22:00:00Z\",\"h\":\"Irak\",\"hf\":\"iq\",\"a\":\"Noruega\",\"af\":\"no\"},{\"u\":\"2026-06-22T21:00:00Z\",\"h\":\"Francia\",\"hf\":\"fr\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-23T00:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Senegal\",\"af\":\"sn\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Noruega\",\"hf\":\"no\",\"a\":\"Francia\",\"af\":\"fr\"},{\"u\":\"2026-06-26T19:00:00Z\",\"h\":\"Senegal\",\"hf\":\"sn\",\"a\":\"Irak\",\"af\":\"iq\"},{\"u\":\"2026-06-17T01:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-17T04:00:00Z\",\"h\":\"Austria\",\"hf\":\"at\",\"a\":\"Jordania\",\"af\":\"jo\"},{\"u\":\"2026-06-22T17:00:00Z\",\"h\":\"Argentina\",\"hf\":\"ar\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-23T03:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Algeria\",\"af\":\"dz\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Algeria\",\"hf\":\"dz\",\"a\":\"Austria\",\"af\":\"at\"},{\"u\":\"2026-06-28T02:00:00Z\",\"h\":\"Jordania\",\"hf\":\"jo\",\"a\":\"Argentina\",\"af\":\"ar\"},{\"u\":\"2026-06-17T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-18T02:00:00Z\",\"h\":\"Uzbekistán\",\"hf\":\"uz\",\"a\":\"Colombia\",\"af\":\"co\"},{\"u\":\"2026-06-23T17:00:00Z\",\"h\":\"Portugal\",\"hf\":\"pt\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-24T02:00:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"DR Congo\",\"af\":\"cd\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"Colombia\",\"hf\":\"co\",\"a\":\"Portugal\",\"af\":\"pt\"},{\"u\":\"2026-06-27T23:30:00Z\",\"h\":\"DR Congo\",\"hf\":\"cd\",\"a\":\"Uzbekistán\",\"af\":\"uz\"},{\"u\":\"2026-06-17T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-17T23:00:00Z\",\"h\":\"Ghana\",\"hf\":\"gh\",\"a\":\"Panamá\",\"af\":\"pa\"},{\"u\":\"2026-06-23T20:00:00Z\",\"h\":\"Inglaterra\",\"hf\":\"gb-eng\",\"a\":\"Ghana\",\"af\":\"gh\"},{\"u\":\"2026-06-23T23:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Croacia\",\"af\":\"hr\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Panamá\",\"hf\":\"pa\",\"a\":\"Inglaterra\",\"af\":\"gb-eng\"},{\"u\":\"2026-06-27T21:00:00Z\",\"h\":\"Croacia\",\"hf\":\"hr\",\"a\":\"Ghana\",\"af\":\"gh\"}];\nconst PAISES = {\n  'el salvador':[-6,'El Salvador'],'salvador':[-6,'El Salvador'],'mexico':[-6,'México'],'méxico':[-6,'México'],\n  'guatemala':[-6,'Guatemala'],'honduras':[-6,'Honduras'],'nicaragua':[-6,'Nicaragua'],'costa rica':[-6,'Costa Rica'],\n  'colombia':[-5,'Colombia'],'peru':[-5,'Perú'],'perú':[-5,'Perú'],'ecuador':[-5,'Ecuador'],'panama':[-5,'Panamá'],'panamá':[-5,'Panamá'],\n  'bolivia':[-4,'Bolivia'],'venezuela':[-4,'Venezuela'],'chile':[-4,'Chile'],'paraguay':[-4,'Paraguay'],\n  'republica dominicana':[-4,'República Dominicana'],'república dominicana':[-4,'República Dominicana'],'dominicana':[-4,'República Dominicana'],\n  'puerto rico':[-4,'Puerto Rico'],'cuba':[-4,'Cuba'],\n  'argentina':[-3,'Argentina'],'uruguay':[-3,'Uruguay'],'brasil':[-3,'Brasil'],'brazil':[-3,'Brasil'],\n  'espana':[2,'España'],'españa':[2,'España'],'spain':[2,'España'],\n  'estados unidos':[-4,'Estados Unidos'],'usa':[-4,'Estados Unidos'],'eeuu':[-4,'Estados Unidos'],'ee.uu':[-4,'Estados Unidos'],\n  'united states':[-4,'Estados Unidos'],'canada':[-4,'Canadá'],'canadá':[-4,'Canadá']\n};\nfunction detectarPais(texto) {\n  const t = (texto||'').toLowerCase().replace(/[¡!.,;:]/g,' ').replace(/\\s+/g,' ').trim();\n  if (t.length > 45) return null;\n  for (const [p, info] of Object.entries(PAISES)) {\n    if (t === p || t === 'estoy en '+p || t === 'desde '+p || t === 'en '+p || t === 'soy de '+p || t === 'de '+p || (t.endsWith(' '+p) && t.split(' ').length <= 4)) {\n      return { nombre: info[1], offset: info[0] };\n    }\n  }\n  return null;\n}\nfunction flagEmoji(code) {\n  if (!code) return '⚽';\n  if (code === 'gb-sct') return '🏴󠁧󠁢󠁳󠁣󠁴󠁿';\n  if (code === 'gb-eng') return '🏴󠁧󠁢󠁥󠁮󠁧󠁿';\n  if (code === 'gb-wls') return '🏴󠁧󠁢󠁷󠁬󠁳󠁿';\n  return String.fromCodePoint(...[...code.toUpperCase()].map(c => 127397 + c.charCodeAt(0)));\n}\nfunction mensajePais(pais) {\n  const ahora = Date.now();\n  const prox = CAL.map(p => ({...p, ts: Date.parse(p.u)}))\n    .filter(p => p.ts > ahora - 2*3600000)\n    .sort((x,y) => x.ts - y.ts)\n    .slice(0, 3);\n  const dias = ['dom','lun','mar','mié','jue','vie','sáb'];\n  const lines = ['⏰ ¡Listo! Horarios en hora de ' + pais.nombre + ':', ''];\n  for (const p of prox) {\n    const d = new Date(p.ts + pais.offset*3600000);\n    let h = d.getUTCHours(); const m = d.getUTCMinutes();\n    const ampm = h >= 12 ? 'PM' : 'AM'; h = h % 12 || 12;\n    lines.push(flagEmoji(p.hf) + ' ' + p.h + ' vs ' + p.a + ' ' + flagEmoji(p.af));\n    lines.push('   ' + dias[d.getUTCDay()] + ' · ' + h + ':' + String(m).padStart(2,'0') + ' ' + ampm);\n    lines.push('');\n  }\n  lines.push('✅ Guardé tu país — desde ahora todas tus alertas llegarán con tu hora local ⚽');\n  lines.push('');\n  lines.push('#RODAI Sport');\n  return lines.join('\\n');\n}\n\nconst msg = $('WA — Extraer Mensaje').first().json;\nconst text = (msg.text || '').trim();\nconst phone = msg.phone;\nconst rows = $input.all();\nconst dbRow = (rows.length > 0 && rows[0].json && rows[0].json.estado) ? rows[0].json : {};\nconst estado = dbRow.estado || null;\nconst nombre_temp = dbRow.nombre_temp || null;\n\nlet accion = 'switch_normal';\nlet telefono_limpio = '';\nconst msg_type = msg.msg_type || 'text';\n\n// Reacciones (👍 a una alerta) y mensajes de sistema: NO responder nada\nif (['reaction', 'system', 'unsupported', 'ephemeral'].includes(msg_type)) {\n  return [{ json: { accion: 'ignorar', msg_type, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n}\n\n// Mensajes que no son texto (sticker, audio, imagen, video...): respuesta dedicada\nif (msg_type !== 'text' && !estado) {\n  return [{ json: { accion: 'no_texto', msg_type, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n}\n\nif (estado === 'pregunta_activar') {\n  if (text === '1') accion = 'pide_nombre';\n  else if (text === '2') accion = 'cancelar';\n  else accion = 'repregunta';\n} else if (estado === 'esperando_nombre') {\n  accion = 'pide_telefono';\n} else if (estado === 'esperando_telefono') {\n  telefono_limpio = text.replace(/[^0-9]/g, '');\n  if (telefono_limpio.length >= 8 && telefono_limpio.length <= 15) accion = 'enviar_pago';\n  else accion = 'telefono_invalido';\n} else {\n  // ONBOARDING_PAGO: false = ALTA va directo a bienvenida simple (demo).\n  // Cambiar a true despues del partido de Corea del Sur para activar flujo de pago.\n  const ONBOARDING_PAGO = false;\n  if (/^\\s*\\d{1,2}\\s*[-\\u2013\\u2014aA]\\s*\\d{1,2}\\s*$/.test(text)) accion = 'prediccion';\n  else if (ONBOARDING_PAGO && text.toLowerCase().includes('alta')) accion = 'onboard_start';\n  else { const _p = detectarPais(text); if (_p) { return [{ json: { accion: 'pais', phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio, pais_msg: mensajePais(_p), pais_nombre: _p.nombre.replace(/'/g,''), pais_offset: _p.offset } }]; } }\n}\n\nreturn [{ json: { accion, phone, text, name: msg.name || '', estado, nombre_temp, telefono_limpio } }];\n"}},{"id":"wa-router","name":"WA — Router Onboarding","type":"n8n-nodes-base.switch","typeVersion":3,"position":[200,0],"parameters":{"rules":{"values":[{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"switch_normal","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"switch_normal"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"onboard_start","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"onboard_start"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pide_nombre","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pide_nombre"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pide_telefono","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pide_telefono"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"enviar_pago","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"enviar_pago"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"cancelar","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"cancelar"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"repregunta","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"repregunta"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"telefono_invalido","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"telefono_invalido"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"no_texto","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"no_texto"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"ignorar","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"ignorar"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"prediccion","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"prediccion"},{"conditions":{"conditions":[{"leftValue":"={{ $json.accion }}","rightValue":"pais","operator":{"type":"string","operation":"equals"}}],"combinator":"and","options":{"caseSensitive":false,"typeValidation":"strict"}},"renameOutput":true,"outputKey":"pais"}]},"options":{}}},{"id":"ob-start-db","name":"ONBOARD — Guardar Pregunta","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,-400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO wa_conversacion (phone, estado, updated_at) VALUES ('\" + $('WA — Decidir Acción').first().json.phone + \"', 'pregunta_activar', NOW()) ON CONFLICT (phone) DO UPDATE SET estado='pregunta_activar', updated_at=NOW()\" }}"}},{"id":"ob-start-msg","name":"ONBOARD — Preguntar Activar","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,-400],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"⚽ ¡Hola! Soy el bot de alertas del Mundial 2026.\\n\\n¿Quieres recibir alertas de goles, resultados e info con IA?\\n\\n1 - SÍ, quiero activarme\\n2 - NO, gracias\" } } }}"}},{"id":"ob-start-r","name":"ONBOARD START — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,-400],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-nombre-db","name":"ONBOARD — Guardar Estado Nombre","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,-200],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE wa_conversacion SET estado='esperando_nombre', updated_at=NOW() WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-nombre-msg","name":"ONBOARD — Pedir Nombre","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,-200],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Perfecto! 🙌\\n\\n¿Cuál es tu nombre y apellido?\" } } }}"}},{"id":"ob-nombre-r","name":"ONBOARD NOMBRE — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,-200],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-tel-db","name":"ONBOARD — Guardar Nombre y Estado Tel","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,0],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE wa_conversacion SET nombre_temp='\" + ($('WA — Decidir Acción').first().json.text || '').replace(/'/g, \"''\") + \"', estado='esperando_telefono', updated_at=NOW() WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-tel-msg","name":"ONBOARD — Pedir Teléfono","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,0],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Gracias 😊\\n\\n¿Cuál es tu número de WhatsApp? Escríbelo en formato internacional:\\n+503XXXXXXXX o +52XXXXXXXXXX\" } } }}"}},{"id":"ob-tel-r","name":"ONBOARD TEL — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,0],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-pago-db","name":"ONBOARD — Crear Suscriptor","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,200],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"INSERT INTO suscriptores (name, phone, platform, active, demo_only, subscribed_at, last_message_at, country, created_at, updated_at) VALUES ('\" + ($('WA — Decidir Acción').first().json.nombre_temp || '').replace(/'/g, \"''\") + \"', '\" + $('WA — Decidir Acción').first().json.telefono_limpio + \"', 'whatsapp', true, false, NOW(), NOW(), (\" + JSON.stringify((function(p){if(p.indexOf('503')===0)return 'El Salvador';if(p.indexOf('502')===0)return 'Guatemala';if(p.indexOf('504')===0)return 'Honduras';if(p.indexOf('505')===0)return 'Nicaragua';if(p.indexOf('506')===0)return 'Costa Rica';if(p.indexOf('507')===0)return 'Panamá';if(p.indexOf('52')===0)return 'México';if(p.indexOf('51')===0)return 'Perú';if(p.indexOf('57')===0)return 'Colombia';if(p.indexOf('1787')===0||p.indexOf('1939')===0)return 'Puerto Rico';if(p.indexOf('54')===0)return 'Argentina';if(p.indexOf('56')===0)return 'Chile';if(p.indexOf('598')===0)return 'Uruguay';if(p.indexOf('593')===0)return 'Ecuador';if(p.indexOf('34')===0)return 'España';if(p.indexOf('1')===0)return 'USA';return 'Otro';})($('WA — Decidir Acción').first().json.telefono_limpio)).replace(/\"/g, \"'\") + \", NOW(), NOW()) ON CONFLICT (phone) DO UPDATE SET name=EXCLUDED.name, active=true, updated_at=NOW(), last_message_at=NOW(), country=EXCLUDED.country\" }}"}},{"id":"ob-pago-msg","name":"ONBOARD — Enviar Link Pago","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,200],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"¡Ya casi! 🎉 Solo falta activar tu suscripción.\\n\\nPaga $4.99 por todo el Mundial 2026 aquí:\\nhttps://www.paypal.com/ncp/payment/JRQL4J79ECAWQ\\n\\nDespués de pagar escríbenos PAGO y te confirmamos la activación. ⚽\" } } }}"}},{"id":"ob-pago-r","name":"ONBOARD PAGO — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,200],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-cancel-db","name":"ONBOARD — Limpiar Cancelado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[400,400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"DELETE FROM wa_conversacion WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ob-cancel-msg","name":"ONBOARD — Confirmar No Quiere","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[650,400],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Entendido 👍 Si en algún momento quieres activarte escríbenos ALTA.\\n\\nResponde STOP para no recibir más mensajes.\" } } }}"}},{"id":"ob-cancel-r","name":"ONBOARD CANCEL — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[900,400],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-repregunta-msg","name":"ONBOARD — Repregunta","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,600],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Por favor responde:\\n1 - SÍ, quiero activarme\\n2 - NO, gracias\" } } }}"}},{"id":"ob-repregunta-r","name":"ONBOARD REPREGUNTA — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,600],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"ob-limpiar-estado","name":"ONBOARD — Limpiar Estado","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[520,200],"onError":"continueRegularOutput","credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"DELETE FROM wa_conversacion WHERE phone='\" + $('WA — Decidir Acción').first().json.phone + \"'\" }}"}},{"id":"ntf-interesado","name":"NOTIF TG — Nuevo Interesado","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[520,-400],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=🆕 Nuevo interesado WhatsApp\n\nNombre: {{ $('WA — Extraer Mensaje').first().json.name }}\nTeléfono: +{{ $('WA — Extraer Mensaje').first().json.phone }}\nMensaje: {{ $('WA — Extraer Mensaje').first().json.text }}\n\nInició onboarding (pregunta 1/2).","additionalFields":{"appendAttribution":false}},"webhookId":"e00268e5-d28f-4a97-9260-0d9a49d65d6a"},{"id":"ntf-registrado","name":"NOTIF TG — Suscriptor Registrado","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[760,200],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=✅ SUSCRIPTOR REGISTRADO (onboarding completo)\n\nNombre: {{ $('WA — Decidir Acción').first().json.nombre_temp }}\nTeléfono guardado: +{{ $('WA — Decidir Acción').first().json.telefono_limpio }}\nChat WhatsApp: +{{ $('WA — Decidir Acción').first().json.phone }}\n\nSe le envió el link de PayPal $4.99.","additionalFields":{"appendAttribution":false}},"webhookId":"efec259b-a48c-4586-ac12-bbb1708a6e57"},{"id":"ntf-baja","name":"NOTIF TG — Baja STOP","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,-120],"onError":"continueRegularOutput","credentials":{"telegramApi":{"id":"yovv0GvglRF0YNLq","name":"Telegram Bot Mundial 2026"}},"parameters":{"chatId":"675855669","text":"=🔻 BAJA por STOP\n\nNombre: {{ $('WA — Extraer Mensaje').first().json.name }}\nTeléfono: +{{ $('WA — Extraer Mensaje').first().json.phone }}","additionalFields":{"appendAttribution":false}},"webhookId":"55faaef0-959c-44ca-9d39-0e32a31d8055"},{"id":"ob-tel-inv","name":"ONBOARD — Teléfono Inválido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,760],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"Ese número no parece válido 🤔\\n\\nEscríbelo en formato internacional, solo números, por ejemplo:\\n+50312345678\" } } }}"}},{"id":"ob-tel-inv-r","name":"ONBOARD TELINV — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,760],"parameters":{"respondWith":"text","responseBody":"ok"}},{"id":"wa-stamp","name":"WA — Stamp Último Mensaje","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-340,0],"alwaysOutputData":true,"onError":"continueRegularOutput","credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"parameters":{"operation":"executeQuery","query":"={{ \"UPDATE suscriptores SET last_message_at=NOW() WHERE phone='\" + $('WA — Extraer Mensaje').first().json.phone + \"'\" }}"}},{"id":"wa-tool-new-0","name":"🥇 Goleadores del Mundial","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1100,700],"parameters":{"url":"https://v3.football.api-sports.io/players/topscorers?league=1&season=2026","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Tabla de goleadores del Mundial 2026: quién lleva más goles en el torneo, con equipo y estadísticas. Úsala cuando pregunten por el máximo goleador, pichichi, bota de oro o quién ha anotado más."},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-1","name":"📋 Alineaciones del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1280,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/lineups?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Alineaciones titulares, suplentes y formación táctica de un partido. NECESITA fixture_id numérico: obtenlo PRIMERO llamando 'API Partidos del Día' o 'API Marcadores en Vivo' (campo fixture.id). Úsala cuando pregunten quién juega, el once titular, la formación.","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-2","name":"🎯 Eventos del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1460,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/events?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Eventos minuto a minuto de un partido: goles (con autor y asistencia), tarjetas amarillas/rojas, cambios, VAR. NECESITA fixture_id numérico: obtenlo PRIMERO con 'API Partidos del Día' o 'API Marcadores en Vivo'. Úsala cuando pregunten quién anotó, en qué minuto, tarjetas, expulsados.","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-tool-new-3","name":"⚔️ Historial Entre Equipos","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1640,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/headtohead?h2h={team_ids}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Últimos enfrentamientos directos entre dos equipos (historial head-to-head). Pasa team_ids en formato 'id1-id2', ejemplo '16-1504' para Mexico vs Ghana. IDs: Mexico=16 Colombia=8 Argentina=26 Brasil=6 USA=2384 España=9 Francia=2 Alemania=25 Inglaterra=10 Portugal=27 CoreaSur=17 Sudafrica=1531 Chequia=770. Úsala cuando pregunten cómo les ha ido entre sí, quién ha ganado históricamente.","placeholderDefinitions":{"values":[{"name":"team_ids","description":"two team IDs joined by hyphen, e.g. 16-1504","type":"string"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"id":"wa-notext","name":"WA — Responder No-Texto","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[400,920],"parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ (function(){ const t = $('WA — Decidir Acción').first().json.msg_type; const nombre = ($('WA — Extraer Mensaje').first().json.name || '').split(' ')[0]; const saludo = nombre ? '' + nombre + ', ' : ''; let cuerpo; if (t === 'audio' || t === 'voice') cuerpo = '🎧 ' + saludo + 'escuché tu nota de voz... bueno, casi 😅 Por ahora solo entiendo mensajes escritos.'; else if (t === 'image') cuerpo = '📸 ' + saludo + 'vi tu imagen, ¡buen detalle! Pero donde mejor te ayudo es por texto.'; else if (t === 'sticker') cuerpo = '😄 ' + saludo + '¡buen sticker! Así se vive el Mundial.'; else if (t === 'video') cuerpo = '🎬 ' + saludo + 'recibí tu video. Por ahora solo proceso texto.'; else cuerpo = '🤖 ' + saludo + 'recibí tu mensaje, pero solo entiendo texto por ahora.'; return { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Extraer Mensaje').first().json.phone, \"type\": \"text\", \"text\": { \"body\": cuerpo + '\\n\\n⚽ Pregúntame lo que quieras del Mundial: marcadores, alineaciones, goleadores, horarios. ¡Te respondo al instante!' } }; })() }}"}},{"id":"wa-notext-r","name":"NO-TEXTO — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[650,920],"parameters":{"respondWith":"text","responseBody":"ok"}},{"name":"WA PRED — Parse","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,1400],"parameters":{"jsCode":"const d = $('WA — Decidir Acción').first().json;\nconst m = (d.text||'').match(/(\\d{1,2})\\s*[-\\u2013\\u2014aA]\\s*(\\d{1,2})/);\nreturn [{json:{ pred: m ? m[1]+'-'+m[2] : (d.text||'').trim(), phone: d.phone, nombre: (d.name||'').replace(/'/g,'') }}];"},"id":"2a0b08b7-7563-4eea-8765-7d883ece8670"},{"name":"WA PRED — Guardar","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[1300,1400],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"onError":"continueRegularOutput","parameters":{"operation":"executeQuery","query":"INSERT INTO predicciones (canal, identidad, nombre, partido_id, prediccion) VALUES ('whatsapp', '{{ $json.phone }}', '{{ $json.nombre }}', 'kor-cze-20260611', '{{ $json.pred }}') ON CONFLICT (canal, identidad, partido_id) DO UPDATE SET prediccion = EXCLUDED.prediccion, creado_at = NOW() RETURNING id","options":{}},"id":"1336b0bf-c438-43f6-99cd-6bc8ce822332"},{"name":"WA PRED — Responder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1500,1400],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA PRED — Parse').first().json.phone, \"type\": \"text\", \"text\": { \"body\": \"🎯 ¡Anotado! Tu predicción: Corea del Sur \" + $('WA PRED — Parse').first().json.pred + \" Chequia\\n\\nAl final del partido te cuento si le atinaste ⚽\\n\\n#RODAI Sport\" } } }}","options":{}},"id":"c7798ac6-3f3c-4b63-a2b3-9fd5d4fb812f"},{"name":"WA PRED — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1700,1400],"parameters":{"respondWith":"text","responseBody":"ok"},"id":"475ae5f8-b8c5-4926-98a4-62450c48eae3"},{"id":"wa-tool-stats","name":"📈 Estadísticas del Partido","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[1820,700],"parameters":{"url":"https://v3.football.api-sports.io/fixtures/statistics?fixture={fixture_id}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","toolDescription":"Obtiene estadísticas en vivo o finales de un partido específico: posesión, tiros totales, tiros a puerta, córners, faltas, tarjetas, xG. Requiere el fixture_id del partido (obtenlo primero con la tool de marcadores/partidos del día).","placeholderDefinitions":{"values":[{"name":"fixture_id","description":"numeric fixture ID from fixtures endpoint","type":"number"}]}},"credentials":{"httpHeaderAuth":{"id":"0O1iRnWh7lP5isWW","name":"API-Football Mundial 2026"}}},{"name":"WA PAIS — Responder","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1100,1600],"onError":"continueRegularOutput","parameters":{"method":"POST","url":"https://api.kapso.ai/meta/whatsapp/v24.0/1365226796664715/messages","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-API-KEY","value":"168d831e9f6e1e36601accc6d72c4e4229c1a20e38126f63f59096a04b842da7"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"messaging_product\": \"whatsapp\", \"to\": $('WA — Decidir Acción').first().json.phone, \"type\": \"text\", \"text\": { \"body\": $('WA — Decidir Acción').first().json.pais_msg } } }}","options":{}},"id":"3fc9fbda-ce85-4503-bfbe-e86eaebdcf89"},{"name":"WA PAIS — Respond 200","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1300,1600],"parameters":{"respondWith":"text","responseBody":"ok"},"id":"14914bb3-ff7d-429f-83b5-b7782b7b71a4"},{"name":"WA PAIS — Guardar","type":"n8n-nodes-base.postgres","typeVersion":2.4,"position":[950,1600],"credentials":{"postgres":{"id":"lZiJmyplRgdvifzN","name":"PG Local RODAI"}},"onError":"continueRegularOutput","parameters":{"operation":"executeQuery","query":"UPDATE suscriptores SET country = '{{ $json.pais_nombre }}', tz_offset = {{ $json.pais_offset }} WHERE phone = '{{ $json.phone }}' RETURNING id","options":{}},"id":"5de86291-3a1e-46c2-97ad-af024393c9f8"}],"connections":{"Kapso — Webhook Entrante":{"main":[[{"node":"WA — Extraer Mensaje","type":"main","index":0}]]},"WA — Extraer Mensaje":{"main":[[{"node":"WA — Stamp Último Mensaje","type":"main","index":0}]]},"WA — Detectar ALTA / STOP / PREGUNTA":{"main":[[{"node":"WA ALTA — Guardar en DB","type":"main","index":0}],[{"node":"WA STOP — Dar de Baja","type":"main","index":0}],[{"node":"WA FEEDBACK — Guardar Rating","type":"main","index":0}],[{"node":"WA SOPORTE — Notificar Erick","type":"main","index":0}],[{"node":"WA — AI Agent Mundial","type":"main","index":0}]]},"WA ALTA — Guardar en DB":{"main":[[{"node":"WA ALTA — Enviar Bienvenida","type":"main","index":0}]]},"WA STOP — Dar de Baja":{"main":[[{"node":"NOTIF TG — Baja STOP","type":"main","index":0}]]},"WA — AI Agent Mundial":{"main":[[{"node":"WA — Enviar Respuesta IA","type":"main","index":0}]]},"WA — OpenAI gpt-4o":{"ai_languageModel":[[{"node":"WA — AI Agent Mundial","type":"ai_languageModel","index":0}]]},"🏳️ Partidos de Equipo":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🗓️ API Partidos del Día":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"⚡ API Marcadores en Vivo":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"📊 API Tabla de Posiciones":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🔍 API Buscar Jugador":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA ALTA — Enviar Bienvenida":{"main":[[{"node":"WA ALTA — Respond 200","type":"main","index":0}]]},"WA STOP — Confirmar Baja":{"main":[[{"node":"WA STOP — Respond 200","type":"main","index":0}]]},"WA — Enviar Respuesta IA":{"main":[[{"node":"WA — Respond 200","type":"main","index":0}]]},"WA SOPORTE — Notificar Erick":{"main":[[{"node":"WA SOPORTE — Responder Usuario","type":"main","index":0}]]},"WA SOPORTE — Responder Usuario":{"main":[[{"node":"WA SOPORTE — Respond 200","type":"main","index":0}]]},"WA FEEDBACK — Guardar Rating":{"main":[[{"node":"WA FEEDBACK — Responder Gracias","type":"main","index":0}]]},"WA FEEDBACK — Responder Gracias":{"main":[[{"node":"WA FEEDBACK — Respond 200","type":"main","index":0}]]},"WA — Check Estado Conversación":{"main":[[{"node":"WA — Decidir Acción","type":"main","index":0}]]},"WA — Decidir Acción":{"main":[[{"node":"WA — Router Onboarding","type":"main","index":0}]]},"WA — Router Onboarding":{"main":[[{"node":"WA — Detectar ALTA / STOP / PREGUNTA","type":"main","index":0}],[{"node":"ONBOARD — Guardar Pregunta","type":"main","index":0}],[{"node":"ONBOARD — Guardar Estado Nombre","type":"main","index":0}],[{"node":"ONBOARD — Guardar Nombre y Estado Tel","type":"main","index":0}],[{"node":"ONBOARD — Crear Suscriptor","type":"main","index":0}],[{"node":"ONBOARD — Limpiar Cancelado","type":"main","index":0}],[{"node":"ONBOARD — Repregunta","type":"main","index":0}],[{"node":"ONBOARD — Teléfono Inválido","type":"main","index":0}],[{"node":"WA — Responder No-Texto","type":"main","index":0}],[{"node":"NO-TEXTO — Respond 200","type":"main","index":0}],[{"node":"WA PRED — Parse","type":"main","index":0}],[{"node":"WA PAIS — Guardar","type":"main","index":0}]]},"ONBOARD — Guardar Pregunta":{"main":[[{"node":"NOTIF TG — Nuevo Interesado","type":"main","index":0}]]},"ONBOARD — Preguntar Activar":{"main":[[{"node":"ONBOARD START — Respond 200","type":"main","index":0}]]},"ONBOARD — Guardar Estado Nombre":{"main":[[{"node":"ONBOARD — Pedir Nombre","type":"main","index":0}]]},"ONBOARD — Pedir Nombre":{"main":[[{"node":"ONBOARD NOMBRE — Respond 200","type":"main","index":0}]]},"ONBOARD — Guardar Nombre y Estado Tel":{"main":[[{"node":"ONBOARD — Pedir Teléfono","type":"main","index":0}]]},"ONBOARD — Pedir Teléfono":{"main":[[{"node":"ONBOARD TEL — Respond 200","type":"main","index":0}]]},"ONBOARD — Crear Suscriptor":{"main":[[{"node":"ONBOARD — Limpiar Estado","type":"main","index":0}]]},"ONBOARD — Enviar Link Pago":{"main":[[{"node":"ONBOARD PAGO — Respond 200","type":"main","index":0}]]},"ONBOARD — Limpiar Cancelado":{"main":[[{"node":"ONBOARD — Confirmar No Quiere","type":"main","index":0}]]},"ONBOARD — Confirmar No Quiere":{"main":[[{"node":"ONBOARD CANCEL — Respond 200","type":"main","index":0}]]},"ONBOARD — Repregunta":{"main":[[{"node":"ONBOARD REPREGUNTA — Respond 200","type":"main","index":0}]]},"NOTIF TG — Nuevo Interesado":{"main":[[{"node":"ONBOARD — Preguntar Activar","type":"main","index":0}]]},"ONBOARD — Limpiar Estado":{"main":[[{"node":"NOTIF TG — Suscriptor Registrado","type":"main","index":0}]]},"NOTIF TG — Suscriptor Registrado":{"main":[[{"node":"ONBOARD — Enviar Link Pago","type":"main","index":0}]]},"NOTIF TG — Baja STOP":{"main":[[{"node":"WA STOP — Confirmar Baja","type":"main","index":0}]]},"ONBOARD — Teléfono Inválido":{"main":[[{"node":"ONBOARD TELINV — Respond 200","type":"main","index":0}]]},"WA — Stamp Último Mensaje":{"main":[[{"node":"WA — Check Estado Conversación","type":"main","index":0}]]},"🥇 Goleadores del Mundial":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"📋 Alineaciones del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"🎯 Eventos del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"⚔️ Historial Entre Equipos":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA — Responder No-Texto":{"main":[[{"node":"NO-TEXTO — Respond 200","type":"main","index":0}]]},"WA PRED — Parse":{"main":[[{"node":"WA PRED — Guardar","type":"main","index":0}]]},"WA PRED — Guardar":{"main":[[{"node":"WA PRED — Responder","type":"main","index":0}]]},"WA PRED — Responder":{"main":[[{"node":"WA PRED — Respond 200","type":"main","index":0}]]},"📈 Estadísticas del Partido":{"ai_tool":[[{"node":"WA — AI Agent Mundial","type":"ai_tool","index":0}]]},"WA PAIS — Responder":{"main":[[{"node":"WA PAIS — Respond 200","type":"main","index":0}]]},"WA PAIS — Guardar":{"main":[[{"node":"WA PAIS — Responder","type":"main","index":0}]]}},"authors":"Erick RODAI","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-12T15:36:52.875Z","id":2328,"workflowId":"uL7p0wEMzomlNGOe","versionId":"4fcb0b96-4c46-4ba5-9fe0-52970d976de6","event":"activated","userId":"111326d0-ca57-4427-a4d0-5c6508637090"},{"createdAt":"2026-06-12T15:36:52.852Z","id":2327,"workflowId":"uL7p0wEMzomlNGOe","versionId":"4fcb0b96-4c46-4ba5-9fe0-52970d976de6","event":"deactivated","userId":"111326d0-ca57-4427-a4d0-5c6508637090"}]}}